<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedLabelRotation</key>
	<string>intensityInterpreterSpacing</string>
	<key>asynchronousScrollBehavior</key>
	<string>drawerWorkSaturation</string>
	<key>flexNearProxy</key>
	<string>immutableIconPosition</string>
	<key>futureAdapterVelocity</key>
	<string>arithmeticFactoryDepth</string>
	<key>newestMemberSize</key>
	<string>delegateFormCoord</string>
	<key>substantialParticleTop</key>
	<string>descriptorOrVisitor</string>
</dict>
</plist>
