<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveInterpolationTint</key>
	<string>sceneFunctionHead</string>
	<key>composablePrioritySkewy</key>
	<string>cartesianMenuIndex</string>
	<key>coordinatorThanPrototype</key>
	<string>stepThroughSingleton</string>
	<key>frameAboutProxy</key>
	<string>resourceUntilVar</string>
	<key>globalCheckboxDistance</key>
	<string>lastWidgetAcceleration</string>
	<key>nextFeatureSpeed</key>
	<string>allocatorPatternVisible</string>
	<key>spriteBesideAdapter</key>
	<string>graphCycleDensity</string>
	<key>statefulCommandMode</key>
	<string>semanticCosineOrigin</string>
</dict>
</plist>
