<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedScaffoldValidation</key>
	<string>cubitAwayMode</string>
	<key>characterStrategySpacing</key>
	<string>blocDecoratorOpacity</string>
	<key>graphWithState</key>
	<string>imageAlongFunction</string>
	<key>inactiveConvolutionValidation</key>
	<string>commandKindBehavior</string>
	<key>marginLikeForm</key>
	<string>zoneFromFlyweight</string>
	<key>modalPatternSaturation</key>
	<string>entityLikeFlyweight</string>
	<key>priorChartDirection</key>
	<string>completionContextDensity</string>
	<key>sliderAgainstForm</key>
	<string>cubeDecoratorIndex</string>
	<key>subtleCoordinatorAppearance</key>
	<string>presenterOrStyle</string>
</dict>
</plist>
