<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioCompositePadding</key>
	<string>concurrentCompleterOpacity</string>
	<key>asyncWithStructure</key>
	<string>popupThroughAdapter</string>
	<key>dimensionPlatformSaturation</key>
	<string>boxshadowEnvironmentAppearance</string>
	<key>durationNearCommand</key>
	<string>semanticGestureInterval</string>
	<key>immutableUtilState</key>
	<string>statefulDespiteType</string>
	<key>routeOutsideMediator</key>
	<string>mutableRouteShape</string>
	<key>smallEquipmentDensity</key>
	<string>originalDecorationDuration</string>
	<key>switchOfComposite</key>
	<string>channelContextMargin</string>
</dict>
</plist>
