<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDescriptorValidation</key>
	<string>observerAdapterDensity</string>
	<key>contractionForParameter</key>
	<string>largeCurveForce</string>
	<key>disabledStepContrast</key>
	<string>serviceLayerStatus</string>
	<key>layoutSinceVisitor</key>
	<string>textAtPlatform</string>
	<key>matrixProxyType</key>
	<string>transitionProcessCenter</string>
	<key>pageviewBesideParameter</key>
	<string>transitionLayerTension</string>
	<key>workflowKindBrightness</key>
	<string>painterTempleTop</string>
</dict>
</plist>
