<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateVersusNumber</key>
	<string>isolateLikeSystem</string>
	<key>collectionKindState</key>
	<string>sessionAmongInterpreter</string>
	<key>immutableStoryboardTransparency</key>
	<string>liteToolOrientation</string>
	<key>presenterActionMode</key>
	<string>spriteByFlyweight</string>
	<key>providerVarCenter</key>
	<string>priorityStateVisibility</string>
	<key>titleWithoutEnvironment</key>
	<string>chartValueBorder</string>
	<key>vectorStateFeedback</key>
	<string>loopThanPattern</string>
</dict>
</plist>
