<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoShaderSaturation</key>
	<string>parallelPageviewDistance</string>
	<key>axisUntilType</key>
	<string>relationalStreamOrientation</string>
	<key>commandTierForce</key>
	<string>dropdownbuttonProxyAcceleration</string>
	<key>euclideanBrushCoord</key>
	<string>denseAppbarSaturation</string>
	<key>stepLayerMomentum</key>
	<string>unactivatedStepOpacity</string>
</dict>
</plist>
