<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSegmentForce</key>
	<string>concreteAppbarInset</string>
	<key>delegateTierResponse</key>
	<string>scaffoldBesideFunction</string>
	<key>layoutByStyle</key>
	<string>menuLikeObserver</string>
	<key>particleFromKind</key>
	<string>widgetVariableFeedback</string>
	<key>prevSkinStatus</key>
	<string>descriptionWorkAcceleration</string>
	<key>reductionPerValue</key>
	<string>appbarContainParameter</string>
	<key>resolverJobDirection</key>
	<string>variantStageState</string>
</dict>
</plist>
