<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStyleSkewy</key>
	<string>entityActionOrigin</string>
	<key>containerIncludeBridge</key>
	<string>effectInFramework</string>
	<key>imagePhaseSaturation</key>
	<string>statelessNodeFlags</string>
	<key>observerVarFlags</key>
	<string>assetViaLayer</string>
</dict>
</plist>
