<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionCompositeSize</key>
	<string>transformerAroundVariable</string>
	<key>interactorFromJob</key>
	<string>seamlessBuilderShape</string>
	<key>stepForVariable</key>
	<string>equalizationBesideStyle</string>
	<key>usedDimensionPadding</key>
	<string>assetPerVariable</string>
</dict>
</plist>
