<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardDecoratorCenter</key>
	<string>directMusicRotation</string>
	<key>chapterBufferOffset</key>
	<string>titleUntilActivity</string>
	<key>controllerViaFunction</key>
	<string>borderScopeCount</string>
	<key>eventUntilSystem</key>
	<string>sizeChainTag</string>
	<key>isolateBeyondLevel</key>
	<string>retainedCursorVelocity</string>
	<key>lazyPromiseResponse</key>
	<string>switchStrategyInterval</string>
	<key>positionedKindRotation</key>
	<string>consultativeResponseCenter</string>
	<key>sliderBeyondFacade</key>
	<string>pageviewContextDuration</string>
</dict>
</plist>
