<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintMethodVisible</key>
	<string>storeLevelSkewx</string>
	<key>entityAlongCommand</key>
	<string>drawerViaState</string>
	<key>gesturedetectorValueRate</key>
	<string>specifyCursorVisibility</string>
	<key>inkwellFlyweightHue</key>
	<string>injectionDespiteMethod</string>
	<key>labelWithChain</key>
	<string>radiusExceptPlatform</string>
	<key>missedAnimationOffset</key>
	<string>exceptionLayerBehavior</string>
	<key>scalePlatformSpacing</key>
	<string>chartMethodCount</string>
	<key>sortedIntensityHue</key>
	<string>fragmentAgainstComposite</string>
	<key>stateAwayCommand</key>
	<string>criticalEquipmentTag</string>
	<key>tweenSystemHead</key>
	<string>touchOfPattern</string>
</dict>
</plist>
