<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintCommandIndex</key>
	<string>chapterPerMethod</string>
	<key>decorationOutsideKind</key>
	<string>observerModeInteraction</string>
	<key>explicitChartStyle</key>
	<string>effectSystemOpacity</string>
	<key>lossScopeInset</key>
	<string>coordinatorFrameworkIndex</string>
	<key>queryDespiteLayer</key>
	<string>presenterByProcess</string>
	<key>sampleLayerKind</key>
	<string>rowAndStructure</string>
	<key>textureDuringStyle</key>
	<string>notificationThroughBridge</string>
</dict>
</plist>
