<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVisitorInteraction</key>
	<string>immediateConstraintHead</string>
	<key>controllerLayerRight</key>
	<string>smartExpandedTint</string>
	<key>layoutByStructure</key>
	<string>gramWorkRight</string>
	<key>tickerContainCommand</key>
	<string>signWithStage</string>
</dict>
</plist>
