<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncScopeTop</key>
	<string>greatSkirtSpeed</string>
	<key>checklistTypeCenter</key>
	<string>boxshadowInterpreterIndex</string>
	<key>entityBeyondProxy</key>
	<string>requestTempleStyle</string>
	<key>handlerWithOperation</key>
	<string>permanentScreenTransparency</string>
	<key>lazyTabviewLocation</key>
	<string>declarativeLayerVelocity</string>
	<key>pointViaProxy</key>
	<string>aspectratioStyleResponse</string>
	<key>previewPerState</key>
	<string>catalystBesideLayer</string>
	<key>standaloneTickerRotation</key>
	<string>cycleAgainstSingleton</string>
</dict>
</plist>
