<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchVersusState</key>
	<string>delegateStyleScale</string>
	<key>constStorageTransparency</key>
	<string>extensionInFacade</string>
	<key>dynamicSkirtInset</key>
	<string>singletonContainProxy</string>
	<key>graphVisitorSize</key>
	<string>equalizationTaskVisibility</string>
	<key>loopOutsideTask</key>
	<string>graphicAndMethod</string>
	<key>responsiveTopicSaturation</key>
	<string>customGetxSkewy</string>
	<key>storageOfProcess</key>
	<string>durationIncludeWork</string>
	<key>threadTierStyle</key>
	<string>statefulReferenceRate</string>
</dict>
</plist>
