<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStyleTension</key>
	<string>synchronousListenerShape</string>
	<key>cubeThroughLevel</key>
	<string>allocatorFlyweightTop</string>
	<key>mediaNumberCoord</key>
	<string>mobileAlignmentCenter</string>
	<key>remainderStageSpeed</key>
	<string>nibContainPlatform</string>
	<key>requiredInterfaceColor</key>
	<string>rectAsSystem</string>
	<key>resultInObserver</key>
	<string>painterViaContext</string>
	<key>techniqueOrVisitor</key>
	<string>chapterForStrategy</string>
	<key>usageIncludeTemple</key>
	<string>subtleCallbackDepth</string>
</dict>
</plist>
