<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateCompositeShape</key>
	<string>sliderForProcess</string>
	<key>primaryAspectStyle</key>
	<string>commandBesidePattern</string>
	<key>reusableBrushCount</key>
	<string>materialMethodIndex</string>
	<key>similarSineLeft</key>
	<string>completerTierType</string>
	<key>techniqueStateForce</key>
	<string>blocNearStructure</string>
</dict>
</plist>
