<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePopupAcceleration</key>
	<string>graphForPattern</string>
	<key>listviewAlongBridge</key>
	<string>labelContainBuffer</string>
	<key>nativeCallbackVisibility</key>
	<string>buttonOperationAppearance</string>
	<key>radioObserverTheme</key>
	<string>sophisticatedFutureVisible</string>
	<key>remainderTypeTag</key>
	<string>builderPerAction</string>
	<key>scrollableNavigatorSaturation</key>
	<string>sequentialAxisTag</string>
</dict>
</plist>
