<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintLikePrototype</key>
	<string>euclideanSpotSkewx</string>
	<key>eagerNodeMode</key>
	<string>dedicatedControllerSaturation</string>
	<key>mapActivityDirection</key>
	<string>expandedOfComposite</string>
	<key>publicChartMode</key>
	<string>labelOfType</string>
	<key>storyboardScopeColor</key>
	<string>alphaProxyTop</string>
</dict>
</plist>
