<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAndMode</key>
	<string>globalProgressbarBorder</string>
	<key>gridviewInsideVar</key>
	<string>titleValueDistance</string>
	<key>hierarchicalManagerShape</key>
	<string>fusedAlphaVelocity</string>
	<key>monsterDecoratorDensity</key>
	<string>frameStructureStyle</string>
	<key>providerTierDirection</key>
	<string>buttonWithoutScope</string>
	<key>workflowChainSize</key>
	<string>resourceAboutKind</string>
</dict>
</plist>
