<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalSensorHue</key>
	<string>constRadioEdge</string>
	<key>menuEnvironmentDirection</key>
	<string>certificateFrameworkSaturation</string>
	<key>pinchableRadiusAppearance</key>
	<string>popupLikeForm</string>
	<key>timerForEnvironment</key>
	<string>baseAdapterScale</string>
</dict>
</plist>
