<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerZoneCoord</key>
	<string>curveDecoratorAppearance</string>
	<key>completerScopeAppearance</key>
	<string>mobxIncludeScope</string>
	<key>crudeFactoryVisible</key>
	<string>featureCompositeAcceleration</string>
	<key>greatProviderType</key>
	<string>declarativeProjectionCenter</string>
	<key>interactiveEventEdge</key>
	<string>featureProxyBorder</string>
	<key>sampleByTemple</key>
	<string>routerLikeStyle</string>
	<key>slashNumberCenter</key>
	<string>viewFunctionAppearance</string>
	<key>symbolStructureVisible</key>
	<string>accessoryByJob</string>
	<key>unaryVariableAcceleration</key>
	<string>activatedMetadataFormat</string>
	<key>vectorCycleKind</key>
	<string>priorTransitionBottom</string>
</dict>
</plist>
