<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAgainstPrototype</key>
	<string>normFlyweightSize</string>
	<key>difficultObserverTransparency</key>
	<string>resourceFunctionStyle</string>
	<key>entityWithMediator</key>
	<string>alignmentFromFunction</string>
	<key>frameStateInterval</key>
	<string>curveWithSystem</string>
	<key>monsterAwayPrototype</key>
	<string>discardedMethodKind</string>
	<key>monsterSincePattern</key>
	<string>stepDespiteLayer</string>
	<key>positionedAwayProcess</key>
	<string>commandBeyondParameter</string>
	<key>semanticResponseMomentum</key>
	<string>curveContainJob</string>
	<key>sequentialTechniqueSkewx</key>
	<string>containerAgainstLayer</string>
</dict>
</plist>
