<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedBaselineCoord</key>
	<string>mainScaffoldPressure</string>
	<key>frameMethodOpacity</key>
	<string>blocEnvironmentInterval</string>
	<key>interfaceThanPhase</key>
	<string>animationExceptFunction</string>
	<key>invisibleRequestSpacing</key>
	<string>grainKindRate</string>
	<key>mainRouterName</key>
	<string>webSkirtPosition</string>
	<key>sceneMediatorDelay</key>
	<string>popupAsPhase</string>
</dict>
</plist>
