<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAtState</key>
	<string>methodByDecorator</string>
	<key>disparatePositionTail</key>
	<string>streamSingletonTheme</string>
	<key>dropdownbuttonEnvironmentDepth</key>
	<string>rectPlatformBehavior</string>
	<key>logAsKind</key>
	<string>constEqualizationBottom</string>
	<key>newestConstraintBehavior</key>
	<string>popupInsideParameter</string>
	<key>plateFormFeedback</key>
	<string>beginnerDecorationDensity</string>
	<key>widgetOutsideAdapter</key>
	<string>lossBesideParam</string>
</dict>
</plist>
