<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTierCoord</key>
	<string>marginMementoAlignment</string>
	<key>gramParamTransparency</key>
	<string>checkboxIncludeProcess</string>
	<key>mediumEventTail</key>
	<string>prismaticMusicStyle</string>
	<key>nodeShapeType</key>
	<string>streamFrameworkShape</string>
	<key>queueBridgeState</key>
	<string>scrollablePainterFlags</string>
	<key>resultStageValidation</key>
	<string>greatErrorTop</string>
	<key>scaleBeyondFramework</key>
	<string>managerAdapterCoord</string>
	<key>sizeTypeHead</key>
	<string>widgetMethodInteraction</string>
	<key>timerAgainstComposite</key>
	<string>serviceAtOperation</string>
</dict>
</plist>
