<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateLikeBridge</key>
	<string>channelsAsFunction</string>
	<key>mediaActivityBorder</key>
	<string>oldEqualizationOffset</string>
	<key>nodeFunctionEdge</key>
	<string>featureSystemRight</string>
	<key>resultAboutInterpreter</key>
	<string>ephemeralNavigationScale</string>
	<key>segueMethodStatus</key>
	<string>consumerChainDistance</string>
	<key>sequentialSliderRate</key>
	<string>commonEffectOrientation</string>
	<key>streamFormTransparency</key>
	<string>directCommandDensity</string>
	<key>taskUntilScope</key>
	<string>largeDecorationIndex</string>
</dict>
</plist>
