<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitLayerShape</key>
	<string>concurrentButtonSkewy</string>
	<key>boxPhaseDelay</key>
	<string>normalTopicDelay</string>
	<key>hashAroundPlatform</key>
	<string>concurrentDurationFeedback</string>
	<key>integerBufferSkewx</key>
	<string>primaryStoreAppearance</string>
	<key>mediaqueryStrategyShade</key>
	<string>sophisticatedEntityRotation</string>
	<key>protocolDuringParameter</key>
	<string>apertureWithValue</string>
	<key>smallResourceFormat</key>
	<string>alphaContextFlags</string>
	<key>zoneWorkTransparency</key>
	<string>hardStackState</string>
</dict>
</plist>
