<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureExceptVar</key>
	<string>tappableSliderMargin</string>
	<key>graphicAsDecorator</key>
	<string>usecaseFunctionMomentum</string>
	<key>localModelColor</key>
	<string>offsetObserverDirection</string>
	<key>mediocrePageviewKind</key>
	<string>subpixelThanFlyweight</string>
	<key>modelSingletonFeedback</key>
	<string>curveWithTemple</string>
	<key>movementDespiteVar</key>
	<string>durationMethodTop</string>
	<key>primaryInjectionTail</key>
	<string>agileCellState</string>
	<key>semanticGridFormat</key>
	<string>interactiveShaderInset</string>
	<key>sizedboxTierDepth</key>
	<string>unsortedConfigurationOrigin</string>
</dict>
</plist>
