<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventSinceVariable</key>
	<string>controllerBridgeOffset</string>
	<key>gestureContainOperation</key>
	<string>factoryForTier</string>
	<key>heapShapeMargin</key>
	<string>discardedKernelBehavior</string>
	<key>remainderVarDistance</key>
	<string>repositoryVarOrigin</string>
	<key>shaderPlatformMargin</key>
	<string>symbolOfTemple</string>
	<key>signatureForParameter</key>
	<string>reusableTickerStyle</string>
	<key>usedIsolateRight</key>
	<string>heapAdapterContrast</string>
</dict>
</plist>
