<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesActivityRight</key>
	<string>heroWithoutMediator</string>
	<key>delicateGridOrientation</key>
	<string>diversifiedExtensionColor</string>
	<key>exponentPhaseOrientation</key>
	<string>descriptorSingletonFeedback</string>
	<key>interactiveViewBehavior</key>
	<string>agileIntensityLocation</string>
	<key>nextTitleSkewx</key>
	<string>hashValueVisible</string>
	<key>transformerOfFlyweight</key>
	<string>hashUntilCommand</string>
</dict>
</plist>
