<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithStage</key>
	<string>reactiveChannelsColor</string>
	<key>adaptiveFutureTransparency</key>
	<string>compositionFromScope</string>
	<key>channelStateOffset</key>
	<string>ignoredRouteLocation</string>
	<key>chapterKindInterval</key>
	<string>heroVariableKind</string>
	<key>cupertinoPopupLocation</key>
	<string>priorSkinPressure</string>
	<key>heapExceptState</key>
	<string>singleNavigatorForce</string>
	<key>storyboardAlongParam</key>
	<string>pinchableParticleCoord</string>
</dict>
</plist>
