<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCapsuleValidation</key>
	<string>operationContainValue</string>
	<key>concurrentHistogramColor</key>
	<string>resourceByFlyweight</string>
	<key>containerPrototypeHue</key>
	<string>sizePhaseOrigin</string>
	<key>grainExceptVar</key>
	<string>gradientWorkCoord</string>
	<key>integerEnvironmentBottom</key>
	<string>otherDimensionContrast</string>
	<key>intensityDuringProcess</key>
	<string>textureFrameworkAlignment</string>
	<key>optimizerActivitySaturation</key>
	<string>captionVersusFlyweight</string>
</dict>
</plist>
