<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledInkwellBound</key>
	<string>entropyProcessDistance</string>
	<key>petStyleRate</key>
	<string>basicStreamKind</string>
	<key>smartProjectionDistance</key>
	<string>grayscaleInsideMemento</string>
</dict>
</plist>
