<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticContainerDelay</key>
	<string>catalystTierMomentum</string>
	<key>customBoxshadowTag</key>
	<string>multiThreadDepth</string>
	<key>grayscaleAroundCommand</key>
	<string>lostMusicForce</string>
	<key>protectedScaleMode</key>
	<string>controllerStageName</string>
	<key>usedBrushStatus</key>
	<string>reductionFacadeDuration</string>
</dict>
</plist>
