<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionLikePattern</key>
	<string>requiredTimerVelocity</string>
	<key>protectedContainerForce</key>
	<string>mobileInstructionDuration</string>
	<key>synchronousConfigurationStyle</key>
	<string>sensorViaCycle</string>
	<key>uniformSizeBrightness</key>
	<string>previewStageCoord</string>
</dict>
</plist>
