<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAboutStrategy</key>
	<string>oldUsageCoord</string>
	<key>cartesianProjectionBound</key>
	<string>baseMethodSkewx</string>
	<key>denseDelegateTint</key>
	<string>composableRectShape</string>
	<key>greatSwiftColor</key>
	<string>lazyPlateName</string>
	<key>plateDespiteTier</key>
	<string>appbarActionResponse</string>
	<key>presenterMementoInset</key>
	<string>viewNumberSpeed</string>
	<key>seamlessExponentSize</key>
	<string>transitionAsObserver</string>
	<key>standaloneCompositionMode</key>
	<string>managerTempleBound</string>
</dict>
</plist>
