<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStrategyDirection</key>
	<string>functionalRectBehavior</string>
	<key>immutableEquipmentStyle</key>
	<string>instructionForEnvironment</string>
	<key>painterAtShape</key>
	<string>invisibleAlertOrientation</string>
	<key>semanticsParameterCoord</key>
	<string>layoutExceptMemento</string>
	<key>serviceAndJob</key>
	<string>largeLabelHue</string>
	<key>transformerThroughMethod</key>
	<string>alignmentModeBrightness</string>
</dict>
</plist>
