<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaBesideBridge</key>
	<string>intensityStructureDensity</string>
	<key>axisStateBound</key>
	<string>streamChainDensity</string>
	<key>clipperSinceMemento</key>
	<string>accessoryNumberBorder</string>
	<key>granularFrameFrequency</key>
	<string>blocCompositeDistance</string>
	<key>gridStyleEdge</key>
	<string>exponentTaskName</string>
	<key>plateFormInteraction</key>
	<string>tensorMenuTransparency</string>
	<key>tickerProxyDepth</key>
	<string>baselineAsCycle</string>
</dict>
</plist>
