<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopVariableOpacity</key>
	<string>movementAdapterBorder</string>
	<key>numericalStateDepth</key>
	<string>handlerVarMargin</string>
	<key>observerBeyondSystem</key>
	<string>durationAndPrototype</string>
	<key>storyboardVariableCoord</key>
	<string>metadataTaskCenter</string>
</dict>
</plist>
