<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredRowAppearance</key>
	<string>opaqueFactoryTag</string>
	<key>fragmentInMemento</key>
	<string>composableProviderFrequency</string>
	<key>giftMementoInteraction</key>
	<string>robustStreamEdge</string>
	<key>streamPerMethod</key>
	<string>entityProxyShape</string>
</dict>
</plist>
