<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPerType</key>
	<string>composableSegueCenter</string>
	<key>directlyConstraintAppearance</key>
	<string>durationViaState</string>
	<key>graphAwayEnvironment</key>
	<string>requestStateResponse</string>
	<key>graphicPatternMomentum</key>
	<string>imperativeMetadataSkewy</string>
	<key>keyStatefulCoord</key>
	<string>factoryOfWork</string>
	<key>opaqueConvolutionSkewx</key>
	<string>hierarchicalLocalizationStatus</string>
	<key>singleSampleDistance</key>
	<string>gesturedetectorMementoEdge</string>
	<key>specifierFormTransparency</key>
	<string>declarativePreviewDuration</string>
	<key>symmetricArithmeticHue</key>
	<string>momentumStyleDirection</string>
</dict>
</plist>
