<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionViaTemple</key>
	<string>blocWithBuffer</string>
	<key>descriptorFromShape</key>
	<string>rectOutsideShape</string>
	<key>loopAtVar</key>
	<string>axisSingletonFrequency</string>
	<key>navigatorPatternOpacity</key>
	<string>radiusSystemTension</string>
	<key>precisionExceptFlyweight</key>
	<string>cycleAtShape</string>
	<key>publicWorkflowDistance</key>
	<string>diffableLocalizationVelocity</string>
	<key>resilientObserverIndex</key>
	<string>curveValueTag</string>
	<key>servicePlatformState</key>
	<string>basicActionType</string>
	<key>singletonThanTier</key>
	<string>textfieldContainWork</string>
</dict>
</plist>
