<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEffectEdge</key>
	<string>unactivatedPresenterPadding</string>
	<key>containerLevelOrientation</key>
	<string>samplePrototypeSkewx</string>
	<key>elasticContractionDistance</key>
	<string>topicOrPlatform</string>
	<key>kernelParamDelay</key>
	<string>imageFunctionTheme</string>
	<key>lazyDrawerRotation</key>
	<string>compositionalFutureCenter</string>
	<key>loopJobLocation</key>
	<string>featureTaskPadding</string>
	<key>resourceAtPlatform</key>
	<string>textBeyondTask</string>
</dict>
</plist>
