<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeVersusDecorator</key>
	<string>protocolParameterTension</string>
	<key>layoutVarRate</key>
	<string>commandThanTask</string>
	<key>mediocreAlertDirection</key>
	<string>tappableControllerRate</string>
	<key>navigationValueTag</key>
	<string>serviceOrLevel</string>
	<key>offsetThroughPrototype</key>
	<string>anchorSinceActivity</string>
	<key>resilientChartSkewy</key>
	<string>appbarLevelTheme</string>
	<key>sinkSinceEnvironment</key>
	<string>viewContainStage</string>
	<key>subpixelDespiteFacade</key>
	<string>textureCommandSkewy</string>
</dict>
</plist>
