<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleIconVisible</key>
	<string>navigatorThroughProxy</string>
	<key>allocatorStateBehavior</key>
	<string>prevGiftDirection</string>
	<key>grayscaleSinceStrategy</key>
	<string>mobileCharacterDensity</string>
	<key>smallReductionTag</key>
	<string>containerExceptBridge</string>
	<key>smartContainerInteraction</key>
	<string>basicGrainTail</string>
</dict>
</plist>
