<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithoutVisitor</key>
	<string>commonOptimizerMargin</string>
	<key>assetOrBridge</key>
	<string>riverpodAroundFramework</string>
	<key>finalPriorityTheme</key>
	<string>stackWorkTag</string>
	<key>groupOrStrategy</key>
	<string>synchronousRectSpeed</string>
	<key>inactiveContractionBorder</key>
	<string>graphVersusActivity</string>
	<key>layoutMediatorInteraction</key>
	<string>metadataWithoutLevel</string>
	<key>spineJobSkewx</key>
	<string>displayableGrayscaleEdge</string>
	<key>threadTierState</key>
	<string>queryCycleScale</string>
</dict>
</plist>
