<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heroAgainstVar</key>
	<string>utilSinceComposite</string>
	<key>hierarchicalHandlerDuration</key>
	<string>autoMaterialOrigin</string>
	<key>nativeMultiplicationScale</key>
	<string>functionalOffsetSpeed</string>
	<key>responsiveMetadataDensity</key>
	<string>protectedBorderFlags</string>
	<key>routerAwayVariable</key>
	<string>usedErrorBorder</string>
	<key>shaderPhaseRotation</key>
	<string>webSizedboxContrast</string>
	<key>typicalConstraintSpacing</key>
	<string>isolateInterpreterBound</string>
</dict>
</plist>
