<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBuilderPadding</key>
	<string>particleFormAppearance</string>
	<key>accessoryCompositeStyle</key>
	<string>mainRouterType</string>
	<key>agileVectorOpacity</key>
	<string>titleWithoutVariable</string>
	<key>cachePatternInteraction</key>
	<string>symmetricUtilInterval</string>
	<key>commandNearFacade</key>
	<string>textStylePadding</string>
	<key>instructionAlongFlyweight</key>
	<string>responsiveExtensionEdge</string>
	<key>stampFromProxy</key>
	<string>primaryEffectMomentum</string>
	<key>themeBufferSpacing</key>
	<string>streamOfInterpreter</string>
	<key>transitionUntilKind</key>
	<string>kernelPlatformTransparency</string>
</dict>
</plist>
