<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorValueBrightness</key>
	<string>durationChainInset</string>
	<key>pageviewOperationBehavior</key>
	<string>documentAwaySystem</string>
	<key>sineWorkVelocity</key>
	<string>tappableMarginTint</string>
	<key>stepAroundStrategy</key>
	<string>plateAdapterFeedback</string>
	<key>tangentAroundState</key>
	<string>scaleVersusParam</string>
</dict>
</plist>
