<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLayoutScale</key>
	<string>menuActivityBound</string>
	<key>actionPhaseDirection</key>
	<string>resizableUsecaseDuration</string>
	<key>containerByScope</key>
	<string>normBufferFrequency</string>
	<key>decorationContextSpacing</key>
	<string>catalystStrategyDistance</string>
	<key>intuitivePositionVisibility</key>
	<string>metadataFacadeAlignment</string>
	<key>protocolDecoratorScale</key>
	<string>protocolOrTemple</string>
	<key>singleScaffoldKind</key>
	<string>queryForMediator</string>
</dict>
</plist>
