<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeyondContext</key>
	<string>comprehensiveInterfaceRotation</string>
	<key>aspectratioAboutValue</key>
	<string>providerAtStyle</string>
	<key>compositionForStrategy</key>
	<string>localChapterDelay</string>
	<key>cosineOrEnvironment</key>
	<string>dynamicSymbolEdge</string>
	<key>elasticBufferMomentum</key>
	<string>asynchronousDelegateCoord</string>
	<key>layerVersusAdapter</key>
	<string>taskVariableForce</string>
	<key>managerSinceBridge</key>
	<string>consumerObserverDepth</string>
	<key>previewSingletonShape</key>
	<string>stackPatternEdge</string>
	<key>promiseProxyTheme</key>
	<string>inactiveBitrateCoord</string>
</dict>
</plist>
