<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialDecorationTint</key>
	<string>decorationAboutStructure</string>
	<key>primaryGateKind</key>
	<string>querySingletonTension</string>
	<key>uniqueMethodIndex</key>
	<string>zoneTaskValidation</string>
</dict>
</plist>
