<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderLikeKind</key>
	<string>priorityInFunction</string>
	<key>cycleAlongLevel</key>
	<string>scaleForPrototype</string>
	<key>desktopConfigurationIndex</key>
	<string>cursorInsideCycle</string>
	<key>disabledScaleForce</key>
	<string>segmentAndStructure</string>
	<key>profileSinceJob</key>
	<string>resilientAxisSpacing</string>
	<key>progressbarOfFlyweight</key>
	<string>hashAdapterIndex</string>
	<key>publicBlocHead</key>
	<string>reactiveNavigationOpacity</string>
	<key>statefulFunctionAppearance</key>
	<string>notifierPatternLocation</string>
	<key>storyboardOrEnvironment</key>
	<string>draggableRadiusFlags</string>
	<key>usageFlyweightRight</key>
	<string>animatedcontainerVersusJob</string>
</dict>
</plist>
