<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitPatternKind</key>
	<string>smallChapterShade</string>
	<key>bulletFacadeOffset</key>
	<string>singletonFacadeCount</string>
	<key>dynamicSinkForce</key>
	<string>viewNearParameter</string>
	<key>reducerFormDepth</key>
	<string>behaviorLikeScope</string>
	<key>repositoryTaskShade</key>
	<string>oldBufferOffset</string>
	<key>transitionProcessType</key>
	<string>configurationInInterpreter</string>
</dict>
</plist>
