<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerStyleTheme</key>
	<string>parallelEqualizationOffset</string>
	<key>chapterTierName</key>
	<string>effectThroughObserver</string>
	<key>descriptionEnvironmentSkewx</key>
	<string>accordionBehaviorAppearance</string>
	<key>notificationAlongPattern</key>
	<string>gemStructureKind</string>
	<key>reductionStateCount</key>
	<string>difficultButtonDepth</string>
	<key>statelessGroupFeedback</key>
	<string>entityAroundNumber</string>
	<key>usageViaStyle</key>
	<string>usageVersusEnvironment</string>
</dict>
</plist>
