<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFormShade</key>
	<string>pivotalAlignmentOffset</string>
	<key>containerAdapterTag</key>
	<string>commandScopeHue</string>
	<key>displayableLayoutColor</key>
	<string>displayableWidgetBehavior</string>
	<key>imperativeModelBorder</key>
	<string>positionedAgainstVisitor</string>
	<key>spineAroundNumber</key>
	<string>robustTransformerFlags</string>
	<key>webObserverInteraction</key>
	<string>baselineLikePlatform</string>
</dict>
</plist>
