<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystAwayProcess</key>
	<string>rectFormFlags</string>
	<key>completionOutsideCycle</key>
	<string>hardStreamSpeed</string>
	<key>cubitFacadeFeedback</key>
	<string>sequentialLabelShade</string>
	<key>disparateAllocatorValidation</key>
	<string>spriteSinceParameter</string>
	<key>hierarchicalLabelPressure</key>
	<string>loopPerParam</string>
	<key>musicBridgeRate</key>
	<string>navigationAndCommand</string>
	<key>oldPointCount</key>
	<string>viewFlyweightTail</string>
	<key>precisionStructureSpacing</key>
	<string>delegateViaProxy</string>
	<key>sinkCompositeAcceleration</key>
	<string>asynchronousChapterHue</string>
	<key>storyboardUntilNumber</key>
	<string>chartParameterDensity</string>
</dict>
</plist>
