<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledEventHead</key>
	<string>particleMethodSize</string>
	<key>groupThroughTier</key>
	<string>eagerAsyncEdge</string>
	<key>injectionIncludeProxy</key>
	<string>menuByValue</string>
	<key>interfaceAsParam</key>
	<string>stepAboutChain</string>
	<key>lazySignatureName</key>
	<string>utilBeyondCommand</string>
	<key>prismaticColumnStyle</key>
	<string>appbarAboutLevel</string>
	<key>routeExceptPrototype</key>
	<string>paddingCommandShade</string>
	<key>sliderProxyShade</key>
	<string>containerChainInterval</string>
	<key>tangentBeyondVar</key>
	<string>blocCycleAppearance</string>
	<key>tweenPhaseKind</key>
	<string>hardScaleResponse</string>
</dict>
</plist>
