<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLikeBridge</key>
	<string>concreteAsyncCenter</string>
	<key>crucialParticleRight</key>
	<string>constraintFunctionOffset</string>
	<key>radioAboutKind</key>
	<string>heapIncludeComposite</string>
	<key>resultFunctionPosition</key>
	<string>arithmeticStyleRight</string>
	<key>sinkIncludeOperation</key>
	<string>constraintNumberAlignment</string>
	<key>usagePatternPressure</key>
	<string>storageOutsideEnvironment</string>
</dict>
</plist>
