<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFlyweightBound</key>
	<string>fixedNotifierBound</string>
	<key>constImageHue</key>
	<string>uniformMovementShape</string>
	<key>queryAwayCommand</key>
	<string>finalVariantVisible</string>
	<key>zoneAroundType</key>
	<string>topicModeTheme</string>
</dict>
</plist>
