<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSwiftColor</key>
	<string>denseTextureSpacing</string>
	<key>cardPatternIndex</key>
	<string>hashCommandHue</string>
	<key>custompaintInsideBridge</key>
	<string>reductionAgainstForm</string>
	<key>enabledCanvasAcceleration</key>
	<string>tweenModeMargin</string>
	<key>featureAmongCommand</key>
	<string>advancedProgressbarMargin</string>
	<key>interactiveTweenTail</key>
	<string>activatedTopicSaturation</string>
	<key>logDecoratorSkewx</key>
	<string>normInsideWork</string>
	<key>mediaqueryOrInterpreter</key>
	<string>inactiveAlertTail</string>
	<key>presenterPrototypeHue</key>
	<string>mediocreCubitLeft</string>
	<key>singletonSystemPadding</key>
	<string>tickerContextDelay</string>
</dict>
</plist>
