<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorParameterMode</key>
	<string>singleHashBound</string>
	<key>boxshadowAroundStage</key>
	<string>toolJobPadding</string>
	<key>chartAmongMemento</key>
	<string>managerFromOperation</string>
	<key>containerFormKind</key>
	<string>contractionBridgeShape</string>
	<key>cubitExceptPhase</key>
	<string>nativeStreamKind</string>
	<key>routerActivityMomentum</key>
	<string>commandAboutBuffer</string>
</dict>
</plist>
