<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastResourceBottom</key>
	<string>topicVariableTail</string>
	<key>numericalConfigurationInterval</key>
	<string>comprehensiveErrorLeft</string>
	<key>precisionStageSkewy</key>
	<string>topicVarSpeed</string>
	<key>projectionPrototypeDepth</key>
	<string>standaloneCanvasMode</string>
	<key>queryThanCycle</key>
	<string>dependencyValueDirection</string>
	<key>secondAnchorFormat</key>
	<string>streamPhaseRotation</string>
	<key>serviceNearMethod</key>
	<string>constraintProxyTag</string>
</dict>
</plist>
