<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitViaPrototype</key>
	<string>difficultGraphicAppearance</string>
	<key>eagerTextureBound</key>
	<string>iconAsTemple</string>
	<key>instructionWithoutPlatform</key>
	<string>descriptionAsStage</string>
	<key>substantialPresenterPosition</key>
	<string>heroAlongLevel</string>
	<key>tableVariableCenter</key>
	<string>permanentConstraintVelocity</string>
	<key>viewContainEnvironment</key>
	<string>diversifiedControllerMomentum</string>
</dict>
</plist>
