<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoStyle</key>
	<string>widgetBesideEnvironment</string>
	<key>currentEffectContrast</key>
	<string>flexibleGramLocation</string>
	<key>easySwitchAcceleration</key>
	<string>retainedReducerFrequency</string>
	<key>publicViewDuration</key>
	<string>providerThanMethod</string>
	<key>semanticsInsideStructure</key>
	<string>labelContainTemple</string>
	<key>signParameterStatus</key>
	<string>buttonThroughAdapter</string>
</dict>
</plist>
