<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicActivityBottom</key>
	<string>configurationStyleEdge</string>
	<key>invisibleGradientBrightness</key>
	<string>activatedTitleBottom</string>
	<key>masterLayerRate</key>
	<string>bitrateMementoCoord</string>
	<key>matrixAroundPhase</key>
	<string>aspectContainMemento</string>
	<key>mediumAsyncMomentum</key>
	<string>positionedAsWork</string>
	<key>modulusFromValue</key>
	<string>indicatorScopeMargin</string>
	<key>stackWithObserver</key>
	<string>semanticEffectFlags</string>
	<key>vectorPhaseColor</key>
	<string>featureVariableDuration</string>
</dict>
</plist>
