<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletPrototypeBrightness</key>
	<string>missionDecoratorHead</string>
	<key>entropyMementoTop</key>
	<string>switchFunctionFeedback</string>
	<key>fixedCompletionBottom</key>
	<string>rapidTaskIndex</string>
	<key>particleVisitorOpacity</key>
	<string>positionedInJob</string>
	<key>sinkPlatformTransparency</key>
	<string>hardResourceKind</string>
	<key>textValueBound</key>
	<string>swiftLikeLevel</string>
	<key>textureThanAction</key>
	<string>resourceAwayPhase</string>
</dict>
</plist>
