<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationTierEdge</key>
	<string>elasticLayerRate</string>
	<key>handlerEnvironmentHead</key>
	<string>modulusDecoratorMode</string>
	<key>interactorAtPrototype</key>
	<string>chartProxyStatus</string>
	<key>scaffoldPerEnvironment</key>
	<string>sortedVectorMode</string>
	<key>symbolTempleSpacing</key>
	<string>descriptionObserverBorder</string>
	<key>synchronousSpotTheme</key>
	<string>entityFormOffset</string>
	<key>uniformPageviewType</key>
	<string>taskByOperation</string>
</dict>
</plist>
