<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTaskScale</key>
	<string>allocatorChainTint</string>
	<key>finalMethodForce</key>
	<string>oldSpriteBrightness</string>
	<key>largeBrushOrientation</key>
	<string>blocWithTemple</string>
	<key>sliderThanObserver</key>
	<string>sinkSystemFormat</string>
	<key>subtleAnimationState</key>
	<string>taskMethodTension</string>
	<key>titleThroughVariable</key>
	<string>transformerThanParameter</string>
</dict>
</plist>
