<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAmongWork</key>
	<string>textThroughJob</string>
	<key>commandViaFacade</key>
	<string>pageviewWorkSkewx</string>
	<key>mutableNavigatorInteraction</key>
	<string>missionDespiteJob</string>
	<key>pageviewStyleHue</key>
	<string>visibleGetxName</string>
	<key>tabbarActionType</key>
	<string>cosineModeBrightness</string>
</dict>
</plist>
