<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterObserverState</key>
	<string>queueWithoutStage</string>
	<key>presenterJobDensity</key>
	<string>chartDespitePrototype</string>
	<key>subpixelMementoOpacity</key>
	<string>rowCommandOffset</string>
	<key>usecaseAgainstFramework</key>
	<string>toolSinceCommand</string>
</dict>
</plist>
