<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoInkwellType</key>
	<string>frameInsideSystem</string>
	<key>containerVisitorBottom</key>
	<string>navigatorFunctionShape</string>
	<key>documentSingletonTransparency</key>
	<string>callbackWithMemento</string>
	<key>gramByVar</key>
	<string>mediaqueryAroundVisitor</string>
	<key>graphStageIndex</key>
	<string>fragmentThroughStage</string>
	<key>mainTangentTag</key>
	<string>crudeFactoryTheme</string>
	<key>overlayContextMode</key>
	<string>handlerAdapterSpacing</string>
	<key>semanticsContextScale</key>
	<string>subsequentRadiusForce</string>
	<key>tweenDespiteMethod</key>
	<string>constLogDirection</string>
</dict>
</plist>
