<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerActionCount</key>
	<string>cupertinoVersusPlatform</string>
	<key>localBoxDuration</key>
	<string>touchLayerVelocity</string>
	<key>mutableDurationBound</key>
	<string>spineAtTier</string>
	<key>sineByProxy</key>
	<string>techniqueEnvironmentRotation</string>
	<key>uniqueSignatureDirection</key>
	<string>borderStageColor</string>
</dict>
</plist>
