<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionInstructionVelocity</key>
	<string>largeRepositoryScale</string>
	<key>bitrateModeResponse</key>
	<string>richtextFacadeDepth</string>
	<key>callbackFacadeLeft</key>
	<string>spriteStrategyInteraction</string>
	<key>desktopDescriptionDuration</key>
	<string>tableFlyweightPosition</string>
	<key>inheritedTaskDepth</key>
	<string>cubitOrChain</string>
	<key>metadataOperationShade</key>
	<string>spotContextForce</string>
	<key>positionLevelStyle</key>
	<string>routeActionBehavior</string>
	<key>storageMediatorVelocity</key>
	<string>reducerLevelDirection</string>
	<key>subscriptionSinceMode</key>
	<string>channelsFormLocation</string>
	<key>textFunctionSaturation</key>
	<string>explicitHashFormat</string>
</dict>
</plist>
