<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPlatformDepth</key>
	<string>streamVersusActivity</string>
	<key>inheritedLabelTint</key>
	<string>sampleTypeOpacity</string>
	<key>permissiveFragmentTension</key>
	<string>hierarchicalBulletAcceleration</string>
	<key>sceneScopeShade</key>
	<string>sinkPhaseCount</string>
	<key>scrollableRowShape</key>
	<string>delegateFlyweightName</string>
	<key>sophisticatedTickerVisible</key>
	<string>gemAmongOperation</string>
	<key>transformerAgainstVar</key>
	<string>techniqueAboutPhase</string>
</dict>
</plist>
