<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerBridgeScale</key>
	<string>timerAtTask</string>
	<key>desktopPresenterTint</key>
	<string>monsterValueOffset</string>
	<key>entityFacadeRotation</key>
	<string>equalizationOfActivity</string>
	<key>interactorMediatorDelay</key>
	<string>scrollableMobileHead</string>
	<key>iterativeRepositoryCenter</key>
	<string>layoutWorkOrigin</string>
	<key>multiSpriteAcceleration</key>
	<string>documentActionVisible</string>
	<key>otherConstraintSpeed</key>
	<string>scrollWorkSkewy</string>
	<key>positionedPerKind</key>
	<string>primaryStreamDelay</string>
	<key>scaffoldPrototypeBottom</key>
	<string>previewStylePosition</string>
	<key>sceneOperationBrightness</key>
	<string>cubitAmongKind</string>
</dict>
</plist>
