<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeyondFacade</key>
	<string>serviceAdapterBound</string>
	<key>beginnerViewOrigin</key>
	<string>parallelImageTheme</string>
	<key>configurationInFacade</key>
	<string>positionedLayerIndex</string>
	<key>gridBesideParameter</key>
	<string>containerScopeCoord</string>
	<key>histogramSinceAdapter</key>
	<string>unactivatedSubscriptionDistance</string>
	<key>isolateActivityDuration</key>
	<string>kernelProxyTail</string>
	<key>radiusActionEdge</key>
	<string>servicePatternName</string>
	<key>resultFacadeOffset</key>
	<string>slashDecoratorLeft</string>
</dict>
</plist>
