<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasCommandRotation</key>
	<string>dynamicPreviewCount</string>
	<key>channelByType</key>
	<string>methodFunctionSize</string>
	<key>durationStructureAppearance</key>
	<string>plateInsideParameter</string>
	<key>lossBridgeSpacing</key>
	<string>sortedRequestAppearance</string>
	<key>managerAwayTier</key>
	<string>materialLikeVisitor</string>
	<key>materialRichtextMomentum</key>
	<string>signProcessTint</string>
	<key>resolverIncludePattern</key>
	<string>utilWithoutPlatform</string>
	<key>responsiveDependencyState</key>
	<string>pinchableDependencyForce</string>
	<key>tangentSystemDensity</key>
	<string>beginnerAlignmentLeft</string>
	<key>textureInterpreterShade</key>
	<string>smallEffectInset</string>
</dict>
</plist>
