<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterProxyDistance</key>
	<string>decorationWithContext</string>
	<key>configurationAroundShape</key>
	<string>handlerKindOrigin</string>
	<key>instructionAsParameter</key>
	<string>explicitTaskPressure</string>
	<key>menuFunctionVelocity</key>
	<string>cosineDespiteShape</string>
	<key>progressbarByVar</key>
	<string>heroOrVariable</string>
	<key>specifyButtonMomentum</key>
	<string>featurePhaseEdge</string>
	<key>textureFrameworkAlignment</key>
	<string>movementTempleVisibility</string>
</dict>
</plist>
