<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryActionTag</key>
	<string>interactorInsideChain</string>
	<key>assetJobResponse</key>
	<string>unactivatedMonsterScale</string>
	<key>durationExceptCycle</key>
	<string>resizableMediaMode</string>
	<key>getxFrameworkMode</key>
	<string>expandedBridgeShape</string>
	<key>normalLayerTag</key>
	<string>euclideanViewColor</string>
	<key>streamMementoBottom</key>
	<string>associatedBinaryVisibility</string>
</dict>
</plist>
