<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentModalDepth</key>
	<string>radiusStructureHue</string>
	<key>cubitDespiteInterpreter</key>
	<string>iconOperationHue</string>
	<key>hierarchicalTopicMargin</key>
	<string>transitionPlatformIndex</string>
	<key>modulusAlongBridge</key>
	<string>particleWithVariable</string>
	<key>rapidDelegateInterval</key>
	<string>variantSingletonOrigin</string>
	<key>responseTypeInterval</key>
	<string>boxSingletonTint</string>
	<key>responsiveSpecifierValidation</key>
	<string>chartAgainstMemento</string>
	<key>standaloneThreadStyle</key>
	<string>sceneFlyweightShade</string>
</dict>
</plist>
