<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachePlatformBorder</key>
	<string>lostExceptionValidation</string>
	<key>consumerBesideFlyweight</key>
	<string>lostLossDepth</string>
	<key>entityFromScope</key>
	<string>sortedMediaqueryHead</string>
	<key>groupAboutForm</key>
	<string>transformerPerVar</string>
	<key>routerStyleRate</key>
	<string>animatedParticleInterval</string>
	<key>storeOfVisitor</key>
	<string>logarithmInsideNumber</string>
	<key>vectorAtVariable</key>
	<string>globalUnaryCount</string>
</dict>
</plist>
