<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonExceptVariable</key>
	<string>containerPrototypeBrightness</string>
	<key>hierarchicalRouterType</key>
	<string>operationPatternInteraction</string>
	<key>indicatorDespiteObserver</key>
	<string>notificationKindAlignment</string>
	<key>kernelInsideMediator</key>
	<string>eagerStatefulColor</string>
</dict>
</plist>
