<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directStepDelay</key>
	<string>usedCursorTheme</string>
	<key>durationObserverInterval</key>
	<string>boxNumberDirection</string>
	<key>monsterBesideInterpreter</key>
	<string>timerThroughMemento</string>
	<key>resolverModeColor</key>
	<string>enabledFutureDensity</string>
	<key>responseWorkTop</key>
	<string>curveAndParam</string>
	<key>semanticsBridgeBound</key>
	<string>factoryStateDirection</string>
	<key>sensorVarTail</key>
	<string>imagePhasePressure</string>
</dict>
</plist>
