<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchCycleCoord</key>
	<string>typicalRichtextPadding</string>
	<key>callbackStageInteraction</key>
	<string>interpolationObserverSkewy</string>
	<key>cosineActivityBorder</key>
	<string>mediaTierSize</string>
	<key>ephemeralCurveOffset</key>
	<string>layerJobLocation</string>
	<key>getxTaskType</key>
	<string>elasticIconFeedback</string>
	<key>managerAboutOperation</key>
	<string>methodAboutMethod</string>
</dict>
</plist>
