<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAlongShape</key>
	<string>rowModeBottom</string>
	<key>completerNearFlyweight</key>
	<string>compositionParameterShade</string>
	<key>groupBridgeTransparency</key>
	<string>interfaceWithoutPhase</string>
	<key>intensityMethodTheme</key>
	<string>tableAgainstChain</string>
	<key>lastGramPressure</key>
	<string>builderSinceTask</string>
	<key>menuAwayEnvironment</key>
	<string>injectionMethodDensity</string>
	<key>missedCommandFeedback</key>
	<string>particleWithoutVisitor</string>
	<key>progressbarFlyweightForce</key>
	<string>methodVersusShape</string>
	<key>transitionBesideParam</key>
	<string>lostAlignmentInset</string>
	<key>utilContainNumber</key>
	<string>batchOperationCenter</string>
</dict>
</plist>
