<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorCompositeCount</key>
	<string>actionPrototypeSize</string>
	<key>declarativeFragmentAppearance</key>
	<string>secondDescriptionInteraction</string>
	<key>dependencyByBuffer</key>
	<string>gesturedetectorPhaseVelocity</string>
	<key>gesturedetectorFormInterval</key>
	<string>channelLayerAppearance</string>
	<key>masterAgainstPrototype</key>
	<string>cupertinoBesideMethod</string>
	<key>painterDespiteTemple</key>
	<string>entityKindFlags</string>
</dict>
</plist>
