<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateTypeDensity</key>
	<string>entropyThroughTier</string>
	<key>composableUsageShade</key>
	<string>accordionCompletionFormat</string>
	<key>listenerActionDuration</key>
	<string>bitratePhaseEdge</string>
	<key>navigatorAndOperation</key>
	<string>mobileScopePressure</string>
	<key>operationOfPlatform</key>
	<string>seamlessAppbarDepth</string>
	<key>progressbarInsideActivity</key>
	<string>pivotalCapsuleIndex</string>
	<key>reducerMethodSaturation</key>
	<string>accessibleEffectTheme</string>
	<key>resizableDocumentMomentum</key>
	<string>numericalNormName</string>
	<key>staticRectSpeed</key>
	<string>delicateExceptionHead</string>
	<key>uniqueTabviewInterval</key>
	<string>transitionByStyle</string>
</dict>
</plist>
