<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationWithoutState</key>
	<string>mobileWithNumber</string>
	<key>lazyBlocFrequency</key>
	<string>instructionBridgeFeedback</string>
	<key>mobileAtEnvironment</key>
	<string>discardedPositionEdge</string>
	<key>observerAgainstTask</key>
	<string>labelNumberAppearance</string>
	<key>symmetricChartBrightness</key>
	<string>catalystChainLocation</string>
</dict>
</plist>
