<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAndTemple</key>
	<string>observerObserverColor</string>
	<key>factoryAgainstParam</key>
	<string>interfaceDuringState</string>
	<key>featureModeMode</key>
	<string>optionTierStatus</string>
	<key>geometricObserverHue</key>
	<string>concreteMaterialStatus</string>
	<key>gridviewSystemInterval</key>
	<string>chapterIncludeValue</string>
	<key>interactorJobBehavior</key>
	<string>heapEnvironmentTheme</string>
	<key>missedPresenterShade</key>
	<string>screenLevelInteraction</string>
	<key>popupSinceScope</key>
	<string>seamlessPriorityCount</string>
	<key>transitionAgainstFlyweight</key>
	<string>crudeWorkflowKind</string>
</dict>
</plist>
