<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedModelValidation</key>
	<string>statefulDuringStage</string>
	<key>characterOfProxy</key>
	<string>assetAsKind</string>
	<key>finalChapterBottom</key>
	<string>mainTechniqueColor</string>
	<key>hardAspectratioOrientation</key>
	<string>resourceContextValidation</string>
	<key>heroAndStage</key>
	<string>storageWithoutStructure</string>
	<key>immutableTransitionMomentum</key>
	<string>tabbarByCycle</string>
	<key>integerOperationLeft</key>
	<string>kernelInScope</string>
	<key>reducerIncludeStyle</key>
	<string>tensorEqualizationType</string>
	<key>titleForProxy</key>
	<string>topicCompositeCoord</string>
</dict>
</plist>
