<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStreamVisible</key>
	<string>curveOperationShape</string>
	<key>globalControllerFrequency</key>
	<string>navigatorAwayPattern</string>
	<key>ignoredRemainderMode</key>
	<string>sequentialTaskLocation</string>
	<key>navigationWithoutBuffer</key>
	<string>hashForPattern</string>
	<key>permissiveRectBehavior</key>
	<string>originalAssetTheme</string>
	<key>shaderPatternCenter</key>
	<string>commandBeyondTier</string>
</dict>
</plist>
