<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPopupMargin</key>
	<string>animationAlongShape</string>
	<key>basicRouteFormat</key>
	<string>materialSliderAppearance</string>
	<key>binaryContainTemple</key>
	<string>interpolationMediatorCenter</string>
	<key>convolutionOfWork</key>
	<string>robustDependencyPosition</string>
	<key>lossMethodBorder</key>
	<string>switchAgainstEnvironment</string>
	<key>reactiveEqualizationShape</key>
	<string>interpolationMementoRight</string>
	<key>relationalHeroFeedback</key>
	<string>semanticNibCount</string>
</dict>
</plist>
