<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeHandlerValidation</key>
	<string>isolateActionDuration</string>
	<key>dependencyStrategyLeft</key>
	<string>prevInteractorBorder</string>
	<key>iterativeAllocatorDepth</key>
	<string>hierarchicalErrorOrigin</string>
	<key>protocolContainProxy</key>
	<string>rapidMetadataBound</string>
	<key>routeIncludeMethod</key>
	<string>themeChainShade</string>
	<key>skinOfSingleton</key>
	<string>firstPresenterFrequency</string>
	<key>sliderAboutBuffer</key>
	<string>commandTypePadding</string>
	<key>techniqueLevelStyle</key>
	<string>opaqueEntitySkewx</string>
</dict>
</plist>
