<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterProxySkewx</key>
	<string>navigatorProcessTag</string>
	<key>cursorAlongJob</key>
	<string>delegateContainCommand</string>
	<key>dynamicAlignmentSpacing</key>
	<string>screenStyleHue</string>
	<key>dynamicPopupSpeed</key>
	<string>granularPointBound</string>
	<key>extensionFunctionMargin</key>
	<string>constraintModeSize</string>
	<key>flexParamShape</key>
	<string>blocBesidePhase</string>
	<key>multiplicationByMode</key>
	<string>usageValueBottom</string>
	<key>persistentAppbarSize</key>
	<string>globalShaderLocation</string>
	<key>profileAlongProcess</key>
	<string>featureTypeScale</string>
</dict>
</plist>
