<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPageviewDensity</key>
	<string>tabbarTempleInteraction</string>
	<key>alignmentScopeCenter</key>
	<string>switchOrParameter</string>
	<key>cartesianDurationBottom</key>
	<string>toolDuringSingleton</string>
	<key>commonGraphOffset</key>
	<string>permissiveContractionKind</string>
	<key>greatGrayscaleTension</key>
	<string>animatedcontainerContextDepth</string>
	<key>interactorFromPlatform</key>
	<string>functionalConstraintRight</string>
	<key>metadataWithoutFacade</key>
	<string>lazyResourcePressure</string>
	<key>taskOfCycle</key>
	<string>overlayFacadeTension</string>
	<key>topicForAdapter</key>
	<string>statefulFormRight</string>
</dict>
</plist>
