<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchOutsidePattern</key>
	<string>mediocreSensorStyle</string>
	<key>modelOrCycle</key>
	<string>configurationStructureDistance</string>
	<key>navigationFormSize</key>
	<string>listenerNearObserver</string>
	<key>sizeAndObserver</key>
	<string>constNavigationCount</string>
	<key>titleOutsideStrategy</key>
	<string>unsortedQueryOpacity</string>
</dict>
</plist>
