<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardFlyweightSpeed</key>
	<string>taskAwayActivity</string>
	<key>constraintLayerDirection</key>
	<string>sinkUntilNumber</string>
	<key>futureThroughSingleton</key>
	<string>compositionInType</string>
	<key>labelVersusCycle</key>
	<string>immutableProjectionLeft</string>
	<key>mediumDelegateStyle</key>
	<string>symmetricShaderInset</string>
	<key>storeOfOperation</key>
	<string>characterAwayStyle</string>
</dict>
</plist>
