<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPhaseBound</key>
	<string>brushThanCycle</string>
	<key>columnOutsideObserver</key>
	<string>interactiveViewHue</string>
	<key>custompaintAsVariable</key>
	<string>kernelTaskRate</string>
	<key>equalizationNumberBottom</key>
	<string>requestAndProxy</string>
	<key>greatSignBrightness</key>
	<string>tweenActivityTail</string>
	<key>indicatorExceptJob</key>
	<string>transitionFromState</string>
	<key>masterCommandSpeed</key>
	<string>appbarExceptParam</string>
	<key>normalBuilderSkewx</key>
	<string>persistentAccessoryTension</string>
	<key>textureSystemTop</key>
	<string>pointStageVisible</string>
	<key>transitionBufferCount</key>
	<string>actionOperationCenter</string>
</dict>
</plist>
