<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCheckboxVisible</key>
	<string>missedDescriptionEdge</string>
	<key>cubitIncludeParameter</key>
	<string>observerUntilChain</string>
	<key>errorLikeProxy</key>
	<string>listviewVarPosition</string>
	<key>gradientLikeShape</key>
	<string>petInPlatform</string>
	<key>modalForVisitor</key>
	<string>offsetMementoType</string>
	<key>notifierThanCycle</key>
	<string>transformerThroughMode</string>
	<key>projectionEnvironmentResponse</key>
	<string>overlayStructureSpeed</string>
	<key>protocolBridgeAlignment</key>
	<string>asyncAdapterTop</string>
	<key>usecaseByParameter</key>
	<string>cardInsideFlyweight</string>
	<key>visibleDependencyDuration</key>
	<string>storyboardAdapterPressure</string>
</dict>
</plist>
