<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentViaObserver</key>
	<string>decorationCycleHue</string>
	<key>sensorCycleVisibility</key>
	<string>displayableCheckboxVelocity</string>
	<key>smartAsyncDensity</key>
	<string>zoneFunctionSaturation</string>
	<key>statelessResultDepth</key>
	<string>tweenMementoCount</string>
	<key>taskThanPrototype</key>
	<string>temporaryLogarithmDirection</string>
</dict>
</plist>
