<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseBesidePrototype</key>
	<string>symbolPerLayer</string>
	<key>dependencyKindStyle</key>
	<string>commandNearProxy</string>
	<key>frameIncludeCommand</key>
	<string>coordinatorVariableCount</string>
	<key>graphDecoratorDelay</key>
	<string>taskBesideNumber</string>
	<key>interpolationNearStyle</key>
	<string>menuStateVelocity</string>
	<key>rowPerPhase</key>
	<string>skinPerPlatform</string>
	<key>singletonAboutNumber</key>
	<string>particleThroughAdapter</string>
	<key>subsequentSliderInterval</key>
	<string>rowChainTint</string>
	<key>tabviewFlyweightValidation</key>
	<string>playbackFlyweightMode</string>
	<key>usedSpineRight</key>
	<string>priorControllerDirection</string>
</dict>
</plist>
