<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveDespiteVariable</key>
	<string>basicScaleCenter</string>
	<key>descriptionDespiteFacade</key>
	<string>offsetFromShape</string>
	<key>mainSwitchHead</key>
	<string>presenterAsCycle</string>
	<key>mobxInInterpreter</key>
	<string>vectorAmongPattern</string>
	<key>transitionAndLayer</key>
	<string>mediaqueryParamSpacing</string>
</dict>
</plist>
