<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedStatelessLocation</key>
	<string>resolverContainLevel</string>
	<key>geometricPromiseVisible</key>
	<string>segueOutsideOperation</string>
	<key>materialOutsideInterpreter</key>
	<string>catalystParameterCoord</string>
	<key>mobileContainerLeft</key>
	<string>mediumDialogsKind</string>
	<key>permissiveRouteDirection</key>
	<string>webWidgetShape</string>
	<key>roleJobSaturation</key>
	<string>compositionalAsyncEdge</string>
	<key>singlePopupAlignment</key>
	<string>usageAsState</string>
	<key>sustainablePlateForce</key>
	<string>numericalRepositorySpeed</string>
</dict>
</plist>
