<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobxForValue</key>
	<string>exceptionPlatformName</string>
	<key>momentumWithWork</key>
	<string>subscriptionShapeForce</string>
	<key>positionLayerRight</key>
	<string>transitionProcessRate</string>
	<key>robustGrayscaleValidation</key>
	<string>uniqueIsolateState</string>
</dict>
</plist>
