<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorStrategyVisibility</key>
	<string>missedAlphaTint</string>
	<key>callbackStageVelocity</key>
	<string>bufferSingletonSkewx</string>
	<key>descriptionStageEdge</key>
	<string>particleTempleKind</string>
	<key>hierarchicalResourceResponse</key>
	<string>memberInsideAction</string>
	<key>intermediateChannelLocation</key>
	<string>referenceUntilOperation</string>
	<key>prevManagerSpacing</key>
	<string>accessoryEnvironmentCoord</string>
	<key>requiredCompletionKind</key>
	<string>precisionAmongOperation</string>
	<key>routerChainRotation</key>
	<string>binaryNearType</string>
	<key>tabbarValueVisible</key>
	<string>interfaceSinceNumber</string>
</dict>
</plist>
