<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateIncludeDecorator</key>
	<string>multiplicationMediatorShade</string>
	<key>commandDuringStyle</key>
	<string>invisibleFeatureTag</string>
	<key>giftDuringValue</key>
	<string>errorLayerRotation</string>
	<key>tickerBesideComposite</key>
	<string>mutableFactoryKind</string>
	<key>variantPerMediator</key>
	<string>scrollableChallengeInset</string>
</dict>
</plist>
