<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerPlatformDepth</key>
	<string>baselineAboutType</string>
	<key>convolutionWithContext</key>
	<string>rapidBrushLocation</string>
	<key>coordinatorBridgeScale</key>
	<string>titleThroughVariable</string>
	<key>desktopRadiusVisible</key>
	<string>rowOrInterpreter</string>
	<key>immediatePlaybackTransparency</key>
	<string>declarativeFrameFlags</string>
	<key>liteObserverVisible</key>
	<string>labelPhaseAppearance</string>
	<key>numericalCoordinatorTail</key>
	<string>futureActivityBehavior</string>
	<key>respectiveTopicColor</key>
	<string>descriptionOperationHead</string>
</dict>
</plist>
