<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalTransformerHead</key>
	<string>stateObserverPosition</string>
	<key>otherMultiplicationTail</key>
	<string>columnOfVisitor</string>
	<key>overlayContextTint</key>
	<string>groupInsideValue</string>
	<key>riverpodFlyweightRate</key>
	<string>decorationWithMediator</string>
	<key>synchronousSpecifierSkewy</key>
	<string>controllerSinceSingleton</string>
</dict>
</plist>
