<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderParamDistance</key>
	<string>associatedBlocTension</string>
	<key>intensityTypePosition</key>
	<string>blocVarSkewx</string>
	<key>localizationBufferOrigin</key>
	<string>spriteMementoShade</string>
	<key>menuPatternFlags</key>
	<string>axisCycleAlignment</string>
	<key>progressbarAndFramework</key>
	<string>delegateEnvironmentRight</string>
	<key>relationalEqualizationInterval</key>
	<string>momentumMediatorBorder</string>
	<key>screenLayerHue</key>
	<string>sizeChainPressure</string>
	<key>sequentialMenuDistance</key>
	<string>subscriptionStyleColor</string>
</dict>
</plist>
