<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorMediatorBehavior</key>
	<string>histogramTaskOrientation</string>
	<key>entityVersusEnvironment</key>
	<string>mediaqueryValueInteraction</string>
	<key>nativeLoopForce</key>
	<string>eventThroughLevel</string>
	<key>scaffoldIncludeForm</key>
	<string>reusableMaterialScale</string>
	<key>subsequentCommandFrequency</key>
	<string>completerThroughWork</string>
	<key>uniformFeatureDuration</key>
	<string>permanentRoleCount</string>
	<key>widgetAboutAction</key>
	<string>custompaintIncludeComposite</string>
</dict>
</plist>
