<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLikeProxy</key>
	<string>statefulPrototypePosition</string>
	<key>comprehensiveStreamFeedback</key>
	<string>storageInsideStyle</string>
	<key>providerInProxy</key>
	<string>getxParameterOrigin</string>
	<key>resourceAtStrategy</key>
	<string>texturePhaseResponse</string>
	<key>stateDespiteFunction</key>
	<string>decorationSincePrototype</string>
	<key>streamStageHead</key>
	<string>activityForVisitor</string>
	<key>textureJobVisibility</key>
	<string>dedicatedArithmeticBound</string>
</dict>
</plist>
