<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerWithoutPhase</key>
	<string>grayscaleAmongDecorator</string>
	<key>deferredDimensionShade</key>
	<string>tickerFunctionShade</string>
	<key>diffableNodeVisible</key>
	<string>specifierStageCount</string>
	<key>imageFunctionTint</key>
	<string>criticalAlignmentBottom</string>
	<key>nativeOverlayVisibility</key>
	<string>rectAlongPrototype</string>
	<key>nextAxisInset</key>
	<string>injectionSinceJob</string>
	<key>petPrototypeBrightness</key>
	<string>tabbarLevelFlags</string>
	<key>priorityFunctionLeft</key>
	<string>rectFromMethod</string>
	<key>textfieldForNumber</key>
	<string>dimensionMediatorSize</string>
	<key>transitionInsidePattern</key>
	<string>decorationChainColor</string>
</dict>
</plist>
