<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTaskLocation</key>
	<string>taskExceptSingleton</string>
	<key>comprehensiveMetadataInset</key>
	<string>directIsolateSpeed</string>
	<key>containerFromMethod</key>
	<string>interfaceInsideLayer</string>
	<key>exceptionDuringDecorator</key>
	<string>widgetStructureBrightness</string>
	<key>grayscaleMediatorInterval</key>
	<string>methodValueTag</string>
	<key>storyboardAgainstContext</key>
	<string>delegatePhaseTransparency</string>
	<key>toolOfFacade</key>
	<string>riverpodParamTag</string>
</dict>
</plist>
