<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorIncludeEnvironment</key>
	<string>rowSystemTension</string>
	<key>columnInsideFlyweight</key>
	<string>reductionMementoEdge</string>
	<key>fusedBrushDirection</key>
	<string>directlyHeapInteraction</string>
	<key>giftAroundMode</key>
	<string>descriptionFunctionAppearance</string>
	<key>invisibleSegmentDensity</key>
	<string>tabbarVisitorHue</string>
	<key>storePerMethod</key>
	<string>baselineEnvironmentTag</string>
	<key>unsortedNavigatorValidation</key>
	<string>invisibleEventInteraction</string>
	<key>workflowThanType</key>
	<string>remainderByActivity</string>
</dict>
</plist>
