<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePreviewOrigin</key>
	<string>functionalHashForce</string>
	<key>canvasAmongScope</key>
	<string>interactiveAppbarDelay</string>
	<key>cellAroundKind</key>
	<string>multiIconVisibility</string>
	<key>controllerStrategyIndex</key>
	<string>agileThemeBehavior</string>
	<key>directlyChannelAcceleration</key>
	<string>comprehensiveMobileAlignment</string>
	<key>eventSinceFlyweight</key>
	<string>robustInteractorAcceleration</string>
	<key>graphAdapterResponse</key>
	<string>delicateLabelDistance</string>
	<key>toolProxyBottom</key>
	<string>flexParameterSpeed</string>
	<key>topicBufferBorder</key>
	<string>permissiveUtilStyle</string>
</dict>
</plist>
