<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocProcessDensity</key>
	<string>decorationFormTail</string>
	<key>crudeAssetBottom</key>
	<string>alignmentBeyondStage</string>
	<key>positionAlongStructure</key>
	<string>resilientOptionAppearance</string>
	<key>progressbarVersusContext</key>
	<string>graphFormFeedback</string>
	<key>variantInsideShape</key>
	<string>inactiveInjectionFrequency</string>
</dict>
</plist>
