<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAwayValue</key>
	<string>resilientChannelsTop</string>
	<key>featureAsComposite</key>
	<string>gramAwayBuffer</string>
	<key>ignoredCurveAppearance</key>
	<string>routeFunctionDirection</string>
	<key>offsetBesideParameter</key>
	<string>animationAroundSystem</string>
	<key>rapidTransformerKind</key>
	<string>specifyRichtextBorder</string>
	<key>requiredGramLocation</key>
	<string>methodLikeProcess</string>
	<key>sinkPlatformSaturation</key>
	<string>layoutAdapterRate</string>
</dict>
</plist>
