<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedIndicatorTheme</key>
	<string>mainRoleOffset</string>
	<key>autoUsecaseType</key>
	<string>alignmentChainValidation</string>
	<key>intuitiveCurveSpacing</key>
	<string>visibleIconAppearance</string>
	<key>managerFacadeDensity</key>
	<string>resourceExceptObserver</string>
	<key>musicAgainstValue</key>
	<string>originalStateFlags</string>
	<key>nodeBesideScope</key>
	<string>controllerDespiteFramework</string>
	<key>offsetIncludeSystem</key>
	<string>imperativeCurvePadding</string>
	<key>presenterOrInterpreter</key>
	<string>typicalIntegerTransparency</string>
</dict>
</plist>
