<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTaskContrast</key>
	<string>usageNumberDepth</string>
	<key>columnSinceAdapter</key>
	<string>eventValueEdge</string>
	<key>completerMementoBottom</key>
	<string>composableCheckboxTop</string>
	<key>getxPrototypeSpacing</key>
	<string>missionTaskSpacing</string>
	<key>kernelThroughOperation</key>
	<string>bufferStateScale</string>
	<key>rapidSinkTheme</key>
	<string>actionOutsideFacade</string>
	<key>reactiveChapterInterval</key>
	<string>tweenMementoFeedback</string>
</dict>
</plist>
