<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerOfFlyweight</key>
	<string>directlySensorAcceleration</string>
	<key>buttonPlatformAppearance</key>
	<string>consumerAsTask</string>
	<key>coordinatorWorkName</key>
	<string>taskContextOrientation</string>
	<key>deferredResourceInset</key>
	<string>offsetNearStyle</string>
	<key>descriptorAsStructure</key>
	<string>switchOrFunction</string>
	<key>euclideanPresenterStyle</key>
	<string>listenerActivityState</string>
	<key>inheritedGestureMargin</key>
	<string>alertLayerEdge</string>
	<key>pageviewSystemColor</key>
	<string>coordinatorIncludeStrategy</string>
	<key>sensorCycleDelay</key>
	<string>documentSinceVar</string>
	<key>swiftMementoMomentum</key>
	<string>routerLayerDepth</string>
</dict>
</plist>
