<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerLabelTag</key>
	<string>controllerSinceState</string>
	<key>chartTempleOrigin</key>
	<string>dialogsTypeTag</string>
	<key>directlyTouchBrightness</key>
	<string>resourceInStrategy</string>
	<key>layoutStyleOffset</key>
	<string>easyResponseSkewy</string>
	<key>parallelNotificationPressure</key>
	<string>tappableAnimationFormat</string>
	<key>spriteUntilFunction</key>
	<string>entityThanStage</string>
</dict>
</plist>
