<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLabelRate</key>
	<string>plateDespiteStrategy</string>
	<key>buttonStrategyFeedback</key>
	<string>catalystNumberTag</string>
	<key>equipmentLevelTop</key>
	<string>ternaryContainProcess</string>
	<key>nativeCharacterStyle</key>
	<string>shaderInterpreterRotation</string>
	<key>optimizerShapeDelay</key>
	<string>bufferAndBuffer</string>
	<key>publicViewDistance</key>
	<string>borderObserverValidation</string>
	<key>routerVersusVariable</key>
	<string>usedTextureEdge</string>
	<key>statelessPromiseMomentum</key>
	<string>pageviewLevelShape</string>
</dict>
</plist>
