<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAgainstContext</key>
	<string>channelsNumberOffset</string>
	<key>decorationAboutStructure</key>
	<string>sinkActivityColor</string>
	<key>eagerAssetVisibility</key>
	<string>synchronousStateAppearance</string>
	<key>immediateMethodSaturation</key>
	<string>resilientVectorState</string>
	<key>materialContextIndex</key>
	<string>signatureAdapterSkewx</string>
</dict>
</plist>
