<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstCallbackSkewy</key>
	<string>futureModeShade</string>
	<key>multiDialogsVelocity</key>
	<string>customPrecisionFrequency</string>
	<key>particleScopeColor</key>
	<string>requiredGridFlags</string>
	<key>positionedWorkKind</key>
	<string>missionStateValidation</string>
	<key>requiredFeatureHue</key>
	<string>largeRadiusFrequency</string>
	<key>semanticDrawerMomentum</key>
	<string>layoutChainSkewx</string>
	<key>significantResponseDuration</key>
	<string>spriteThanVar</string>
	<key>specifyCallbackColor</key>
	<string>richtextContainTemple</string>
	<key>spineInterpreterVisible</key>
	<string>movementAroundMemento</string>
	<key>storeStageIndex</key>
	<string>resourceStrategyForce</string>
</dict>
</plist>
