<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterJobTint</key>
	<string>tickerOrSystem</string>
	<key>intermediateRowBorder</key>
	<string>drawerThanObserver</string>
	<key>oldCurveVisible</key>
	<string>publicLocalizationVisible</string>
	<key>pointAlongContext</key>
	<string>intensityAlongKind</string>
</dict>
</plist>
