<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsScope</key>
	<string>adaptiveAspectratioTop</string>
	<key>compositionWorkResponse</key>
	<string>alphaAroundVar</string>
	<key>controllerEnvironmentTension</key>
	<string>serviceExceptCommand</string>
	<key>descriptionCycleShape</key>
	<string>layerContextTail</string>
	<key>giftActivityDistance</key>
	<string>awaitFacadeMomentum</string>
	<key>layerStructureBehavior</key>
	<string>uniqueSwiftTheme</string>
	<key>originalMenuStatus</key>
	<string>prismaticInteractorDensity</string>
	<key>requestPerMethod</key>
	<string>inactiveSymbolResponse</string>
	<key>textBesideFacade</key>
	<string>permanentAnimationCount</string>
	<key>topicContextDuration</key>
	<string>diversifiedFactoryShade</string>
</dict>
</plist>
