<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFromParam</key>
	<string>numericalCubeTag</string>
	<key>errorSystemForce</key>
	<string>invisibleOperationName</string>
	<key>keyCardDensity</key>
	<string>factorySystemDirection</string>
	<key>sharedEqualizationType</key>
	<string>aspectStructureDirection</string>
	<key>sharedFutureFrequency</key>
	<string>listviewContainObserver</string>
</dict>
</plist>
