<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticScrollVelocity</key>
	<string>directSwiftCount</string>
	<key>flexibleImageBound</key>
	<string>primaryBoxshadowRate</string>
	<key>kernelNearPlatform</key>
	<string>playbackPhaseBrightness</string>
	<key>persistentInjectionLocation</key>
	<string>opaqueShaderMomentum</string>
	<key>protocolForNumber</key>
	<string>coordinatorContextPadding</string>
	<key>visibleMediaColor</key>
	<string>delegateBeyondPlatform</string>
</dict>
</plist>
