<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationShapeDistance</key>
	<string>directAccessoryBottom</string>
	<key>baselineModeRotation</key>
	<string>loopWithLevel</string>
	<key>cartesianHistogramIndex</key>
	<string>usecaseContainVariable</string>
	<key>injectionSinceProxy</key>
	<string>exponentOutsideSystem</string>
	<key>liteBufferStyle</key>
	<string>builderDecoratorInterval</string>
	<key>streamPatternState</key>
	<string>menuTypeTop</string>
	<key>unaryStageOrientation</key>
	<string>disparateAlertInteraction</string>
</dict>
</plist>
