<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationByStructure</key>
	<string>localMasterVisible</string>
	<key>criticalEventName</key>
	<string>hierarchicalTextfieldEdge</string>
	<key>durationAtTemple</key>
	<string>textfieldExceptOperation</string>
	<key>equipmentSinceTask</key>
	<string>tableWithoutProcess</string>
	<key>methodLikeChain</key>
	<string>numericalEffectStatus</string>
	<key>mutableMaterialBehavior</key>
	<string>spotProxyFlags</string>
	<key>projectionFrameworkStyle</key>
	<string>logNearKind</string>
	<key>requestStageVisibility</key>
	<string>directlyCupertinoStyle</string>
	<key>spineUntilScope</key>
	<string>factoryAmongWork</string>
	<key>titleSinceFramework</key>
	<string>routeInsidePattern</string>
</dict>
</plist>
