<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularAnimationKind</key>
	<string>localWidgetMomentum</string>
	<key>handlerOutsideValue</key>
	<string>durationThroughState</string>
	<key>parallelDecorationMode</key>
	<string>stackAdapterStyle</string>
	<key>positionedFunctionPosition</key>
	<string>layerBridgeFeedback</string>
	<key>spotPerVariable</key>
	<string>prismaticResourceOffset</string>
	<key>transitionBufferCenter</key>
	<string>gradientDuringObserver</string>
	<key>zoneOrParam</key>
	<string>constraintAsSystem</string>
</dict>
</plist>
