<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedResourceTail</key>
	<string>cupertinoLevelTag</string>
	<key>arithmeticStateType</key>
	<string>painterStrategyDepth</string>
	<key>diffableShaderTint</key>
	<string>storageTypeLocation</string>
	<key>flexibleMatrixSkewy</key>
	<string>normShapeBehavior</string>
	<key>iconChainLocation</key>
	<string>factoryAndActivity</string>
	<key>masterNearComposite</key>
	<string>extensionAsPrototype</string>
	<key>relationalDescriptionIndex</key>
	<string>custompaintAgainstShape</string>
	<key>subscriptionPrototypePressure</key>
	<string>resizableFactoryFormat</string>
	<key>substantialResolverTint</key>
	<string>mobileEventCoord</string>
</dict>
</plist>
