<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaPerActivity</key>
	<string>accessoryDespiteComposite</string>
	<key>rapidMobileResponse</key>
	<string>descriptionObserverVelocity</string>
	<key>requestVarSkewx</key>
	<string>discardedEffectColor</string>
	<key>respectiveMovementDepth</key>
	<string>uniqueCompleterAppearance</string>
	<key>richtextAroundInterpreter</key>
	<string>animationStrategyAlignment</string>
	<key>taskSinceTask</key>
	<string>responsivePromiseTop</string>
</dict>
</plist>
