<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAwayComposite</key>
	<string>eventAmongParameter</string>
	<key>cursorFlyweightStatus</key>
	<string>dialogsProcessBrightness</string>
	<key>denseFragmentCount</key>
	<string>awaitFromSingleton</string>
	<key>hyperbolicLayoutScale</key>
	<string>reactiveTickerSpeed</string>
	<key>ignoredWidgetSpacing</key>
	<string>controllerOutsideTemple</string>
	<key>movementAtKind</key>
	<string>symmetricInkwellDuration</string>
</dict>
</plist>
