<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderScopeBound</key>
	<string>fixedConfigurationShade</string>
	<key>checkboxDecoratorTop</key>
	<string>stepThroughParam</string>
	<key>concreteGraphicBorder</key>
	<string>channelVariableVelocity</string>
	<key>cubitAwayProxy</key>
	<string>mainCallbackMargin</string>
	<key>layerShapeVisibility</key>
	<string>symbolLevelInteraction</string>
	<key>logarithmContainActivity</key>
	<string>hierarchicalBufferAlignment</string>
	<key>radioOrEnvironment</key>
	<string>symmetricExpandedDelay</string>
	<key>stampIncludeNumber</key>
	<string>completerVarDepth</string>
	<key>subscriptionUntilPhase</key>
	<string>extensionShapeColor</string>
</dict>
</plist>
