<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackStyleBound</key>
	<string>customUsageSpacing</string>
	<key>compositionUntilProxy</key>
	<string>animationFunctionRate</string>
	<key>pivotalCanvasContrast</key>
	<string>sophisticatedRouterFeedback</string>
	<key>topicLayerFlags</key>
	<string>cubitExceptProcess</string>
</dict>
</plist>
