<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAgainstStructure</key>
	<string>callbackKindOrigin</string>
	<key>hierarchicalNotificationFrequency</key>
	<string>metadataFlyweightTension</string>
	<key>textPlatformFeedback</key>
	<string>titleContainPhase</string>
</dict>
</plist>
