<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRadiusFeedback</key>
	<string>bitratePatternSaturation</string>
	<key>dropdownbuttonPrototypeMode</key>
	<string>granularSceneBehavior</string>
	<key>exceptionStateTransparency</key>
	<string>utilInsidePrototype</string>
	<key>iconBesideChain</key>
	<string>collectionStageBottom</string>
	<key>kernelAmongType</key>
	<string>sophisticatedSymbolDistance</string>
	<key>mobileConstraintRight</key>
	<string>signatureContextTransparency</string>
	<key>serviceInTask</key>
	<string>geometricDelegateDensity</string>
</dict>
</plist>
