<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSkinDelay</key>
	<string>concurrentNotifierValidation</string>
	<key>cosineAgainstBuffer</key>
	<string>grainContainScope</string>
	<key>greatPositionVelocity</key>
	<string>completerValuePressure</string>
	<key>independentSpineCenter</key>
	<string>topicDespiteBridge</string>
	<key>persistentEntropyScale</key>
	<string>scrollEnvironmentSkewy</string>
	<key>rectFormInterval</key>
	<string>nibOrSingleton</string>
	<key>touchUntilOperation</key>
	<string>routerAlongCommand</string>
</dict>
</plist>
