<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedExpandedBehavior</key>
	<string>autoRequestStatus</string>
	<key>descriptorThroughParam</key>
	<string>borderThanPlatform</string>
	<key>featureStrategyVisibility</key>
	<string>scrollableTangentBorder</string>
	<key>hierarchicalTextDistance</key>
	<string>taskDuringStrategy</string>
	<key>inkwellVersusChain</key>
	<string>cursorPrototypeFlags</string>
	<key>integerActivityFeedback</key>
	<string>containerAtParam</string>
	<key>numericalDependencyRight</key>
	<string>injectionStrategyTransparency</string>
	<key>textfieldStructureScale</key>
	<string>controllerAwayAction</string>
	<key>utilObserverSpacing</key>
	<string>boxshadowDespiteMediator</string>
	<key>zoneOperationSpacing</key>
	<string>arithmeticChapterTop</string>
</dict>
</plist>
