<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystStyleBound</key>
	<string>ephemeralGramTag</string>
	<key>composableProviderSpeed</key>
	<string>semanticsMediatorPosition</string>
	<key>customGraphicState</key>
	<string>arithmeticGiftTop</string>
	<key>delegateAboutKind</key>
	<string>timerBeyondFunction</string>
	<key>grainPerStage</key>
	<string>iconLevelAppearance</string>
	<key>nativeErrorAcceleration</key>
	<string>methodFlyweightColor</string>
	<key>navigatorBeyondPattern</key>
	<string>resolverNearCycle</string>
	<key>observerBridgeInset</key>
	<string>threadCommandStyle</string>
	<key>otherLabelRight</key>
	<string>masterParameterShade</string>
	<key>resultNumberShade</key>
	<string>handlerTypeDirection</string>
</dict>
</plist>
