<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasOfProcess</key>
	<string>spineOutsideBuffer</string>
	<key>gesturedetectorAsKind</key>
	<string>sequentialTaskBehavior</string>
	<key>mapMementoOffset</key>
	<string>normalActivityCenter</string>
	<key>mobileDespiteCycle</key>
	<string>labelBesideKind</string>
	<key>notificationWithoutMemento</key>
	<string>layerActivityBound</string>
	<key>responsiveBufferShade</key>
	<string>threadEnvironmentSkewx</string>
	<key>subscriptionAboutVariable</key>
	<string>uniqueColumnOpacity</string>
	<key>techniqueContainBuffer</key>
	<string>oldTextVelocity</string>
	<key>textInFramework</key>
	<string>mutableFutureDuration</string>
</dict>
</plist>
