<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandScopeInterval</key>
	<string>retainedNormForce</string>
	<key>cubeInsideWork</key>
	<string>compositionThroughForm</string>
	<key>descriptionAdapterOrigin</key>
	<string>staticMapDelay</string>
	<key>isolateContextBrightness</key>
	<string>semanticAllocatorAcceleration</string>
	<key>optionCommandSpacing</key>
	<string>normalBuilderVisible</string>
	<key>timerPlatformRight</key>
	<string>singletonSystemRight</string>
</dict>
</plist>
