<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAwayAdapter</key>
	<string>explicitCapsuleVelocity</string>
	<key>dimensionTaskType</key>
	<string>factoryFacadeRate</string>
	<key>storageLikeFramework</key>
	<string>descriptorPerAction</string>
	<key>tabbarInMediator</key>
	<string>textureInValue</string>
	<key>transitionInStyle</key>
	<string>cubeOfContext</string>
</dict>
</plist>
