<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardAllocatorShade</key>
	<string>bufferWithVariable</string>
	<key>buttonLikeVisitor</key>
	<string>fusedApertureShape</string>
	<key>drawerEnvironmentForce</key>
	<string>dimensionKindRight</string>
	<key>gestureCompositeAcceleration</key>
	<string>riverpodAdapterAcceleration</string>
	<key>movementOrChain</key>
	<string>builderAmongFunction</string>
	<key>numericalTextType</key>
	<string>radiusStateInset</string>
	<key>textureViaType</key>
	<string>observerActionRight</string>
</dict>
</plist>
