<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncIsolateTint</key>
	<string>cellForBuffer</string>
	<key>callbackDespitePrototype</key>
	<string>workflowPerBuffer</string>
	<key>painterScopePadding</key>
	<string>apertureThanCommand</string>
	<key>projectSystemMomentum</key>
	<string>invisibleTitleDepth</string>
	<key>symmetricEntropyIndex</key>
	<string>dimensionFormDepth</string>
</dict>
</plist>
