<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPerFramework</key>
	<string>queueBeyondValue</string>
	<key>intermediateTopicDensity</key>
	<string>greatTimerOrigin</string>
	<key>multiTechniqueVisibility</key>
	<string>resourceAboutLevel</string>
	<key>pointThanNumber</key>
	<string>borderAlongNumber</string>
	<key>primaryResultPressure</key>
	<string>bufferViaInterpreter</string>
	<key>spotViaScope</key>
	<string>frameUntilBuffer</string>
</dict>
</plist>
