<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerOfProcess</key>
	<string>responsiveCurveBehavior</string>
	<key>cubeProxyCoord</key>
	<string>factoryAlongKind</string>
	<key>lastTaskVisible</key>
	<string>retainedFutureBottom</string>
	<key>multiplicationVariableAcceleration</key>
	<string>usecaseMethodFlags</string>
	<key>oldBuilderShape</key>
	<string>techniqueStyleLeft</string>
	<key>particleChainMargin</key>
	<string>associatedMetadataDuration</string>
	<key>precisionEnvironmentBehavior</key>
	<string>priorityContextPosition</string>
	<key>statelessCompositeTop</key>
	<string>particleVisitorStyle</string>
</dict>
</plist>
