<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionBridgeVelocity</key>
	<string>gatePrototypeVelocity</string>
	<key>lossMediatorRight</key>
	<string>routeIncludeMediator</string>
	<key>mediaOutsideVisitor</key>
	<string>heroIncludeCycle</string>
	<key>sortedRemainderBorder</key>
	<string>declarativeOffsetCount</string>
	<key>unactivatedParticleKind</key>
	<string>textStyleBehavior</string>
</dict>
</plist>
