<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapAlongMethod</key>
	<string>cardTypeForce</string>
	<key>heapPerContext</key>
	<string>lazyApertureInterval</string>
	<key>nextSegmentTension</key>
	<string>euclideanProviderBottom</string>
	<key>positionDespitePlatform</key>
	<string>configurationParamSaturation</string>
</dict>
</plist>
