<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsPerAction</key>
	<string>particleSingletonOrigin</string>
	<key>exceptionStrategyAppearance</key>
	<string>eventTypeDuration</string>
	<key>hashParameterColor</key>
	<string>contractionStageContrast</string>
	<key>queryVarTransparency</key>
	<string>sensorAroundLevel</string>
	<key>resizableCycleFrequency</key>
	<string>challengeTaskBottom</string>
	<key>responsiveGatePressure</key>
	<string>viewShapeAlignment</string>
</dict>
</plist>
