<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAlongTask</key>
	<string>frameCompositeVisible</string>
	<key>errorParamType</key>
	<string>curveViaFlyweight</string>
	<key>relationalProviderBrightness</key>
	<string>spotAroundCycle</string>
	<key>sharedActionForce</key>
	<string>timerJobPadding</string>
</dict>
</plist>
