<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedFrameBrightness</key>
	<string>intensitySinceValue</string>
	<key>asyncLevelDepth</key>
	<string>usedWorkflowTension</string>
	<key>cartesianRowVisibility</key>
	<string>spineTierEdge</string>
	<key>documentProxyFormat</key>
	<string>labelThroughBridge</string>
	<key>durationCommandSkewy</key>
	<string>criticalTaskState</string>
	<key>instructionModeRate</key>
	<string>comprehensiveTextBound</string>
	<key>modalContainFramework</key>
	<string>responsiveQueryBrightness</string>
	<key>queueBridgeInterval</key>
	<string>actionAwayMemento</string>
	<key>taskThroughProcess</key>
	<string>coordinatorInterpreterSaturation</string>
</dict>
</plist>
