<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectMethodMode</key>
	<string>hierarchicalBehaviorState</string>
	<key>precisionProxyFrequency</key>
	<string>activatedRowVelocity</string>
	<key>signatureEnvironmentEdge</key>
	<string>resultNumberEdge</string>
	<key>statelessAdapterStyle</key>
	<string>checkboxFormScale</string>
	<key>sustainableLayoutIndex</key>
	<string>sessionCompositeOffset</string>
</dict>
</plist>
