<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorTaskContrast</key>
	<string>entityPlatformType</string>
	<key>discardedNodeAlignment</key>
	<string>transitionBeyondMemento</string>
	<key>exceptionDuringStage</key>
	<string>backwardDecorationAppearance</string>
	<key>loopObserverKind</key>
	<string>semanticsLayerRotation</string>
	<key>navigatorMementoDelay</key>
	<string>documentThanBridge</string>
	<key>progressbarBeyondContext</key>
	<string>asyncOptionPadding</string>
	<key>ternaryAndTemple</key>
	<string>entityDuringChain</string>
	<key>touchFormPressure</key>
	<string>commandCommandStyle</string>
</dict>
</plist>
