<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxObserverTension</key>
	<string>requestNearPhase</string>
	<key>finalDescriptionDelay</key>
	<string>providerDespitePlatform</string>
	<key>functionalReducerForce</key>
	<string>eventViaSystem</string>
	<key>prismaticLayerHue</key>
	<string>sceneLikePhase</string>
	<key>stateThroughInterpreter</key>
	<string>spriteJobTint</string>
</dict>
</plist>
