<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentDependencyState</key>
	<string>lastCoordinatorHue</string>
	<key>controllerFromForm</key>
	<string>petFlyweightDirection</string>
	<key>directlyCallbackCount</key>
	<string>observerUntilKind</string>
	<key>eventBufferAcceleration</key>
	<string>singleFutureIndex</string>
	<key>pageviewInMemento</key>
	<string>remainderFacadeStatus</string>
	<key>rectSincePrototype</key>
	<string>transitionIncludeScope</string>
	<key>sampleAndTier</key>
	<string>nodeInStrategy</string>
	<key>transitionContextLeft</key>
	<string>enabledDrawerRotation</string>
	<key>widgetViaContext</key>
	<string>documentInsideDecorator</string>
</dict>
</plist>
