<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterWorkPadding</key>
	<string>tabbarWithChain</string>
	<key>commandShapeBorder</key>
	<string>resizableOptionContrast</string>
	<key>commonAppbarDensity</key>
	<string>taskViaPhase</string>
	<key>disabledLayerValidation</key>
	<string>arithmeticMarginCoord</string>
	<key>equalizationSinceSingleton</key>
	<string>numericalPlaybackLeft</string>
	<key>gesturedetectorLevelHead</key>
	<string>optimizerValueHead</string>
	<key>handlerTierOffset</key>
	<string>primaryNavigationMargin</string>
	<key>significantRowState</key>
	<string>basicGemFormat</string>
	<key>skinAmongProcess</key>
	<string>giftParameterFlags</string>
	<key>uniformCacheTag</key>
	<string>futureEnvironmentDepth</string>
</dict>
</plist>
