<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterViaBridge</key>
	<string>ignoredCardOffset</string>
	<key>configurationProcessRotation</key>
	<string>animatedAsyncHue</string>
	<key>consumerInsideLayer</key>
	<string>accessibleTitleMargin</string>
	<key>geometricResolverCenter</key>
	<string>utilOfParam</string>
	<key>prevLayoutBehavior</key>
	<string>offsetFunctionOrientation</string>
	<key>priorCommandForce</key>
	<string>textStageTop</string>
	<key>progressbarMementoSize</key>
	<string>gradientAndMemento</string>
	<key>responseLayerTop</key>
	<string>animatedcontainerCycleCenter</string>
	<key>samplePhaseContrast</key>
	<string>presenterWorkEdge</string>
	<key>serviceEnvironmentDelay</key>
	<string>chartContainVar</string>
</dict>
</plist>
