<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAmongFacade</key>
	<string>progressbarViaSystem</string>
	<key>customizedSingletonAcceleration</key>
	<string>errorDespiteStyle</string>
	<key>sizeBesideKind</key>
	<string>providerViaJob</string>
	<key>viewBesideEnvironment</key>
	<string>tweenPhasePressure</string>
</dict>
</plist>
