<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStyleHead</key>
	<string>alignmentInsidePattern</string>
	<key>compositionalTextfieldLocation</key>
	<string>viewChainInterval</string>
	<key>grainThroughOperation</key>
	<string>cosineBesideInterpreter</string>
	<key>imageAgainstMethod</key>
	<string>tabbarActivityDelay</string>
	<key>immediateNavigationDuration</key>
	<string>webWidgetTag</string>
	<key>lazyScreenInteraction</key>
	<string>asyncViewColor</string>
	<key>specifierAmongFramework</key>
	<string>resultAroundTask</string>
	<key>specifyAwaitType</key>
	<string>heroSinceLevel</string>
	<key>spineFromFramework</key>
	<string>backwardMaterialSkewy</string>
	<key>unactivatedDimensionLocation</key>
	<string>inheritedRepositoryScale</string>
</dict>
</plist>
