<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateShapeForce</key>
	<string>hashTempleMargin</string>
	<key>directlyStoreStatus</key>
	<string>radiusValueOrientation</string>
	<key>durationSinceValue</key>
	<string>screenNumberDensity</string>
	<key>groupIncludeProxy</key>
	<string>explicitStoreBound</string>
	<key>groupPerJob</key>
	<string>nodeStateRight</string>
	<key>resilientBuilderColor</key>
	<string>constIndicatorMomentum</string>
	<key>textAdapterOrientation</key>
	<string>inheritedFactoryOpacity</string>
</dict>
</plist>
