<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintCompositeVisible</key>
	<string>navigatorWithPattern</string>
	<key>durationBridgeDensity</key>
	<string>semanticTextureShape</string>
	<key>elasticRouteHead</key>
	<string>sizeSincePlatform</string>
	<key>factoryJobInset</key>
	<string>entityCompositeFeedback</string>
	<key>logarithmTypeFlags</key>
	<string>denseSignBrightness</string>
	<key>materialOutsideNumber</key>
	<string>constraintProxyCount</string>
	<key>monsterTypeDepth</key>
	<string>delegateBufferDistance</string>
	<key>tappableAssetScale</key>
	<string>delegateLikeCommand</string>
	<key>textfieldPhaseTint</key>
	<string>significantRectInset</string>
</dict>
</plist>
