<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableProviderSkewy</key>
	<string>tensorPlateResponse</string>
	<key>hyperbolicImageStyle</key>
	<string>modelKindTag</string>
	<key>listenerAmongTier</key>
	<string>cardSinceStrategy</string>
	<key>navigatorAsStructure</key>
	<string>greatTickerScale</string>
	<key>segmentExceptShape</key>
	<string>spotInsideFramework</string>
</dict>
</plist>
