<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVariableVisibility</key>
	<string>callbackTempleBottom</string>
	<key>gridviewOperationInset</key>
	<string>radiusBeyondJob</string>
	<key>hyperbolicBehaviorRight</key>
	<string>staticFeatureAlignment</string>
	<key>intensityUntilStyle</key>
	<string>getxMethodDistance</string>
	<key>resourceStateOpacity</key>
	<string>rapidAllocatorTheme</string>
	<key>visibleSliderTag</key>
	<string>disparateUtilHead</string>
</dict>
</plist>
