<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionBlocCoord</key>
	<string>asyncForSingleton</string>
	<key>animatedcontainerPlatformInset</key>
	<string>animationFrameworkSkewx</string>
	<key>difficultStreamAlignment</key>
	<string>completionJobMomentum</string>
	<key>grainPrototypeSkewy</key>
	<string>permissiveInterfaceVisibility</string>
	<key>gridviewThanContext</key>
	<string>sliderMediatorLocation</string>
	<key>mediocreCellScale</key>
	<string>rectMediatorTheme</string>
	<key>nextLossSpeed</key>
	<string>riverpodBridgeLeft</string>
	<key>radiusExceptMode</key>
	<string>overlayDuringFunction</string>
</dict>
</plist>
