<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesWorkTail</key>
	<string>viewBesideProxy</string>
	<key>checkboxVariableTag</key>
	<string>eventWithPrototype</string>
	<key>factoryProxyPadding</key>
	<string>contractionMementoMode</string>
	<key>injectionNumberRotation</key>
	<string>dynamicMobileCount</string>
	<key>requestWorkAcceleration</key>
	<string>effectInStructure</string>
	<key>sortedPresenterInset</key>
	<string>prevSignTransparency</string>
	<key>usedEqualizationLeft</key>
	<string>intensityEnvironmentShape</string>
</dict>
</plist>
