<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsMethodInteraction</key>
	<string>backwardNavigatorOrientation</string>
	<key>dedicatedPageviewStyle</key>
	<string>giftAtAdapter</string>
	<key>frameExceptTask</key>
	<string>mobileOffsetPadding</string>
	<key>futureDuringCycle</key>
	<string>vectorTierScale</string>
	<key>resizableCoordinatorContrast</key>
	<string>invisibleSymbolValidation</string>
</dict>
</plist>
