<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicMenuBrightness</key>
	<string>normAwayActivity</string>
	<key>opaqueIntegerOffset</key>
	<string>mobxAroundPhase</string>
	<key>subtlePopupCoord</key>
	<string>mediaCommandRate</string>
</dict>
</plist>
