<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSpineInteraction</key>
	<string>permanentRichtextOpacity</string>
	<key>eagerSwitchFlags</key>
	<string>delicateDecorationShade</string>
	<key>hashThroughStage</key>
	<string>pointContainVariable</string>
	<key>sliderAwayStyle</key>
	<string>metadataExceptAction</string>
	<key>tableAsShape</key>
	<string>flexBridgeBound</string>
</dict>
</plist>
