<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFacadePressure</key>
	<string>materialExceptLevel</string>
	<key>builderObserverAcceleration</key>
	<string>controllerNumberState</string>
	<key>dialogsAlongJob</key>
	<string>chapterObserverSaturation</string>
	<key>grayscaleMementoFlags</key>
	<string>channelCommandLeft</string>
	<key>missedCertificateVisibility</key>
	<string>gradientAmongTier</string>
	<key>navigatorIncludeChain</key>
	<string>featureValueMargin</string>
	<key>numericalVectorPressure</key>
	<string>enabledOffsetRight</string>
</dict>
</plist>
