<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>observerWithType</key>
	<string>greatRichtextSkewy</string>
	<key>scrollableExponentForce</key>
	<string>responseAgainstTemple</string>
	<key>singleConsumerType</key>
	<string>iconInsideJob</string>
	<key>spineBufferCount</key>
	<string>zoneOfStrategy</string>
	<key>tangentLevelName</key>
	<string>subpixelTierSize</string>
</dict>
</plist>
