<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandProxySpeed</key>
	<string>scrollCompositeForce</string>
	<key>coordinatorAtState</key>
	<string>reactiveKernelOrientation</string>
	<key>prismaticSizeRotation</key>
	<string>touchScopeLocation</string>
	<key>signatureBeyondTier</key>
	<string>subsequentSizedboxSkewx</string>
	<key>sortedViewSize</key>
	<string>coordinatorAndWork</string>
	<key>textActionSpacing</key>
	<string>graphicMediatorIndex</string>
</dict>
</plist>
