<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerOutsideEnvironment</key>
	<string>streamParamRate</string>
	<key>layoutActivityInteraction</key>
	<string>semanticsPhaseResponse</string>
	<key>masterByFlyweight</key>
	<string>paddingAboutWork</string>
	<key>mutableDescriptorDepth</key>
	<string>gridviewOperationSaturation</string>
	<key>observerDuringProxy</key>
	<string>pivotalColumnSaturation</string>
	<key>plateTypeSkewy</key>
	<string>aspectratioStyleRate</string>
	<key>streamInsideOperation</key>
	<string>eventEnvironmentForce</string>
</dict>
</plist>
