<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerTempleTint</key>
	<string>remainderFromBuffer</string>
	<key>equalizationActionAcceleration</key>
	<string>integerWithoutMediator</string>
	<key>interfaceAboutPattern</key>
	<string>similarEventMomentum</string>
	<key>primaryScreenInset</key>
	<string>associatedRectStatus</string>
	<key>zoneContainTier</key>
	<string>directGateTag</string>
</dict>
</plist>
