<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStructureBound</key>
	<string>localizationWorkTint</string>
	<key>buttonEnvironmentOrientation</key>
	<string>providerTierMomentum</string>
	<key>containerFormCount</key>
	<string>buttonByInterpreter</string>
	<key>euclideanCommandOrientation</key>
	<string>grainScopeLocation</string>
	<key>finalCellInterval</key>
	<string>radiusViaEnvironment</string>
	<key>giftScopeMode</key>
	<string>notificationActionOffset</string>
	<key>nativeTickerLeft</key>
	<string>mediaqueryCompositeSize</string>
	<key>popupStrategyRight</key>
	<string>specifyMediaqueryInset</string>
	<key>positionedBesidePattern</key>
	<string>blocEnvironmentOrigin</string>
	<key>rowMethodPadding</key>
	<string>storageTypeFlags</string>
</dict>
</plist>
