<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorByMediator</key>
	<string>buttonSinceInterpreter</string>
	<key>delicateResponseFormat</key>
	<string>optionDespiteStructure</string>
	<key>entityDespiteForm</key>
	<string>enabledAwaitLocation</string>
	<key>usecaseOutsideKind</key>
	<string>extensionFlyweightDensity</string>
</dict>
</plist>
