<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAgainstStrategy</key>
	<string>localConstraintPadding</string>
	<key>durationViaPhase</key>
	<string>dependencyVersusStyle</string>
	<key>entropyModeShape</key>
	<string>particleBufferTint</string>
	<key>layerOrStage</key>
	<string>synchronousModulusSaturation</string>
	<key>liteStampOrigin</key>
	<string>metadataAboutWork</string>
	<key>mobileAtLayer</key>
	<string>graphStateOrigin</string>
	<key>routerMethodForce</key>
	<string>signActivityForce</string>
</dict>
</plist>
