<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicProviderState</key>
	<string>rectThroughBuffer</string>
	<key>enabledArithmeticDelay</key>
	<string>durationNumberShape</string>
	<key>histogramOfChain</key>
	<string>declarativeAspectDepth</string>
	<key>inheritedTextureValidation</key>
	<string>animationNearParam</string>
	<key>routerAlongCycle</key>
	<string>accessoryAlongEnvironment</string>
</dict>
</plist>
