<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithoutCycle</key>
	<string>mapActionFrequency</string>
	<key>channelsLikeStrategy</key>
	<string>futureAlongVar</string>
	<key>controllerByTemple</key>
	<string>configurationAlongMethod</string>
	<key>curveAtPrototype</key>
	<string>autoWidgetKind</string>
	<key>exponentAtTier</key>
	<string>responsiveInjectionRotation</string>
	<key>notifierDecoratorColor</key>
	<string>descriptionAsSystem</string>
	<key>subtleAnimatedcontainerMode</key>
	<string>cursorFormAppearance</string>
</dict>
</plist>
