<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisFromType</key>
	<string>deferredCollectionContrast</string>
	<key>gemAwayType</key>
	<string>sceneThroughDecorator</string>
	<key>invisibleSizeSkewy</key>
	<string>promiseSystemResponse</string>
	<key>skirtJobBound</key>
	<string>appbarPatternOpacity</string>
	<key>textBeyondComposite</key>
	<string>navigationContainTemple</string>
</dict>
</plist>
