<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelSystemName</key>
	<string>particleInsideState</string>
	<key>curveWorkLeft</key>
	<string>listviewAndLevel</string>
	<key>extensionOrTemple</key>
	<string>titleKindSpeed</string>
	<key>immediateBaselineOffset</key>
	<string>lazyBehaviorShape</string>
	<key>keyControllerShape</key>
	<string>usecaseScopeSize</string>
	<key>managerAdapterCoord</key>
	<string>touchShapeVisibility</string>
	<key>mediocreModalPadding</key>
	<string>declarativeCardDuration</string>
	<key>reducerWithoutMethod</key>
	<string>inactiveFutureAlignment</string>
	<key>tappableEqualizationStatus</key>
	<string>advancedMenuTop</string>
	<key>viewAgainstEnvironment</key>
	<string>arithmeticFrameworkMargin</string>
</dict>
</plist>
