<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteViewDepth</key>
	<string>titleAroundScope</string>
	<key>globalNavigationBorder</key>
	<string>agileCoordinatorRate</string>
	<key>mediumMasterTag</key>
	<string>routeInProcess</string>
</dict>
</plist>
