<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineOfScope</key>
	<string>storyboardSystemHead</string>
	<key>decorationSingletonOrigin</key>
	<string>streamCommandFlags</string>
	<key>dialogsFacadeFlags</key>
	<string>skirtPlatformAlignment</string>
	<key>disabledGraphAcceleration</key>
	<string>textLikeForm</string>
	<key>explicitLayoutType</key>
	<string>semanticPaddingMargin</string>
	<key>variantBesideFunction</key>
	<string>containerBeyondShape</string>
</dict>
</plist>
