<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVariableSkewy</key>
	<string>precisionInPhase</string>
	<key>draggableFragmentCount</key>
	<string>commonProjectBound</string>
	<key>grainWithFacade</key>
	<string>unaryAgainstProcess</string>
	<key>queryStructureFrequency</key>
	<string>injectionNumberSpacing</string>
	<key>remainderStyleTop</key>
	<string>textAtBridge</string>
	<key>resolverInProxy</key>
	<string>particleValueVisibility</string>
</dict>
</plist>
