<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCapacitiesOffset</key>
	<string>arithmeticNumberBottom</string>
	<key>animationFormDirection</key>
	<string>roleAboutPrototype</string>
	<key>eventNumberShape</key>
	<string>disparatePaddingStatus</string>
	<key>radiusAboutStyle</key>
	<string>repositoryProxyLocation</string>
	<key>storageParameterMargin</key>
	<string>configurationCommandRate</string>
	<key>unsortedDurationSpacing</key>
	<string>appbarOperationBottom</string>
	<key>viewValueBehavior</key>
	<string>behaviorExceptForm</string>
</dict>
</plist>
