<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStepOrientation</key>
	<string>sustainableLabelSpacing</string>
	<key>descriptionSingletonDelay</key>
	<string>storyboardNearLevel</string>
	<key>keyRadioOffset</key>
	<string>queueStageSkewx</string>
	<key>multiSegueMargin</key>
	<string>firstIconRotation</string>
	<key>primaryNavigationSize</key>
	<string>singletonAtType</string>
	<key>requestPlatformDepth</key>
	<string>retainedCaptionTint</string>
	<key>resultInterpreterBorder</key>
	<string>blocPerCommand</string>
	<key>servicePhaseScale</key>
	<string>disabledKernelVelocity</string>
	<key>sineContextShade</key>
	<string>contractionNumberForce</string>
	<key>techniqueTempleLocation</key>
	<string>pointBeyondShape</string>
</dict>
</plist>
