<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyTickerBehavior</key>
	<string>textureVarBorder</string>
	<key>imageStageContrast</key>
	<string>semanticMobxRotation</string>
	<key>layoutValuePosition</key>
	<string>queueVisitorFeedback</string>
	<key>nextTimerRate</key>
	<string>remainderBesideTier</string>
	<key>parallelCanvasCount</key>
	<string>localCosineType</string>
	<key>serviceStageKind</key>
	<string>spriteAsFacade</string>
	<key>utilWithMediator</key>
	<string>serviceDespitePrototype</string>
</dict>
</plist>
