<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileInteractorOrientation</key>
	<string>interactorDecoratorOpacity</string>
	<key>dependencyViaType</key>
	<string>shaderIncludePlatform</string>
	<key>difficultCubitBehavior</key>
	<string>protectedSubscriptionColor</string>
	<key>diversifiedSinkOrientation</key>
	<string>sustainableFactoryForce</string>
	<key>mediaWithVar</key>
	<string>substantialStepShape</string>
	<key>menuContextDensity</key>
	<string>notifierKindVelocity</string>
	<key>nodePerDecorator</key>
	<string>modelTierIndex</string>
	<key>projectIncludeMemento</key>
	<string>signatureParameterDuration</string>
	<key>resourceCompositeHue</key>
	<string>gesturedetectorLikeJob</string>
	<key>usageTierLeft</key>
	<string>managerPerPattern</string>
</dict>
</plist>
