<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAllocatorRate</key>
	<string>cupertinoAdapterDelay</string>
	<key>modulusModeOrigin</key>
	<string>taskVersusVariable</string>
	<key>numericalTabbarColor</key>
	<string>referenceObserverSize</string>
	<key>shaderMediatorLeft</key>
	<string>capacitiesAsObserver</string>
	<key>taskMethodTheme</key>
	<string>secondChartHead</string>
</dict>
</plist>
