<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionPlaybackBottom</key>
	<string>integerStageDepth</string>
	<key>behaviorContextAlignment</key>
	<string>navigationProxyTheme</string>
	<key>chapterLikeCycle</key>
	<string>screenViaScope</string>
	<key>consultativeAnimationIndex</key>
	<string>durationAmongCommand</string>
	<key>exponentTypeVisibility</key>
	<string>compositionalSizeBound</string>
	<key>labelPatternOffset</key>
	<string>pointMementoDelay</string>
	<key>mediaTierIndex</key>
	<string>vectorSinceVar</string>
	<key>mutableStampPosition</key>
	<string>consultativeProjectionMargin</string>
</dict>
</plist>
