<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialSceneContrast</key>
	<string>routerDuringCommand</string>
	<key>extensionBridgeOrientation</key>
	<string>eventUntilEnvironment</string>
	<key>grainUntilForm</key>
	<string>controllerForBridge</string>
	<key>intermediateStatelessForce</key>
	<string>ignoredCallbackColor</string>
	<key>mobileActionTag</key>
	<string>pivotalGrayscaleFormat</string>
	<key>reducerVersusMethod</key>
	<string>alphaFunctionOpacity</string>
</dict>
</plist>
