<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constResolverTop</key>
	<string>cubitFacadePressure</string>
	<key>ephemeralPresenterAppearance</key>
	<string>delegateStateSize</string>
	<key>materialStampBehavior</key>
	<string>aspectFromForm</string>
	<key>newestResponseForce</key>
	<string>euclideanMusicMomentum</string>
	<key>temporaryCycleForce</key>
	<string>drawerStateAcceleration</string>
</dict>
</plist>
