<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorStructureDensity</key>
	<string>ternaryTierSpacing</string>
	<key>granularDocumentStyle</key>
	<string>activeBehaviorPosition</string>
	<key>singlePlateBrightness</key>
	<string>grainTempleIndex</string>
	<key>stateActionBorder</key>
	<string>activatedBrushOpacity</string>
</dict>
</plist>
