<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsOperationAppearance</key>
	<string>curveVariableBehavior</string>
	<key>directlyPromiseKind</key>
	<string>effectProxyCoord</string>
	<key>eagerListviewInterval</key>
	<string>responseProcessOpacity</string>
	<key>functionalExpandedBorder</key>
	<string>eventSingletonInteraction</string>
	<key>gramStageDistance</key>
	<string>projectIncludePlatform</string>
	<key>seamlessScaffoldPressure</key>
	<string>isolateUntilActivity</string>
</dict>
</plist>
