<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferThroughBridge</key>
	<string>modalWithWork</string>
	<key>geometricGroupDuration</key>
	<string>descriptorInsideLevel</string>
	<key>grayscaleWithForm</key>
	<string>scrollAroundPlatform</string>
	<key>lastOffsetDistance</key>
	<string>symbolFromForm</string>
	<key>navigationAwayTask</key>
	<string>indicatorNumberFeedback</string>
	<key>rowFrameworkSkewx</key>
	<string>mobileContainScope</string>
</dict>
</plist>
