<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableLossVisible</key>
	<string>layoutParamSaturation</string>
	<key>keySpotMargin</key>
	<string>titleOfComposite</string>
	<key>otherCertificateSize</key>
	<string>mainNodeEdge</string>
	<key>protocolNumberTag</key>
	<string>immutableRichtextFormat</string>
	<key>textWithoutParam</key>
	<string>usecaseWithoutTier</string>
	<key>uniformNotificationValidation</key>
	<string>popupAroundBuffer</string>
</dict>
</plist>
