<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleInterfaceSpacing</key>
	<string>deferredMapRight</string>
	<key>groupFromLevel</key>
	<string>nextDelegateName</string>
	<key>invisibleIndicatorTension</key>
	<string>dimensionMediatorType</string>
	<key>methodForMemento</key>
	<string>aspectratioLikeContext</string>
	<key>otherListenerFeedback</key>
	<string>menuOfEnvironment</string>
	<key>requiredLayerLeft</key>
	<string>containerInProcess</string>
	<key>sessionBridgePadding</key>
	<string>assetAdapterSkewy</string>
	<key>signBesideObserver</key>
	<string>usageAroundKind</string>
	<key>sizeFromObserver</key>
	<string>listenerAmongKind</string>
	<key>widgetProcessFeedback</key>
	<string>tappableBoxshadowState</string>
</dict>
</plist>
