<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRequestPosition</key>
	<string>firstEqualizationFlags</string>
	<key>asyncIncludeDecorator</key>
	<string>animatedcontainerForFramework</string>
	<key>brushFlyweightTheme</key>
	<string>fragmentAgainstStyle</string>
	<key>fragmentOfVar</key>
	<string>vectorVersusBuffer</string>
	<key>invisibleHeapSkewx</key>
	<string>delegateVarStyle</string>
	<key>metadataByWork</key>
	<string>expandedProcessShape</string>
	<key>robustEntitySkewy</key>
	<string>asyncSampleFrequency</string>
	<key>swiftAmongObserver</key>
	<string>listenerNearComposite</string>
	<key>widgetParamTop</key>
	<string>nodeParameterLocation</string>
</dict>
</plist>
