<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDurationName</key>
	<string>specifierTierOrientation</string>
	<key>constraintViaFramework</key>
	<string>allocatorObserverTop</string>
	<key>criticalCanvasStatus</key>
	<string>uniqueConstraintRotation</string>
	<key>grayscaleAwaySingleton</key>
	<string>intensityAtMethod</string>
	<key>heapFrameworkIndex</key>
	<string>interpolationParamFlags</string>
	<key>inheritedStatelessOrientation</key>
	<string>sequentialPresenterOrigin</string>
	<key>marginCycleVelocity</key>
	<string>functionalBufferAcceleration</string>
	<key>multiplicationFlyweightRight</key>
	<string>asyncShapeFeedback</string>
	<key>reductionCompositeDirection</key>
	<string>graphAwayCycle</string>
	<key>sinkInsideLevel</key>
	<string>fusedQueryHead</string>
</dict>
</plist>
