<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constMenuEdge</key>
	<string>mobxFunctionName</string>
	<key>difficultRowLocation</key>
	<string>requestContextBottom</string>
	<key>intermediateExponentHue</key>
	<string>providerAwayType</string>
	<key>permanentSubpixelStyle</key>
	<string>resultActionCoord</string>
	<key>permissiveProfileDirection</key>
	<string>oldTextResponse</string>
	<key>profileTempleStatus</key>
	<string>liteAnimationShape</string>
	<key>seamlessGridVisible</key>
	<string>logAgainstActivity</string>
	<key>ternaryPerChain</key>
	<string>presenterDuringObserver</string>
	<key>textureAlongVisitor</key>
	<string>animationThroughSingleton</string>
</dict>
</plist>
