<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoAxisSpacing</key>
	<string>spotEnvironmentValidation</string>
	<key>delegateAboutPattern</key>
	<string>pivotalTransitionForce</string>
	<key>functionalMapTransparency</key>
	<string>storeWorkLeft</string>
	<key>reactiveEventLeft</key>
	<string>offsetOfParam</string>
</dict>
</plist>
