<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLoopTension</key>
	<string>ephemeralChartPosition</string>
	<key>behaviorMediatorBottom</key>
	<string>resolverFromActivity</string>
	<key>containerViaBuffer</key>
	<string>navigatorSystemResponse</string>
	<key>desktopAspectratioResponse</key>
	<string>handlerEnvironmentSkewx</string>
	<key>exponentChainFlags</key>
	<string>futureBesidePhase</string>
	<key>injectionExceptPhase</key>
	<string>marginVarHead</string>
	<key>mutableSkirtSaturation</key>
	<string>captionAsPlatform</string>
	<key>optimizerVersusFunction</key>
	<string>concreteTextfieldTheme</string>
</dict>
</plist>
