<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFunctionMode</key>
	<string>iconDespiteForm</string>
	<key>factorySystemOffset</key>
	<string>logInsideJob</string>
	<key>fusedSliderDuration</key>
	<string>graphicLikeTier</string>
	<key>injectionByChain</key>
	<string>coordinatorPrototypeResponse</string>
	<key>interpolationStateBorder</key>
	<string>commonAwaitStatus</string>
	<key>uniformManagerEdge</key>
	<string>callbackAndDecorator</string>
	<key>viewIncludeAction</key>
	<string>alphaAndActivity</string>
	<key>visibleStoreBound</key>
	<string>rowAdapterCenter</string>
</dict>
</plist>
