<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGridviewScale</key>
	<string>gemMementoLocation</string>
	<key>challengeContextDistance</key>
	<string>responsiveDialogsRight</string>
	<key>chartDespiteTemple</key>
	<string>modalInsideContext</string>
	<key>factoryProcessForce</key>
	<string>specifyStatelessSize</string>
	<key>granularProfileFlags</key>
	<string>firstSwiftCount</string>
	<key>iconByStage</key>
	<string>navigationBesideWork</string>
	<key>originalAppbarSkewy</key>
	<string>iterativeListviewSaturation</string>
	<key>overlayPlatformTail</key>
	<string>momentumForProxy</string>
</dict>
</plist>
