<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseMediatorScale</key>
	<string>denseHistogramSaturation</string>
	<key>featureProcessKind</key>
	<string>accordionDimensionTail</string>
	<key>gestureOfMethod</key>
	<string>statefulListenerSpeed</string>
	<key>grayscaleProxyMargin</key>
	<string>transitionStructureOffset</string>
	<key>primaryMediaqueryCount</key>
	<string>largeNavigatorAcceleration</string>
	<key>spineNumberShape</key>
	<string>delegateFlyweightVelocity</string>
	<key>substantialMasterStatus</key>
	<string>cursorWorkStyle</string>
</dict>
</plist>
