<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedZoneBrightness</key>
	<string>effectBeyondMediator</string>
	<key>characterByStyle</key>
	<string>streamByFramework</string>
	<key>configurationAsPhase</key>
	<string>labelOfStructure</string>
	<key>localizationAmongCommand</key>
	<string>navigationForPattern</string>
	<key>menuStyleTension</key>
	<string>cupertinoResourceDistance</string>
	<key>rapidScrollPressure</key>
	<string>expandedAboutActivity</string>
	<key>resourceVariableShade</key>
	<string>sortedConstraintDuration</string>
	<key>responseDecoratorTension</key>
	<string>remainderInStrategy</string>
	<key>sensorProxyAppearance</key>
	<string>optimizerThroughStyle</string>
</dict>
</plist>
