<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultTextOpacity</key>
	<string>vectorMementoShape</string>
	<key>dimensionVisitorDepth</key>
	<string>presenterAtPlatform</string>
	<key>mediumSampleSize</key>
	<string>serviceInterpreterShape</string>
	<key>methodModeTag</key>
	<string>remainderIncludeInterpreter</string>
	<key>optimizerPerTier</key>
	<string>largeRiverpodDensity</string>
	<key>slashCompositeSize</key>
	<string>singleSinkMargin</string>
	<key>storeInterpreterVisibility</key>
	<string>methodPerShape</string>
	<key>subpixelLayerDensity</key>
	<string>containerAsMediator</string>
</dict>
</plist>
