<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowExceptTemple</key>
	<string>sliderUntilFunction</string>
	<key>commandContextCenter</key>
	<string>controllerByObserver</string>
	<key>multiRouteCoord</key>
	<string>getxBesideState</string>
	<key>navigatorChainCoord</key>
	<string>easyTouchOrigin</string>
	<key>plateBesideTier</key>
	<string>awaitStyleRate</string>
	<key>providerFlyweightContrast</key>
	<string>projectInsideParameter</string>
	<key>smallGradientScale</key>
	<string>commonInjectionVisibility</string>
	<key>transformerNumberState</key>
	<string>statelessAtOperation</string>
</dict>
</plist>
