<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonByForm</key>
	<string>customizedResourceOpacity</string>
	<key>customizedCurveValidation</key>
	<string>radioInsideComposite</string>
	<key>inheritedBorderCount</key>
	<string>blocUntilState</string>
	<key>layoutUntilMemento</key>
	<string>imperativeCoordinatorAcceleration</string>
	<key>mediaTaskTension</key>
	<string>navigatorThroughPrototype</string>
	<key>usecaseAndParam</key>
	<string>indicatorAtParam</string>
</dict>
</plist>
