<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSymbolDensity</key>
	<string>instructionBesideBridge</string>
	<key>imperativeConfigurationKind</key>
	<string>serviceUntilShape</string>
	<key>interfaceWithFacade</key>
	<string>sessionStructureType</string>
	<key>reactiveProtocolTheme</key>
	<string>signatureStateContrast</string>
	<key>singleGiftDuration</key>
	<string>viewOutsideAction</string>
</dict>
</plist>
