<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstInterpreter</key>
	<string>keyResolverDirection</string>
	<key>dynamicMonsterSpacing</key>
	<string>containerPlatformDuration</string>
	<key>entityAwayFlyweight</key>
	<string>standaloneCapsuleColor</string>
	<key>giftTaskHead</key>
	<string>progressbarAndEnvironment</string>
	<key>interfaceNearVisitor</key>
	<string>musicValueMode</string>
	<key>movementOutsideSingleton</key>
	<string>commandAroundScope</string>
	<key>responseNearParam</key>
	<string>scrollableConsumerColor</string>
	<key>specifierThroughLayer</key>
	<string>progressbarAmongTask</string>
</dict>
</plist>
