<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncConsumerOrientation</key>
	<string>entityOrFunction</string>
	<key>composableDelegateVisibility</key>
	<string>instructionAtScope</string>
	<key>curveSinceBridge</key>
	<string>unsortedProfileTension</string>
	<key>delegateVariableInterval</key>
	<string>lostLayoutDensity</string>
	<key>drawerExceptActivity</key>
	<string>brushForDecorator</string>
	<key>hashKindMargin</key>
	<string>memberSystemVisibility</string>
	<key>imageProxyBound</key>
	<string>activeModelInset</string>
	<key>semanticTimerShade</key>
	<string>indicatorAtForm</string>
	<key>transitionContainSystem</key>
	<string>crudeConstraintInterval</string>
</dict>
</plist>
