<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMobxLocation</key>
	<string>unactivatedModalTail</string>
	<key>collectionFunctionHead</key>
	<string>unactivatedTickerStyle</string>
	<key>hierarchicalViewColor</key>
	<string>retainedSinkKind</string>
	<key>normOperationOffset</key>
	<string>uniqueSinkBorder</string>
	<key>radiusPrototypeEdge</key>
	<string>gesturedetectorValueHue</string>
	<key>storageInsidePattern</key>
	<string>gestureInterpreterDelay</string>
	<key>switchThroughPlatform</key>
	<string>resolverWithBridge</string>
</dict>
</plist>
