<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBesideNumber</key>
	<string>equalizationActivityName</string>
	<key>canvasOrParameter</key>
	<string>cubitStyleHue</string>
	<key>diffableNodeForce</key>
	<string>touchWithoutVisitor</string>
	<key>euclideanMemberFlags</key>
	<string>coordinatorFlyweightTag</string>
	<key>factoryAroundLayer</key>
	<string>independentCharacterCount</string>
	<key>statelessWorkDuration</key>
	<string>serviceSystemSpeed</string>
	<key>tabviewPrototypeTail</key>
	<string>touchForStructure</string>
	<key>textVersusPrototype</key>
	<string>similarMapVisibility</string>
	<key>threadParamLeft</key>
	<string>bufferActivityCount</string>
	<key>workflowInPattern</key>
	<string>opaqueConstraintDirection</string>
</dict>
</plist>
