<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentDecoratorTag</key>
	<string>customDependencyFrequency</string>
	<key>diversifiedStepDirection</key>
	<string>reducerAdapterCenter</string>
	<key>exceptionProxyTop</key>
	<string>standaloneSliderTension</string>
	<key>intensityByShape</key>
	<string>singleEntropyMargin</string>
	<key>largeChecklistLeft</key>
	<string>methodScopeTail</string>
	<key>missedAllocatorStatus</key>
	<string>metadataFlyweightDelay</string>
	<key>offsetContextSkewx</key>
	<string>accordionObserverAppearance</string>
	<key>protectedGrayscalePosition</key>
	<string>durationTempleForce</string>
	<key>segmentViaWork</key>
	<string>pivotalGroupType</string>
	<key>statefulPlatformDirection</key>
	<string>rectTempleTension</string>
</dict>
</plist>
