<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGrayscaleHead</key>
	<string>textDuringPhase</string>
	<key>crucialCommandSaturation</key>
	<string>sizeAdapterTension</string>
	<key>dynamicSkirtColor</key>
	<string>methodStrategySkewx</string>
	<key>largeCommandBottom</key>
	<string>stepJobSkewx</string>
	<key>liteInstructionBorder</key>
	<string>layerStateType</string>
	<key>missionAtStrategy</key>
	<string>containerCycleShape</string>
	<key>ternaryVersusOperation</key>
	<string>boxAlongSystem</string>
</dict>
</plist>
