<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLayerSpacing</key>
	<string>rectFlyweightScale</string>
	<key>offsetAsBuffer</key>
	<string>mobileNodeInteraction</string>
	<key>persistentDimensionBehavior</key>
	<string>cartesianFragmentDelay</string>
</dict>
</plist>
