<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCapacitiesCoord</key>
	<string>serviceLikeStrategy</string>
	<key>blocProcessPressure</key>
	<string>textureLevelSpeed</string>
	<key>chartOrMethod</key>
	<string>geometricManagerInterval</string>
	<key>elasticButtonKind</key>
	<string>mediocreMapOffset</string>
	<key>primaryChannelName</key>
	<string>buttonOfParam</string>
	<key>rowFromVisitor</key>
	<string>paddingPlatformInterval</string>
	<key>statefulSpriteDirection</key>
	<string>handlerBufferRotation</string>
	<key>textEnvironmentPressure</key>
	<string>persistentRowInterval</string>
</dict>
</plist>
