<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicMatrixOpacity</key>
	<string>missionEnvironmentTheme</string>
	<key>kernelParameterTag</key>
	<string>otherRouteHead</string>
	<key>petMethodTension</key>
	<string>ignoredStoreMomentum</string>
	<key>semanticRectPosition</key>
	<string>effectAgainstScope</string>
</dict>
</plist>
