<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTextPadding</key>
	<string>flexibleDependencyEdge</string>
	<key>directlyPositionSkewx</key>
	<string>managerFromSingleton</string>
	<key>effectNearPhase</key>
	<string>equipmentNearObserver</string>
	<key>graphLikeJob</key>
	<string>blocFunctionDensity</string>
	<key>reactiveCursorSize</key>
	<string>momentumTempleType</string>
	<key>reactiveEventInteraction</key>
	<string>globalCupertinoSpeed</string>
	<key>rowAtStrategy</key>
	<string>futureMementoOrigin</string>
	<key>secondInteractorVelocity</key>
	<string>scrollLayerInteraction</string>
	<key>statelessParticleSpeed</key>
	<string>finalRectFrequency</string>
	<key>stepStateInset</key>
	<string>opaqueToolFeedback</string>
</dict>
</plist>
