<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePrototypeMargin</key>
	<string>gramVersusVisitor</string>
	<key>materialTransitionInteraction</key>
	<string>adaptiveCapacitiesType</string>
	<key>semanticOffsetPressure</key>
	<string>popupObserverType</string>
</dict>
</plist>
