<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityWithInterpreter</key>
	<string>cupertinoErrorMargin</string>
	<key>globalActivityPressure</key>
	<string>segmentPerShape</string>
	<key>isolateTaskInteraction</key>
	<string>assetOutsideParameter</string>
	<key>movementChainScale</key>
	<string>intensityIncludePlatform</string>
	<key>relationalRouteVelocity</key>
	<string>presenterLayerTint</string>
	<key>resourceInsideState</key>
	<string>featureStateBorder</string>
	<key>sequentialPreviewPosition</key>
	<string>prevResolverMargin</string>
	<key>shaderFunctionHead</key>
	<string>equipmentScopeDepth</string>
	<key>staticSinkDuration</key>
	<string>protocolFacadeInterval</string>
	<key>touchAtScope</key>
	<string>lossObserverInteraction</string>
</dict>
</plist>
