<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFacadeTransparency</key>
	<string>mainDurationIndex</string>
	<key>bitrateViaKind</key>
	<string>fusedEffectTint</string>
	<key>constBufferPadding</key>
	<string>completionVarRight</string>
	<key>cubitDuringSingleton</key>
	<string>profileVariableColor</string>
	<key>inheritedListenerTheme</key>
	<string>expandedMediatorPressure</string>
	<key>queryProxySkewy</key>
	<string>firstObserverCoord</string>
	<key>segmentLayerScale</key>
	<string>constraintInterpreterSpacing</string>
	<key>sortedSignHead</key>
	<string>allocatorCompositeDelay</string>
	<key>viewOperationDensity</key>
	<string>menuBufferVelocity</string>
</dict>
</plist>
