<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisValueTheme</key>
	<string>curveLevelType</string>
	<key>builderTaskStatus</key>
	<string>arithmeticNavigatorFeedback</string>
	<key>methodActionAlignment</key>
	<string>drawerAtVisitor</string>
	<key>spriteAndMode</key>
	<string>indicatorChainBehavior</string>
	<key>streamPerCommand</key>
	<string>intermediateInterpolationShape</string>
</dict>
</plist>
