<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constObserverDepth</key>
	<string>notificationStateColor</string>
	<key>cupertinoLikeStage</key>
	<string>associatedContainerLocation</string>
	<key>dialogsStateLeft</key>
	<string>indicatorUntilPattern</string>
	<key>durationBufferFormat</key>
	<string>observerProcessIndex</string>
	<key>grayscaleOfTemple</key>
	<string>equipmentParamSaturation</string>
	<key>indicatorByForm</key>
	<string>similarUsecaseBehavior</string>
	<key>modalAroundVar</key>
	<string>mapActionTint</string>
	<key>positionedPerInterpreter</key>
	<string>stateCommandFlags</string>
</dict>
</plist>
