<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveCharacterSpacing</key>
	<string>asynchronousClipperCenter</string>
	<key>featureKindSaturation</key>
	<string>touchLikeActivity</string>
	<key>layoutAlongCycle</key>
	<string>radiusOutsideMediator</string>
	<key>mainEffectInterval</key>
	<string>gateStageBound</string>
	<key>navigatorBridgeAlignment</key>
	<string>descriptorWorkShape</string>
	<key>providerBeyondNumber</key>
	<string>skirtSinceCycle</string>
	<key>zoneUntilDecorator</key>
	<string>cyclePatternOrientation</string>
</dict>
</plist>
