<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageCycleVelocity</key>
	<string>normOrTask</string>
	<key>keyUtilAlignment</key>
	<string>configurationUntilTask</string>
	<key>labelKindRotation</key>
	<string>durationInsideMode</string>
	<key>labelVarMode</key>
	<string>discardedSubscriptionAcceleration</string>
	<key>techniqueOutsideFacade</key>
	<string>delegateCommandPressure</string>
	<key>workflowDuringInterpreter</key>
	<string>composableConvolutionCenter</string>
</dict>
</plist>
