<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonMethodPosition</key>
	<string>mediaFromChain</string>
	<key>discardedListviewFlags</key>
	<string>uniformRouteName</string>
	<key>functionalStorageInset</key>
	<string>subtleViewRate</string>
	<key>mainDecorationTransparency</key>
	<string>newestEffectSpacing</string>
	<key>reductionContainActivity</key>
	<string>textureWithoutType</string>
	<key>resourceNumberFrequency</key>
	<string>gradientByDecorator</string>
</dict>
</plist>
