<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintCommandPadding</key>
	<string>cardUntilChain</string>
	<key>directlyCapsuleColor</key>
	<string>handlerOperationRotation</string>
	<key>managerPhasePadding</key>
	<string>futureAdapterPressure</string>
	<key>momentumDuringDecorator</key>
	<string>titleChainHead</string>
	<key>progressbarViaMode</key>
	<string>baseStrategyTop</string>
	<key>standaloneRowVelocity</key>
	<string>interpolationThroughTemple</string>
	<key>tangentInsideParameter</key>
	<string>projectionFunctionFlags</string>
	<key>workflowDecoratorRight</key>
	<string>uniqueCommandHead</string>
</dict>
</plist>
