<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonFromFunction</key>
	<string>advancedSubscriptionTheme</string>
	<key>geometricDecorationFrequency</key>
	<string>firstResourceShape</string>
	<key>globalBufferHead</key>
	<string>intensityWorkScale</string>
	<key>granularRowOrientation</key>
	<string>concreteSwiftBound</string>
	<key>lastCubeBound</key>
	<string>primaryCoordinatorDelay</string>
	<key>marginAsNumber</key>
	<string>builderUntilAdapter</string>
	<key>queryExceptMode</key>
	<string>popupAsStyle</string>
	<key>smartLocalizationEdge</key>
	<string>resilientGroupPressure</string>
	<key>streamAsChain</key>
	<string>interpolationViaProxy</string>
	<key>subscriptionMementoCoord</key>
	<string>mediocreProviderLeft</string>
</dict>
</plist>
