<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationValueState</key>
	<string>isolateDecoratorInset</string>
	<key>captionAmongChain</key>
	<string>unsortedAlignmentTag</string>
	<key>customizedCubeDepth</key>
	<string>semanticsChainStatus</string>
	<key>equalizationScopeDistance</key>
	<string>entityContextFrequency</string>
	<key>errorVisitorTail</key>
	<string>lostDelegateDelay</string>
	<key>relationalPlateContrast</key>
	<string>requiredBrushFlags</string>
	<key>signWithSingleton</key>
	<string>switchValueInterval</string>
	<key>smartButtonVisible</key>
	<string>statefulThreadLeft</string>
	<key>unactivatedEffectEdge</key>
	<string>axisNearProxy</string>
</dict>
</plist>
