<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerNearMediator</key>
	<string>giftLevelTop</string>
	<key>fusedSpriteDepth</key>
	<string>relationalClipperDepth</string>
	<key>topicProcessOrientation</key>
	<string>intuitiveAllocatorInset</string>
</dict>
</plist>
