<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAsMemento</key>
	<string>sliderLayerInteraction</string>
	<key>imperativePlaybackResponse</key>
	<string>paddingBeyondActivity</string>
	<key>numericalGraphDepth</key>
	<string>completionMementoFlags</string>
	<key>observerAroundEnvironment</key>
	<string>reducerSingletonTag</string>
	<key>observerIncludeTemple</key>
	<string>symmetricCubitSpeed</string>
	<key>prevCompleterTop</key>
	<string>cupertinoIntegerDensity</string>
	<key>sequentialCupertinoBound</key>
	<string>metadataThanProxy</string>
	<key>sortedSubscriptionState</key>
	<string>intuitivePriorityVisible</string>
</dict>
</plist>
