<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerWithMethod</key>
	<string>primaryAssetHue</string>
	<key>gradientCommandMargin</key>
	<string>permanentLocalizationTop</string>
	<key>shaderJobTheme</key>
	<string>mobileModeInset</string>
	<key>storyboardInEnvironment</key>
	<string>storageMethodKind</string>
	<key>uniformBlocTail</key>
	<string>widgetInterpreterRight</string>
	<key>zoneAlongParameter</key>
	<string>pivotalLayoutMargin</string>
</dict>
</plist>
