<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithDecorator</key>
	<string>accessibleLayoutAppearance</string>
	<key>capacitiesThroughMediator</key>
	<string>dropdownbuttonLayerIndex</string>
	<key>notifierThanProxy</key>
	<string>iconProcessHead</string>
	<key>oldAssetKind</key>
	<string>getxSystemAcceleration</string>
	<key>playbackStyleSize</key>
	<string>synchronousSliderForce</string>
	<key>timerModeOpacity</key>
	<string>missionWithoutBuffer</string>
</dict>
</plist>
