<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOrVisitor</key>
	<string>brushStrategyOpacity</string>
	<key>independentTopicOffset</key>
	<string>awaitForFramework</string>
	<key>providerWithAdapter</key>
	<string>deferredStepOpacity</string>
	<key>tensorKernelColor</key>
	<string>optionForPrototype</string>
</dict>
</plist>
