<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistUntilTier</key>
	<string>loopContainPattern</string>
	<key>configurationFormTail</key>
	<string>progressbarUntilJob</string>
	<key>desktopInkwellType</key>
	<string>asynchronousSpineType</string>
	<key>directlyFrameFrequency</key>
	<string>baseAtScope</string>
	<key>materialObserverPosition</key>
	<string>storageViaFacade</string>
	<key>persistentDurationBorder</key>
	<string>bufferCompositeStatus</string>
	<key>radiusAdapterBorder</key>
	<string>canvasSinceBuffer</string>
	<key>unsortedPromiseMode</key>
	<string>groupOrProcess</string>
</dict>
</plist>
