<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitSingletonShape</key>
	<string>specifierContainStage</string>
	<key>constSpriteTail</key>
	<string>playbackAndAction</string>
	<key>consultativeStreamValidation</key>
	<string>inactiveIsolatePressure</string>
	<key>musicStageRight</key>
	<string>zoneTypeRate</string>
	<key>rowOfJob</key>
	<string>usecaseLikeSingleton</string>
	<key>statelessBrushDepth</key>
	<string>disparateGrainType</string>
</dict>
</plist>
