<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedUsageMomentum</key>
	<string>protocolCommandTheme</string>
	<key>delegateContextShape</key>
	<string>sizedboxTierCoord</string>
	<key>listviewParameterSkewy</key>
	<string>activatedTabviewPosition</string>
	<key>observerCyclePosition</key>
	<string>transitionAwayAction</string>
	<key>originalExponentDepth</key>
	<string>mobileHandlerColor</string>
	<key>repositoryTierLocation</key>
	<string>dropdownbuttonAndKind</string>
</dict>
</plist>
