<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorProxyTension</key>
	<string>mediumProviderIndex</string>
	<key>blocSingletonTail</key>
	<string>accessoryTypeTop</string>
	<key>convolutionPrototypeAppearance</key>
	<string>lazyPositionVelocity</string>
	<key>queueShapeStyle</key>
	<string>titleNumberBorder</string>
	<key>robustModalShade</key>
	<string>reusableScreenSize</string>
	<key>sinkLevelIndex</key>
	<string>momentumExceptPlatform</string>
</dict>
</plist>
