<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileRequestSaturation</key>
	<string>interpolationBufferSpacing</string>
	<key>challengeSingletonFeedback</key>
	<string>transformerTypeTransparency</string>
	<key>dropdownbuttonStyleMode</key>
	<string>asynchronousRepositoryMode</string>
	<key>inactiveFeatureSpeed</key>
	<string>rowPatternInteraction</string>
	<key>logarithmVarMargin</key>
	<string>mainSingletonFeedback</string>
</dict>
</plist>
