<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterShapeFormat</key>
	<string>getxOperationFrequency</string>
	<key>decorationStructureOrientation</key>
	<string>sequentialStateAppearance</string>
	<key>displayableSensorPosition</key>
	<string>tabviewSingletonSpeed</string>
	<key>gridActivityTension</key>
	<string>localizationScopeLocation</string>
	<key>radioForStyle</key>
	<string>projectionShapeSpacing</string>
	<key>resilientSwiftTag</key>
	<string>permissiveBinarySkewx</string>
	<key>switchDespiteDecorator</key>
	<string>mobxOutsideMethod</string>
</dict>
</plist>
