<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateAgainstFunction</key>
	<string>interfaceStructurePressure</string>
	<key>immediateSpineDepth</key>
	<string>descriptionVisitorFeedback</string>
	<key>newestPopupDuration</key>
	<string>originalMemberDepth</string>
	<key>radioDespiteFramework</key>
	<string>tweenDuringParameter</string>
	<key>secondTextfieldInterval</key>
	<string>characterFacadeIndex</string>
	<key>storeStateType</key>
	<string>mapLikeAdapter</string>
</dict>
</plist>
