<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerStyleMomentum</key>
	<string>respectiveLabelColor</string>
	<key>cosineAgainstAction</key>
	<string>invisibleRiverpodOpacity</string>
	<key>elasticMobxOrientation</key>
	<string>taskThroughKind</string>
	<key>ephemeralRouterCount</key>
	<string>awaitAboutSingleton</string>
	<key>labelLayerDirection</key>
	<string>spriteInsideKind</string>
	<key>requestTierOffset</key>
	<string>navigationStateEdge</string>
	<key>slashNearStrategy</key>
	<string>invisibleCompositionShape</string>
	<key>sophisticatedRoleColor</key>
	<string>missionIncludeObserver</string>
	<key>statefulVisitorColor</key>
	<string>inactiveTableRight</string>
</dict>
</plist>
