<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorMediatorBorder</key>
	<string>unsortedCompositionSpacing</string>
	<key>inheritedBoxBehavior</key>
	<string>desktopChannelIndex</string>
	<key>logarithmOperationBorder</key>
	<string>cupertinoLikeVar</string>
	<key>permissiveChartDistance</key>
	<string>singletonAlongScope</string>
	<key>sinkIncludeSingleton</key>
	<string>unsortedScreenPressure</string>
	<key>subtleParticleAcceleration</key>
	<string>hyperbolicGramOpacity</string>
</dict>
</plist>
