<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyFactoryVisibility</key>
	<string>cardProcessPressure</string>
	<key>inheritedResourceDuration</key>
	<string>missionAmongBuffer</string>
	<key>managerShapeFeedback</key>
	<string>threadThanStage</string>
	<key>offsetVersusSystem</key>
	<string>significantRectOrientation</string>
	<key>queryPlatformBehavior</key>
	<string>paddingWithoutCommand</string>
</dict>
</plist>
