<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperSinceStrategy</key>
	<string>standaloneHeapTint</string>
	<key>repositoryAmongAdapter</key>
	<string>routeFrameworkEdge</string>
	<key>roleProcessRight</key>
	<string>baselineInSingleton</string>
</dict>
</plist>
