<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAmongWork</key>
	<string>awaitInContext</string>
	<key>giftParameterTop</key>
	<string>futureFormOrigin</string>
	<key>mainDelegateOrientation</key>
	<string>storageAgainstVisitor</string>
	<key>nativeThemeFeedback</key>
	<string>labelOfShape</string>
	<key>normAmongNumber</key>
	<string>normalLayoutFlags</string>
	<key>overlayStrategyShade</key>
	<string>storageCycleInset</string>
	<key>pageviewAlongTemple</key>
	<string>delicateExpandedTheme</string>
	<key>requestBufferFlags</key>
	<string>coordinatorTaskTint</string>
</dict>
</plist>
