<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchProcessTension</key>
	<string>particleNearObserver</string>
	<key>buttonChainBound</key>
	<string>declarativeParticleInset</string>
	<key>curveDuringCommand</key>
	<string>accessibleTickerStatus</string>
	<key>drawerBridgeSpacing</key>
	<string>curvePatternOpacity</string>
	<key>heroThroughCommand</key>
	<string>missedStoreTag</string>
	<key>injectionVariableIndex</key>
	<string>equipmentAtFlyweight</string>
	<key>nibMediatorTransparency</key>
	<string>mapStrategyAppearance</string>
	<key>resilientTabviewValidation</key>
	<string>swiftModeInset</string>
	<key>resolverUntilPlatform</key>
	<string>layoutLayerFeedback</string>
	<key>subscriptionAgainstMemento</key>
	<string>standaloneAppbarHue</string>
</dict>
</plist>
