<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOfAction</key>
	<string>cubitFlyweightOffset</string>
	<key>chapterPerParam</key>
	<string>routerSingletonContrast</string>
	<key>commandAmongActivity</key>
	<string>localizationStateBottom</string>
	<key>gridStructureTop</key>
	<string>sessionBesideStructure</string>
	<key>interpolationEnvironmentType</key>
	<string>grainStructureDistance</string>
	<key>queryStyleCoord</key>
	<string>labelTierRight</string>
	<key>webGraphSkewx</key>
	<string>otherPetFeedback</string>
</dict>
</plist>
