<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStrategyResponse</key>
	<string>mainPopupLeft</string>
	<key>dropdownbuttonVarCount</key>
	<string>storeAdapterSaturation</string>
	<key>entityPhaseFrequency</key>
	<string>buttonFromCycle</string>
	<key>featureDecoratorOrientation</key>
	<string>resolverContainParameter</string>
	<key>previewBeyondOperation</key>
	<string>crucialDelegateTail</string>
	<key>progressbarLayerMode</key>
	<string>radiusCycleAlignment</string>
	<key>protocolDuringKind</key>
	<string>interactiveRoutePosition</string>
	<key>similarTabviewBehavior</key>
	<string>agileRichtextSpacing</string>
</dict>
</plist>
