<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicGraphicHead</key>
	<string>observerInterpreterAcceleration</string>
	<key>builderDecoratorLeft</key>
	<string>gemOutsideWork</string>
	<key>radioFrameworkVisible</key>
	<string>currentZoneRotation</string>
	<key>semanticsAtSingleton</key>
	<string>allocatorAmongMethod</string>
	<key>textureBesidePhase</key>
	<string>geometricAppbarSize</string>
</dict>
</plist>
