<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandFacadeShade</key>
	<string>columnForFramework</string>
	<key>enabledResolverPosition</key>
	<string>gemAlongSingleton</string>
	<key>methodThroughLevel</key>
	<string>autoBitrateDelay</string>
	<key>nextTabviewAcceleration</key>
	<string>particleFunctionMode</string>
	<key>specifierIncludeScope</key>
	<string>repositoryOutsideShape</string>
</dict>
</plist>
