<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopAmongValue</key>
	<string>awaitNearStage</string>
	<key>observerVisitorSpacing</key>
	<string>scrollableFutureContrast</string>
	<key>offsetCommandTail</key>
	<string>curveInsideVariable</string>
	<key>otherAlignmentBottom</key>
	<string>promiseStyleCount</string>
	<key>promiseShapeLocation</key>
	<string>layerAroundState</string>
	<key>significantFeatureAppearance</key>
	<string>prevGraphBound</string>
	<key>ternaryAsLayer</key>
	<string>decorationLikeTemple</string>
</dict>
</plist>
