<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonLevelLocation</key>
	<string>topicFromPhase</string>
	<key>collectionContainType</key>
	<string>adaptiveRichtextOrigin</string>
	<key>crucialThemeCenter</key>
	<string>alphaVersusStage</string>
	<key>effectInsideSingleton</key>
	<string>imperativeSensorDepth</string>
	<key>immediatePlatePadding</key>
	<string>tabviewForCommand</string>
	<key>notifierFrameworkBottom</key>
	<string>coordinatorAmongInterpreter</string>
	<key>prismaticCallbackColor</key>
	<string>textAndVariable</string>
	<key>providerFunctionStyle</key>
	<string>frameIncludeMode</string>
	<key>reducerOperationTint</key>
	<string>materialWithoutForm</string>
	<key>zoneProcessDepth</key>
	<string>listenerMethodDensity</string>
</dict>
</plist>
