<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexStyleSpacing</key>
	<string>globalNodeBottom</string>
	<key>labelSinceTask</key>
	<string>callbackFromAdapter</string>
	<key>navigatorPhaseName</key>
	<string>multiStreamForce</string>
	<key>nibVariableLocation</key>
	<string>singletonLayerSize</string>
	<key>shaderBeyondCycle</key>
	<string>animatedcontainerThanCycle</string>
	<key>specifySceneAcceleration</key>
	<string>sophisticatedModalEdge</string>
	<key>usageDuringObserver</key>
	<string>presenterEnvironmentScale</string>
</dict>
</plist>
