<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOutsideLevel</key>
	<string>multiConstraintFlags</string>
	<key>indicatorWithCommand</key>
	<string>crudeRowSpacing</string>
	<key>normalCompositionName</key>
	<string>radioVarType</string>
	<key>originalMemberResponse</key>
	<string>streamFromFlyweight</string>
	<key>respectiveDescriptionHead</key>
	<string>injectionScopeSkewy</string>
	<key>streamFrameworkFrequency</key>
	<string>progressbarAroundLayer</string>
</dict>
</plist>
