<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetIncludePlatform</key>
	<string>compositionalActionMode</string>
	<key>baselineMethodScale</key>
	<string>queueVersusProcess</string>
	<key>delegateByPrototype</key>
	<string>crucialMissionInterval</string>
	<key>dialogsProcessOrientation</key>
	<string>invisiblePrecisionHead</string>
	<key>frameSingletonTag</key>
	<string>errorVersusMemento</string>
	<key>greatOverlayPressure</key>
	<string>uniqueCompleterStyle</string>
	<key>listenerWithPhase</key>
	<string>mobileTweenSaturation</string>
	<key>segmentFromSystem</key>
	<string>bufferFacadePressure</string>
	<key>semanticBufferMargin</key>
	<string>popupPlatformBrightness</string>
	<key>touchForVariable</key>
	<string>rapidEntityCenter</string>
</dict>
</plist>
