<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerExpandedRate</key>
	<string>activatedRouteCenter</string>
	<key>capacitiesProxyDepth</key>
	<string>unactivatedStepSaturation</string>
	<key>commandFacadeOrientation</key>
	<string>exceptionShapeDensity</string>
	<key>cubitLevelCoord</key>
	<string>nativePopupLeft</string>
	<key>handlerTempleDuration</key>
	<string>priorButtonValidation</string>
	<key>observerVersusWork</key>
	<string>constraintFormTag</string>
	<key>sizedboxVersusNumber</key>
	<string>sustainableKernelForce</string>
	<key>tappableCoordinatorState</key>
	<string>tableActionFormat</string>
	<key>uniqueMusicInteraction</key>
	<string>repositoryAdapterDuration</string>
</dict>
</plist>
