<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousProtocolTail</key>
	<string>backwardConstraintSkewy</string>
	<key>flexCommandOffset</key>
	<string>asyncAndInterpreter</string>
	<key>menuViaTier</key>
	<string>loopThanProxy</string>
	<key>nativeLayerBrightness</key>
	<string>slashSinceStructure</string>
	<key>persistentServiceOrientation</key>
	<string>spriteAtVisitor</string>
	<key>singletonWithState</key>
	<string>graphMethodRate</string>
	<key>sliderPerStage</key>
	<string>graphInterpreterDirection</string>
	<key>usecaseBridgeVisible</key>
	<string>operationParamTop</string>
</dict>
</plist>
