<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionAndWork</key>
	<string>mobileAsForm</string>
	<key>dedicatedCheckboxOffset</key>
	<string>layerVersusPlatform</string>
	<key>directInjectionOrientation</key>
	<string>stateFacadeAlignment</string>
	<key>euclideanTextSpacing</key>
	<string>catalystTempleContrast</string>
	<key>previewNearJob</key>
	<string>eagerCompleterVelocity</string>
	<key>rectAtMethod</key>
	<string>beginnerScrollCoord</string>
	<key>repositoryValueFeedback</key>
	<string>routerDuringFunction</string>
	<key>stateProxyCoord</key>
	<string>zoneParameterTail</string>
	<key>transitionDuringTask</key>
	<string>brushAboutType</string>
	<key>widgetActivityStyle</key>
	<string>singletonVariableBorder</string>
</dict>
</plist>
