<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAroundPattern</key>
	<string>cycleAsAction</string>
	<key>compositionalCustompaintPadding</key>
	<string>baseLevelRate</string>
	<key>constListviewTension</key>
	<string>eagerToolOffset</string>
	<key>dimensionProcessRight</key>
	<string>interfaceSingletonOffset</string>
	<key>spotParamInset</key>
	<string>singleCanvasForce</string>
	<key>vectorAwayFlyweight</key>
	<string>sharedConfigurationDirection</string>
</dict>
</plist>
