<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularDescriptionCount</key>
	<string>vectorBeyondFunction</string>
	<key>liteBufferCoord</key>
	<string>resizableSwiftCoord</string>
	<key>painterNearShape</key>
	<string>textAmongLevel</string>
	<key>seamlessLoopValidation</key>
	<string>animationTypeDelay</string>
	<key>slashAmongParameter</key>
	<string>descriptionAroundState</string>
	<key>textInPattern</key>
	<string>sliderObserverDensity</string>
	<key>texturePatternSkewx</key>
	<string>flexibleEventVisibility</string>
</dict>
</plist>
