<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFunctionBorder</key>
	<string>richtextActivityOffset</string>
	<key>cubitParameterPosition</key>
	<string>mediaqueryObserverTheme</string>
	<key>currentScreenAlignment</key>
	<string>popupFromTask</string>
	<key>difficultParticleMargin</key>
	<string>reducerOperationDistance</string>
	<key>granularAnimationRotation</key>
	<string>completerObserverOpacity</string>
	<key>intermediateAwaitCount</key>
	<string>blocMethodCenter</string>
	<key>modulusIncludeActivity</key>
	<string>cycleStructureAcceleration</string>
	<key>prismaticSingletonRate</key>
	<string>builderBufferType</string>
	<key>taskStructureTop</key>
	<string>specifyStoreDuration</string>
</dict>
</plist>
