<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentStoreTension</key>
	<string>widgetTempleBound</string>
	<key>drawerTaskPressure</key>
	<string>discardedSwiftHue</string>
	<key>gridCycleSpacing</key>
	<string>radiusBesidePattern</string>
	<key>iterativeCheckboxOrientation</key>
	<string>symmetricBorderAppearance</string>
	<key>protectedSinkContrast</key>
	<string>gesturedetectorNearNumber</string>
</dict>
</plist>
