<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentPerTemple</key>
	<string>resultWithActivity</string>
	<key>inkwellNearNumber</key>
	<string>constraintInCommand</string>
	<key>kernelVarOrigin</key>
	<string>canvasAgainstActivity</string>
	<key>mainDependencyOrientation</key>
	<string>relationalGemOrigin</string>
	<key>relationalAxisFeedback</key>
	<string>sessionByLayer</string>
	<key>responsiveScaleOrientation</key>
	<string>subtleReductionContrast</string>
	<key>scrollableControllerValidation</key>
	<string>smallChannelsVisible</string>
</dict>
</plist>
