<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTitleHue</key>
	<string>asynchronousActivitySize</string>
	<key>flexAroundFunction</key>
	<string>webChannelFlags</string>
	<key>injectionPlatformInteraction</key>
	<string>functionalCompleterMargin</string>
	<key>interactiveResourceRate</key>
	<string>routerValueSkewx</string>
	<key>profileActionIndex</key>
	<string>immutableRadiusCount</string>
</dict>
</plist>
