<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarNearPrototype</key>
	<string>aspectratioThanKind</string>
	<key>backwardFragmentColor</key>
	<string>rowActivityBrightness</string>
	<key>completerBeyondFramework</key>
	<string>grayscaleProcessTail</string>
	<key>expandedFrameworkVisibility</key>
	<string>unaryByMode</string>
	<key>ignoredExtensionOffset</key>
	<string>alignmentAroundBuffer</string>
</dict>
</plist>
