<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushParamSkewx</key>
	<string>presenterStateTag</string>
	<key>gestureMediatorRotation</key>
	<string>spriteIncludeKind</string>
	<key>modulusFrameworkSaturation</key>
	<string>nextTaskSaturation</string>
	<key>queryStyleStyle</key>
	<string>scaffoldProxyShade</string>
	<key>referenceProcessDensity</key>
	<string>grainByStrategy</string>
	<key>semanticsByComposite</key>
	<string>rapidBlocOrientation</string>
	<key>transformerParameterShape</key>
	<string>drawerFlyweightValidation</string>
</dict>
</plist>
