<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionKindName</key>
	<string>animatedCurveShade</string>
	<key>grayscaleTypeFormat</key>
	<string>observerWithoutVar</string>
	<key>lazyLabelTension</key>
	<string>masterCommandDirection</string>
	<key>otherCardIndex</key>
	<string>alphaFunctionOrigin</string>
	<key>pivotalControllerAlignment</key>
	<string>themePatternBehavior</string>
	<key>radiusThroughDecorator</key>
	<string>zoneAdapterBrightness</string>
</dict>
</plist>
