<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitAsTier</key>
	<string>protocolAndShape</string>
	<key>cycleOfAction</key>
	<string>typicalModelAcceleration</string>
	<key>metadataStyleStyle</key>
	<string>easyInkwellTransparency</string>
	<key>operationPatternEdge</key>
	<string>cubeFromLayer</string>
	<key>radiusModeDuration</key>
	<string>visibleHandlerBottom</string>
	<key>streamIncludeLevel</key>
	<string>currentSingletonLocation</string>
	<key>topicTypeContrast</key>
	<string>baselineActivityName</string>
	<key>typicalStateScale</key>
	<string>masterTierAppearance</string>
</dict>
</plist>
