<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorBesideBuffer</key>
	<string>awaitContainTask</string>
	<key>bulletWithWork</key>
	<string>semanticSubscriptionCoord</string>
	<key>callbackContainParam</key>
	<string>offsetStructurePressure</string>
	<key>checkboxPerPattern</key>
	<string>displayableConstraintSpacing</string>
	<key>concreteLogarithmAcceleration</key>
	<string>navigatorBesideSingleton</string>
	<key>descriptionWithStyle</key>
	<string>metadataPerCommand</string>
	<key>providerSinceBridge</key>
	<string>bulletBufferBehavior</string>
	<key>respectiveCollectionPosition</key>
	<string>cardFacadeMode</string>
	<key>scaffoldVersusPhase</key>
	<string>reducerThroughCommand</string>
</dict>
</plist>
