<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStateSkewy</key>
	<string>scrollableSignatureHead</string>
	<key>multiTextureHue</key>
	<string>channelsObserverForce</string>
	<key>transformerInsideComposite</key>
	<string>directlyPreviewSpacing</string>
</dict>
</plist>
