<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAwayActivity</key>
	<string>autoResourceOffset</string>
	<key>invisibleCacheSkewx</key>
	<string>permanentDecorationBottom</string>
	<key>movementContainKind</key>
	<string>projectionAboutProxy</string>
	<key>rowAndProxy</key>
	<string>timerContextShape</string>
	<key>scrollableStorageFlags</key>
	<string>configurationProcessColor</string>
</dict>
</plist>
