<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialPresenterDistance</key>
	<string>seamlessBaseInterval</string>
	<key>documentCycleTail</key>
	<string>persistentProtocolStatus</string>
	<key>handlerThanDecorator</key>
	<string>subscriptionCompositeVelocity</string>
	<key>kernelActivityVisible</key>
	<string>taskTypeAppearance</string>
	<key>mediaqueryViaVariable</key>
	<string>hyperbolicPreviewKind</string>
	<key>playbackAdapterIndex</key>
	<string>protectedTaskMomentum</string>
	<key>titleKindSkewy</key>
	<string>gridAdapterFlags</string>
	<key>topicStructureAppearance</key>
	<string>opaqueCallbackSaturation</string>
</dict>
</plist>
