<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalPlateRight</key>
	<string>getxInsideChain</string>
	<key>rowCommandTheme</key>
	<string>disabledTabbarOrientation</string>
	<key>smallExtensionValidation</key>
	<string>spineAsDecorator</string>
	<key>substantialTransitionCount</key>
	<string>agileZoneBrightness</string>
	<key>workflowMediatorVisible</key>
	<string>callbackAlongShape</string>
</dict>
</plist>
