<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAlignmentShade</key>
	<string>profilePhaseAlignment</string>
	<key>declarativeReductionMomentum</key>
	<string>asyncAsVariable</string>
	<key>menuInStructure</key>
	<string>symmetricEqualizationCenter</string>
	<key>previewActivityState</key>
	<string>granularScaleTint</string>
	<key>singleMetadataRate</key>
	<string>petModePressure</string>
	<key>skinOfFramework</key>
	<string>getxDespiteVisitor</string>
</dict>
</plist>
