<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalIsolateRight</key>
	<string>spriteAdapterDensity</string>
	<key>greatBorderDensity</key>
	<string>menuProxyCoord</string>
	<key>greatFrameStyle</key>
	<string>sortedAxisRate</string>
	<key>iconOperationColor</key>
	<string>mediumPositionBehavior</string>
	<key>mainRouterDirection</key>
	<string>zoneVarSpacing</string>
	<key>observerLikeAdapter</key>
	<string>decorationWithoutMode</string>
	<key>otherThemeMargin</key>
	<string>musicFunctionOpacity</string>
	<key>sensorDuringVisitor</key>
	<string>descriptorPhaseFeedback</string>
	<key>transitionInsideAction</key>
	<string>animationVisitorTail</string>
</dict>
</plist>
