<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSizeAcceleration</key>
	<string>respectiveSlashSkewx</string>
	<key>documentFacadeMomentum</key>
	<string>retainedResolverVisible</string>
	<key>gridParamCoord</key>
	<string>reducerInsideMethod</string>
	<key>hierarchicalRadioMode</key>
	<string>modalSystemContrast</string>
	<key>independentFeatureColor</key>
	<string>callbackCycleMode</string>
	<key>nodeInterpreterInset</key>
	<string>greatRadiusCenter</string>
	<key>referenceMediatorCenter</key>
	<string>modelCommandBound</string>
	<key>resilientAnchorIndex</key>
	<string>remainderLikeState</string>
	<key>skinJobPressure</key>
	<string>errorVariableKind</string>
	<key>spineAlongFunction</key>
	<string>uniformThemeState</string>
</dict>
</plist>
