<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easySkinKind</key>
	<string>overlayInsideChain</string>
	<key>semanticTechniqueInset</key>
	<string>kernelInScope</string>
	<key>sliderBeyondCycle</key>
	<string>dimensionLayerPadding</string>
	<key>variantScopeSize</key>
	<string>riverpodAmongComposite</string>
</dict>
</plist>
