<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintByObserver</key>
	<string>checklistAsProcess</string>
	<key>durationVisitorBound</key>
	<string>expandedInTask</string>
	<key>graphParameterLocation</key>
	<string>projectNearStage</string>
	<key>labelMediatorSize</key>
	<string>respectiveProviderKind</string>
	<key>reactivePrecisionFeedback</key>
	<string>associatedManagerSpeed</string>
	<key>storyboardActionSaturation</key>
	<string>eagerReducerRate</string>
</dict>
</plist>
