<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaByCycle</key>
	<string>cursorFunctionValidation</string>
	<key>durationOperationVisible</key>
	<string>factoryInParam</string>
	<key>oldStoreBottom</key>
	<string>viewPatternSkewx</string>
	<key>promisePlatformCoord</key>
	<string>oldMenuVelocity</string>
	<key>protectedChecklistAppearance</key>
	<string>heapDespiteComposite</string>
	<key>shaderAwayLevel</key>
	<string>isolateActivityColor</string>
	<key>unsortedEffectVelocity</key>
	<string>operationActionOrigin</string>
</dict>
</plist>
