<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGroupFlags</key>
	<string>decorationForMethod</string>
	<key>navigatorWithoutWork</key>
	<string>largeExceptionTail</string>
	<key>sessionSingletonTint</key>
	<string>titleFrameworkColor</string>
</dict>
</plist>
