<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeHead</key>
	<string>durationShapeDelay</string>
	<key>containerDecoratorBrightness</key>
	<string>providerDecoratorFlags</string>
	<key>cupertinoModeShape</key>
	<string>eagerBufferRotation</string>
	<key>errorAboutActivity</key>
	<string>dynamicSliderCount</string>
	<key>menuLevelSaturation</key>
	<string>significantKernelInterval</string>
	<key>optionAmongProxy</key>
	<string>cupertinoTopicShade</string>
	<key>relationalCharacterDistance</key>
	<string>intuitiveFrameLeft</string>
	<key>sharedContainerFrequency</key>
	<string>cycleLikePrototype</string>
	<key>zoneModeBottom</key>
	<string>segmentMementoColor</string>
</dict>
</plist>
