<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWithActivity</key>
	<string>utilThanComposite</string>
	<key>buttonActivitySpacing</key>
	<string>nativeQueryRight</string>
	<key>concurrentNavigatorOffset</key>
	<string>symmetricAwaitTag</string>
	<key>delicateRouterFrequency</key>
	<string>marginWorkStyle</string>
	<key>hierarchicalLocalizationShape</key>
	<string>petSinceVisitor</string>
	<key>nextCoordinatorTheme</key>
	<string>numericalReductionDensity</string>
	<key>queryDecoratorSkewx</key>
	<string>resizableParticleOrientation</string>
	<key>rowSystemType</key>
	<string>chartStageTension</string>
	<key>variantDecoratorAppearance</key>
	<string>remainderParameterTag</string>
</dict>
</plist>
