<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushThanPlatform</key>
	<string>opaqueDescriptionBehavior</string>
	<key>commonEffectDistance</key>
	<string>easyTextureInset</string>
	<key>dynamicBrushAlignment</key>
	<string>builderAwayPlatform</string>
	<key>featureOrFacade</key>
	<string>variantContextSpeed</string>
	<key>keyGraphicBrightness</key>
	<string>loopSinceFlyweight</string>
	<key>presenterExceptWork</key>
	<string>menuContainAdapter</string>
	<key>primaryPageviewShade</key>
	<string>newestLocalizationSaturation</string>
	<key>reductionIncludeMode</key>
	<string>containerOutsideOperation</string>
	<key>sizeContainWork</key>
	<string>presenterVersusAction</string>
</dict>
</plist>
