<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteMetadataBorder</key>
	<string>intermediateGateHue</string>
	<key>controllerMementoState</key>
	<string>sizeCompositeMomentum</string>
	<key>declarativeContainerAppearance</key>
	<string>animationWithoutJob</string>
	<key>dedicatedCubeTop</key>
	<string>lostPresenterBehavior</string>
	<key>desktopDecorationVisibility</key>
	<string>permissivePositionMargin</string>
	<key>originalDelegateSpacing</key>
	<string>hashAtNumber</string>
</dict>
</plist>
