<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFrameworkRate</key>
	<string>musicObserverType</string>
	<key>configurationFunctionTransparency</key>
	<string>popupAroundWork</string>
	<key>grainStyleTension</key>
	<string>parallelAlignmentCount</string>
	<key>originalInterfaceFormat</key>
	<string>hierarchicalGraphInterval</string>
	<key>resilientSemanticsStyle</key>
	<string>cupertinoInsideLayer</string>
	<key>statefulPointEdge</key>
	<string>modelLikeAdapter</string>
	<key>transitionEnvironmentFormat</key>
	<string>synchronousControllerTop</string>
	<key>transitionVarVisibility</key>
	<string>animatedMenuLocation</string>
</dict>
</plist>
