<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileExceptionKind</key>
	<string>scrollThanComposite</string>
	<key>appbarValueDistance</key>
	<string>concreteInjectionAlignment</string>
	<key>awaitForAdapter</key>
	<string>controllerParamVelocity</string>
	<key>callbackDespiteScope</key>
	<string>localPainterSkewy</string>
	<key>delegateIncludePattern</key>
	<string>invisibleDocumentTheme</string>
	<key>fixedSpecifierLocation</key>
	<string>textFromMethod</string>
	<key>taskDecoratorMargin</key>
	<string>constraintBesideChain</string>
	<key>textureCycleMode</key>
	<string>customResponseTheme</string>
	<key>tickerWithoutJob</key>
	<string>interfaceVariableOrigin</string>
	<key>utilWithType</key>
	<string>queryOrSystem</string>
</dict>
</plist>
