<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactorMethodDepth</key>
	<string>skinCompositeBorder</string>
	<key>materialGridviewVelocity</key>
	<string>advancedVectorScale</string>
	<key>mediocrePresenterSkewy</key>
	<string>segueAwayPattern</string>
	<key>providerDuringParam</key>
	<string>pointUntilBridge</string>
	<key>textureWithoutType</key>
	<string>constStreamDirection</string>
</dict>
</plist>
