<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAboutMode</key>
	<string>certificateExceptMediator</string>
	<key>bufferStructureTag</key>
	<string>controllerFrameworkSaturation</string>
	<key>cubitWithoutCycle</key>
	<string>presenterFlyweightStatus</string>
	<key>dimensionVarBorder</key>
	<string>taskAboutCycle</string>
	<key>greatCurvePressure</key>
	<string>blocDespiteState</string>
	<key>permissiveBehaviorMomentum</key>
	<string>queueAdapterLocation</string>
	<key>providerActionShape</key>
	<string>providerOrScope</string>
	<key>scrollableAnchorEdge</key>
	<string>reductionDespiteMemento</string>
	<key>vectorWorkMargin</key>
	<string>smartIconDistance</string>
</dict>
</plist>
