<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageStageDistance</key>
	<string>radiusLayerBound</string>
	<key>labelThanPattern</key>
	<string>paddingAsScope</string>
	<key>reactiveFutureRight</key>
	<string>chartTempleSize</string>
	<key>responsiveTextOrigin</key>
	<string>cupertinoGroupVelocity</string>
</dict>
</plist>
