<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphAroundProcess</key>
	<string>logarithmAroundStructure</string>
	<key>methodAgainstType</key>
	<string>responsivePageviewRight</string>
	<key>techniqueAmongType</key>
	<string>boxshadowAgainstVariable</string>
	<key>transitionAroundOperation</key>
	<string>spriteInterpreterSkewx</string>
</dict>
</plist>
