<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteLayoutScale</key>
	<string>ephemeralRowPadding</string>
	<key>currentPositionTail</key>
	<string>fusedHeroHue</string>
	<key>easyCacheOrientation</key>
	<string>extensionAroundPhase</string>
	<key>heapNumberPadding</key>
	<string>smartAnimationIndex</string>
	<key>modulusAsFlyweight</key>
	<string>providerParameterHue</string>
	<key>pivotalCubeBrightness</key>
	<string>injectionNumberTheme</string>
	<key>providerAmongSingleton</key>
	<string>momentumPatternContrast</string>
	<key>textfieldParamSize</key>
	<string>memberKindSpacing</string>
</dict>
</plist>
