<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateProtocolSpacing</key>
	<string>constResultTransparency</string>
	<key>dimensionByStyle</key>
	<string>modulusActivityBrightness</string>
	<key>eventContextOffset</key>
	<string>singleEffectBehavior</string>
	<key>interfaceWorkOffset</key>
	<string>rectTaskSkewx</string>
	<key>materialSegueName</key>
	<string>gramBridgeMomentum</string>
	<key>missedGrainPressure</key>
	<string>specifierDecoratorFormat</string>
	<key>permissiveBatchVelocity</key>
	<string>anchorForStage</string>
	<key>primaryModelPosition</key>
	<string>chartUntilLevel</string>
	<key>rapidCosineBorder</key>
	<string>entityViaWork</string>
	<key>substantialSingletonType</key>
	<string>optionFromProcess</string>
</dict>
</plist>
