<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorJobPadding</key>
	<string>protocolActivityLeft</string>
	<key>aspectExceptStrategy</key>
	<string>respectiveSliderOffset</string>
	<key>layerWithPhase</key>
	<string>reusableLabelName</string>
	<key>managerCommandBound</key>
	<string>factoryAndFramework</string>
	<key>reactiveMaterialFormat</key>
	<string>disparateTextureTop</string>
	<key>responseJobDirection</key>
	<string>specifyCompleterInterval</string>
	<key>scaleVariablePosition</key>
	<string>utilAwayScope</string>
	<key>semanticChannelsDensity</key>
	<string>servicePrototypeTension</string>
	<key>smartSubscriptionState</key>
	<string>serviceViaStyle</string>
</dict>
</plist>
