<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticSubpixelLeft</key>
	<string>capsuleModeSize</string>
	<key>callbackFlyweightSpacing</key>
	<string>responseThanPattern</string>
	<key>cartesianMenuBorder</key>
	<string>commonRouteMomentum</string>
	<key>containerOfProcess</key>
	<string>stepAwayStage</string>
	<key>intermediateCaptionDelay</key>
	<string>consultativeGrayscaleTag</string>
	<key>oldDecorationVisible</key>
	<string>pinchableSceneOpacity</string>
	<key>operationUntilChain</key>
	<string>currentQueueState</string>
	<key>singlePopupDelay</key>
	<string>accordionStatelessRate</string>
	<key>spotFormVisible</key>
	<string>accessoryNumberMode</string>
	<key>topicInterpreterMode</key>
	<string>tweenTaskHue</string>
</dict>
</plist>
