<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnFrameworkDistance</key>
	<string>materialDecorationOpacity</string>
	<key>difficultObserverInterval</key>
	<string>mapMethodType</string>
	<key>finalThemeMargin</key>
	<string>modelLikePhase</string>
	<key>interpolationLikeBuffer</key>
	<string>effectAndProcess</string>
	<key>menuActivityCoord</key>
	<string>graphValueSpeed</string>
	<key>missionIncludeFramework</key>
	<string>interactiveCaptionDepth</string>
	<key>opaqueSinkInterval</key>
	<string>localizationOfCycle</string>
	<key>routeTypeFrequency</key>
	<string>prevFutureName</string>
</dict>
</plist>
