<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVisitorTheme</key>
	<string>activityMediatorDepth</string>
	<key>explicitAwaitInset</key>
	<string>chartAgainstPhase</string>
	<key>factoryParamVisibility</key>
	<string>symmetricSlashBehavior</string>
	<key>fixedPositionedShape</key>
	<string>serviceViaValue</string>
	<key>gridviewFunctionHue</key>
	<string>usageDespiteNumber</string>
	<key>modulusFromEnvironment</key>
	<string>rolePrototypeBehavior</string>
	<key>protectedProfileTint</key>
	<string>profileVarScale</string>
	<key>rectStructureInteraction</key>
	<string>effectPrototypeColor</string>
	<key>subscriptionAdapterValidation</key>
	<string>tangentAndShape</string>
	<key>subtleButtonMode</key>
	<string>apertureAmongWork</string>
</dict>
</plist>
