<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopImageVelocity</key>
	<string>tweenWithProcess</string>
	<key>diffableSceneMode</key>
	<string>bitrateStageDepth</string>
	<key>diversifiedLayoutMargin</key>
	<string>lastBlocTag</string>
	<key>independentProgressbarVisible</key>
	<string>specifyMetadataInteraction</string>
	<key>positionedEnvironmentAppearance</key>
	<string>lastSizeHead</string>
	<key>referenceModeSpeed</key>
	<string>spineUntilEnvironment</string>
	<key>toolDuringFlyweight</key>
	<string>channelsLikeStructure</string>
</dict>
</plist>
