<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStrategyLeft</key>
	<string>marginLikeChain</string>
	<key>curveWithShape</key>
	<string>giftDuringProxy</string>
	<key>directModalInset</key>
	<string>sliderFrameworkRight</string>
	<key>inactiveScreenVisibility</key>
	<string>intensityActionOrientation</string>
	<key>largeLogarithmState</key>
	<string>aperturePhaseHue</string>
	<key>localPlateSpacing</key>
	<string>methodWorkHead</string>
	<key>mapProxyVisible</key>
	<string>repositoryAtPlatform</string>
	<key>scaleTypeMomentum</key>
	<string>cubitTemplePressure</string>
	<key>subsequentMobileHead</key>
	<string>groupAgainstTask</string>
	<key>widgetAboutFacade</key>
	<string>projectionLevelStyle</string>
</dict>
</plist>
