<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellOutsideOperation</key>
	<string>iconAwayMemento</string>
	<key>cupertinoGroupCount</key>
	<string>gemWorkAlignment</string>
	<key>deferredSubpixelInterval</key>
	<string>activatedAssetContrast</string>
	<key>exponentAroundJob</key>
	<string>exceptionStyleShape</string>
	<key>listviewOperationState</key>
	<string>greatTransitionPadding</string>
	<key>nodeValueState</key>
	<string>behaviorPlatformSaturation</string>
	<key>popupBesideObserver</key>
	<string>iterativeSubscriptionFormat</string>
	<key>precisionStageValidation</key>
	<string>intensityMediatorFlags</string>
	<key>segmentAtOperation</key>
	<string>transformerVersusObserver</string>
</dict>
</plist>
