<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFacadeCount</key>
	<string>cosineTierOffset</string>
	<key>functionalMapContrast</key>
	<string>commonWidgetTail</string>
	<key>indicatorParamCenter</key>
	<string>advancedStreamInteraction</string>
	<key>serviceVersusProcess</key>
	<string>secondNavigationTheme</string>
	<key>tableFormRotation</key>
	<string>aspectratioAwayWork</string>
</dict>
</plist>
