<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAboutPrototype</key>
	<string>composableLoopHead</string>
	<key>interactorKindSpeed</key>
	<string>decorationStageStatus</string>
	<key>interactorNearLevel</key>
	<string>ignoredBoxPressure</string>
	<key>radioLikeLevel</key>
	<string>cupertinoExceptionDensity</string>
	<key>routerBridgeFeedback</key>
	<string>statefulProviderShape</string>
	<key>singleSubscriptionSize</key>
	<string>interactiveMethodBottom</string>
	<key>sizeAroundStrategy</key>
	<string>monsterIncludeAction</string>
	<key>themeModeAlignment</key>
	<string>equalizationPlatformRight</string>
</dict>
</plist>
