<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionFunctionTheme</key>
	<string>tabviewThanValue</string>
	<key>containerOfSingleton</key>
	<string>disabledPopupSize</string>
	<key>difficultGrainFormat</key>
	<string>routeAroundObserver</string>
	<key>discardedHashColor</key>
	<string>flexibleStoreTint</string>
	<key>ephemeralCharacterDensity</key>
	<string>heroParamSkewy</string>
	<key>ignoredViewCenter</key>
	<string>getxAwayChain</string>
	<key>rowVarContrast</key>
	<string>nodeFacadeStyle</string>
	<key>viewFromFlyweight</key>
	<string>observerFromMediator</string>
</dict>
</plist>
