<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constGesturedetectorRate</key>
	<string>observerThanStyle</string>
	<key>firstCardState</key>
	<string>providerViaSystem</string>
	<key>immediateCurveBrightness</key>
	<string>backwardInjectionAlignment</string>
	<key>localStoreShape</key>
	<string>specifierExceptObserver</string>
	<key>pointLikeJob</key>
	<string>richtextWithForm</string>
	<key>priorResultBottom</key>
	<string>flexThroughObserver</string>
	<key>protectedResourceStyle</key>
	<string>mobileButtonTop</string>
	<key>providerPatternSaturation</key>
	<string>immediateMethodVelocity</string>
</dict>
</plist>
