<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDecorationFeedback</key>
	<string>sliderIncludePhase</string>
	<key>cartesianWidgetColor</key>
	<string>diversifiedPainterIndex</string>
	<key>easyRadioInterval</key>
	<string>interactorShapeAcceleration</string>
	<key>equalizationTypeStatus</key>
	<string>viewVariableTail</string>
	<key>featureCycleShape</key>
	<string>interpolationFormSkewy</string>
	<key>mobileCapacitiesInterval</key>
	<string>mediaActionTop</string>
	<key>queueStatePressure</key>
	<string>keyFactoryDelay</string>
	<key>viewWithStrategy</key>
	<string>interfaceSinceVisitor</string>
	<key>widgetLevelTheme</key>
	<string>queueLikeLevel</string>
</dict>
</plist>
