<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAdapterFeedback</key>
	<string>sinkShapeInset</string>
	<key>controllerMementoSaturation</key>
	<string>radiusViaContext</string>
	<key>cubitViaShape</key>
	<string>titleScopePadding</string>
	<key>curveForShape</key>
	<string>storageLayerTension</string>
	<key>immutableLabelBrightness</key>
	<string>constColumnInteraction</string>
	<key>layoutStageTransparency</key>
	<string>capacitiesObserverInteraction</string>
	<key>modelViaShape</key>
	<string>lazyOffsetShape</string>
	<key>spineAsKind</key>
	<string>radioViaContext</string>
	<key>vectorFrameworkInset</key>
	<string>mapBufferOrientation</string>
</dict>
</plist>
