<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetLevelMomentum</key>
	<string>providerByMode</string>
	<key>bufferChainAppearance</key>
	<string>firstRadioHead</string>
	<key>concurrentOptimizerDistance</key>
	<string>slashOutsideCommand</string>
	<key>giftContextTop</key>
	<string>parallelDependencyShape</string>
	<key>localProjectionHead</key>
	<string>modelStructureFeedback</string>
	<key>previewAlongStage</key>
	<string>skirtThroughState</string>
	<key>requestAtProcess</key>
	<string>hyperbolicMethodAlignment</string>
	<key>robustSliderHue</key>
	<string>responsiveSemanticsStatus</string>
	<key>workflowTempleCount</key>
	<string>mutablePreviewRight</string>
</dict>
</plist>
