<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitKindSkewy</key>
	<string>axisAmongPhase</string>
	<key>boxAboutTier</key>
	<string>singletonBridgeCoord</string>
	<key>extensionContextSkewx</key>
	<string>temporaryCaptionVisible</string>
	<key>instructionAwayAction</key>
	<string>painterFacadeFeedback</string>
	<key>offsetActivityScale</key>
	<string>decorationActionSaturation</string>
</dict>
</plist>
