<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackOfAdapter</key>
	<string>commonConvolutionPressure</string>
	<key>enabledPopupAlignment</key>
	<string>responseMethodFlags</string>
	<key>projectShapeVisible</key>
	<string>binaryWithoutCycle</string>
	<key>staticModalLeft</key>
	<string>similarFeatureVisible</string>
	<key>textContainOperation</key>
	<string>gateVariableDistance</string>
	<key>zoneNearPhase</key>
	<string>otherGridTag</string>
</dict>
</plist>
