<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAlignmentSkewx</key>
	<string>dedicatedMediaDuration</string>
	<key>easyConvolutionSpacing</key>
	<string>positionByPlatform</string>
	<key>isolateBesideStage</key>
	<string>repositoryFlyweightFlags</string>
	<key>layoutPlatformRight</key>
	<string>hyperbolicStorageMode</string>
	<key>navigationContextScale</key>
	<string>significantBitrateTension</string>
	<key>symbolSystemVisible</key>
	<string>otherHashShape</string>
</dict>
</plist>
