<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventBridgeMargin</key>
	<string>routeStyleBorder</string>
	<key>geometricSampleState</key>
	<string>draggableStoreOpacity</string>
	<key>interactiveOverlayDelay</key>
	<string>observerTempleOrientation</string>
	<key>navigatorInInterpreter</key>
	<string>tabbarJobIndex</string>
	<key>resolverParameterBehavior</key>
	<string>interfaceContainJob</string>
	<key>storageAndKind</key>
	<string>mediocreProviderRate</string>
</dict>
</plist>
