<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAsyncRotation</key>
	<string>fusedChannelOrientation</string>
	<key>diffableEventTail</key>
	<string>buttonOfJob</string>
	<key>entityPrototypeLeft</key>
	<string>stateUntilNumber</string>
	<key>isolateFormFlags</key>
	<string>transformerModeEdge</string>
	<key>nodeFlyweightDelay</key>
	<string>movementCycleStyle</string>
	<key>reactiveReductionHue</key>
	<string>delegateMementoOffset</string>
	<key>resizableLossHead</key>
	<string>spriteInterpreterMode</string>
	<key>stampEnvironmentDelay</key>
	<string>effectForTier</string>
</dict>
</plist>
