<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelActionDuration</key>
	<string>intuitiveGrainPosition</string>
	<key>gemAlongAdapter</key>
	<string>bulletOfMediator</string>
	<key>hardTickerScale</key>
	<string>explicitPresenterFeedback</string>
	<key>mobileSubscriptionHue</key>
	<string>dynamicGridShape</string>
	<key>nibProxyRate</key>
	<string>optimizerInterpreterTransparency</string>
	<key>reductionScopeDirection</key>
	<string>requestFacadeSize</string>
</dict>
</plist>
