<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFromSystem</key>
	<string>crucialViewEdge</string>
	<key>mapFacadeDepth</key>
	<string>methodContainOperation</string>
	<key>mediocrePresenterSkewy</key>
	<string>secondPrecisionName</string>
	<key>radiusVisitorStyle</key>
	<string>titleAtOperation</string>
	<key>unsortedPositionTheme</key>
	<string>gridAroundParameter</string>
</dict>
</plist>
