<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCardSpacing</key>
	<string>bulletParamKind</string>
	<key>deferredCurveTint</key>
	<string>prevObserverOffset</string>
	<key>diffableStateMomentum</key>
	<string>streamOfSystem</string>
	<key>draggableBoxshadowInteraction</key>
	<string>awaitLayerOpacity</string>
	<key>entityBesideShape</key>
	<string>agileMarginDensity</string>
	<key>streamLikePattern</key>
	<string>popupVersusPhase</string>
	<key>substantialSceneColor</key>
	<string>advancedGridOpacity</string>
	<key>viewLikeType</key>
	<string>textPatternInset</string>
	<key>workflowMementoDensity</key>
	<string>eventBesideFunction</string>
</dict>
</plist>
