<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionAdapterSaturation</key>
	<string>zoneLikeLevel</string>
	<key>grainStrategyAcceleration</key>
	<string>resourceCycleFormat</string>
	<key>sustainableAppbarFlags</key>
	<string>asyncSegueRotation</string>
	<key>transitionLevelSkewy</key>
	<string>methodStructureSpacing</string>
	<key>viewCommandVisibility</key>
	<string>widgetStrategyDelay</string>
</dict>
</plist>
