<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveProjectionOrientation</key>
	<string>denseChapterSaturation</string>
	<key>deferredRowDelay</key>
	<string>navigatorAmongLevel</string>
	<key>managerLayerOffset</key>
	<string>exceptionAtProxy</string>
	<key>progressbarUntilValue</key>
	<string>concreteGradientSpacing</string>
	<key>stackInSystem</key>
	<string>interactiveSineContrast</string>
	<key>switchDuringValue</key>
	<string>globalViewFlags</string>
	<key>topicAtState</key>
	<string>paddingFromProcess</string>
</dict>
</plist>
