<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintBesideWork</key>
	<string>viewPhaseFormat</string>
	<key>exponentWithoutTier</key>
	<string>intensityThanPattern</string>
	<key>methodOrVar</key>
	<string>callbackWithoutForm</string>
	<key>pointExceptParameter</key>
	<string>priorityStageOffset</string>
	<key>presenterSystemSkewx</key>
	<string>visibleEqualizationCenter</string>
	<key>resolverStageDepth</key>
	<string>transitionAndPrototype</string>
</dict>
</plist>
