<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOutsideStyle</key>
	<string>lastGrainType</string>
	<key>cacheAgainstPattern</key>
	<string>numericalAsyncSkewx</string>
	<key>challengeAboutTemple</key>
	<string>tableInterpreterMargin</string>
	<key>custompaintWithMethod</key>
	<string>sinkContainDecorator</string>
	<key>cycleVarFlags</key>
	<string>symbolThroughType</string>
	<key>easyTransformerMargin</key>
	<string>subsequentGroupOpacity</string>
	<key>heapStageAcceleration</key>
	<string>iconChainOpacity</string>
	<key>responsiveBlocRotation</key>
	<string>bitrateByLayer</string>
	<key>titleStructureDepth</key>
	<string>imperativeExtensionTension</string>
	<key>utilBeyondEnvironment</key>
	<string>errorIncludeAdapter</string>
</dict>
</plist>
