<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitVarStatus</key>
	<string>animationWithoutState</string>
	<key>disabledPrioritySize</key>
	<string>bufferOutsideObserver</string>
	<key>fixedWidgetSkewy</key>
	<string>bufferAlongWork</string>
	<key>logarithmPatternInteraction</key>
	<string>pinchableDependencyType</string>
	<key>paddingPatternCoord</key>
	<string>eventTypeTension</string>
	<key>sinkFacadeFlags</key>
	<string>numericalSkirtTension</string>
</dict>
</plist>
