<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintInPrototype</key>
	<string>ignoredAnimationTheme</string>
	<key>dynamicIndicatorCount</key>
	<string>requestFacadeRotation</string>
	<key>routerAwayOperation</key>
	<string>agileProjectionMargin</string>
	<key>scaleInterpreterForce</key>
	<string>nextLoopLeft</string>
	<key>storeBesideChain</key>
	<string>routeVersusChain</string>
</dict>
</plist>
