<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPhaseTag</key>
	<string>descriptionIncludePattern</string>
	<key>associatedCycleSize</key>
	<string>greatTextfieldPressure</string>
	<key>declarativePositionAppearance</key>
	<string>hashAtProcess</string>
	<key>ephemeralMultiplicationAcceleration</key>
	<string>tappableActionTheme</string>
	<key>factoryAwayAction</key>
	<string>exponentEnvironmentCenter</string>
	<key>popupAgainstStructure</key>
	<string>controllerExceptPhase</string>
	<key>sequentialTabbarInterval</key>
	<string>dimensionStateScale</string>
</dict>
</plist>
