<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAmongWork</key>
	<string>commandDespiteState</string>
	<key>dialogsOfPattern</key>
	<string>normInterpreterFlags</string>
	<key>functionalErrorFrequency</key>
	<string>labelThroughInterpreter</string>
	<key>futurePatternVelocity</key>
	<string>allocatorProcessDistance</string>
	<key>painterEnvironmentDelay</key>
	<string>challengeWithoutAction</string>
	<key>respectiveLocalizationSpacing</key>
	<string>frameNearMethod</string>
	<key>secondRadioFrequency</key>
	<string>richtextByPattern</string>
	<key>slashFlyweightIndex</key>
	<string>chartShapeMode</string>
	<key>visibleDocumentDepth</key>
	<string>prevCommandFormat</string>
</dict>
</plist>
