<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCertificateResponse</key>
	<string>taskVersusActivity</string>
	<key>dialogsParameterDepth</key>
	<string>hyperbolicIsolateInteraction</string>
	<key>disabledSliderSpacing</key>
	<string>scaffoldModeRate</string>
	<key>grainNumberOpacity</key>
	<string>skinScopeScale</string>
	<key>integerChainBrightness</key>
	<string>interactiveMobxMomentum</string>
</dict>
</plist>
