<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentPreviewBehavior</key>
	<string>commandAlongAdapter</string>
	<key>invisibleBufferScale</key>
	<string>durationAdapterTag</string>
	<key>liteGesturedetectorOffset</key>
	<string>capsuleTaskPadding</string>
	<key>parallelPromiseInteraction</key>
	<string>protectedScaleSaturation</string>
	<key>providerDuringTier</key>
	<string>consumerWithValue</string>
</dict>
</plist>
