<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedScaleMode</key>
	<string>lastMasterEdge</string>
	<key>asyncIsolateRight</key>
	<string>unactivatedMasterBound</string>
	<key>basicCoordinatorSpeed</key>
	<string>interactorWithoutSingleton</string>
	<key>momentumAmongLevel</key>
	<string>inkwellValueBorder</string>
	<key>otherAsyncVelocity</key>
	<string>inheritedNotificationPosition</string>
	<key>significantTitleKind</key>
	<string>repositoryAmongPhase</string>
	<key>sizeBesideState</key>
	<string>effectSingletonRight</string>
	<key>storeBridgeEdge</key>
	<string>animationNumberPadding</string>
	<key>ternaryOfNumber</key>
	<string>transitionOutsideFramework</string>
</dict>
</plist>
