<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncErrorFeedback</key>
	<string>largeLossRotation</string>
	<key>completerAwayDecorator</key>
	<string>uniformStoryboardContrast</string>
	<key>dedicatedSliderOrientation</key>
	<string>stepContainType</string>
	<key>missedGridMode</key>
	<string>managerWithPhase</string>
	<key>rapidRowStatus</key>
	<string>loopAndProcess</string>
	<key>smartSegmentCoord</key>
	<string>reductionWorkTransparency</string>
	<key>stampFromLayer</key>
	<string>prevLocalizationLocation</string>
	<key>symmetricRichtextCount</key>
	<string>configurationAboutDecorator</string>
</dict>
</plist>
