<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveInstructionBound</key>
	<string>custompaintPhaseRate</string>
	<key>bitrateVisitorStyle</key>
	<string>constReducerSkewy</string>
	<key>hashDespiteParam</key>
	<string>lostRepositoryPadding</string>
	<key>multiSceneHead</key>
	<string>interpolationContainProxy</string>
	<key>nodeNumberRight</key>
	<string>substantialLocalizationTop</string>
	<key>numericalSemanticsFlags</key>
	<string>labelFromComposite</string>
	<key>protocolValueTransparency</key>
	<string>constraintAmongCycle</string>
	<key>singletonScopeRotation</key>
	<string>scrollableMovementDuration</string>
</dict>
</plist>
