<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredGridviewVelocity</key>
	<string>radioMethodBorder</string>
	<key>errorShapePadding</key>
	<string>asyncGridDepth</string>
	<key>finalStatelessResponse</key>
	<string>uniformCapacitiesFeedback</string>
	<key>indicatorBeyondMethod</key>
	<string>mobxPhaseDirection</string>
</dict>
</plist>
