<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCompositeRight</key>
	<string>sliderWithChain</string>
	<key>denseSpotInset</key>
	<string>animatedcontainerSinceStructure</string>
	<key>durationAwayParameter</key>
	<string>newestHistogramPadding</string>
	<key>effectEnvironmentBottom</key>
	<string>streamBeyondType</string>
	<key>expandedProcessDistance</key>
	<string>imperativeViewDirection</string>
	<key>resourceContainPlatform</key>
	<string>momentumOfCycle</string>
	<key>routeMementoSkewy</key>
	<string>allocatorInShape</string>
	<key>sinkNearSystem</key>
	<string>asynchronousAlignmentState</string>
	<key>textfieldAmongType</key>
	<string>curveSinceCycle</string>
</dict>
</plist>
