<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSignatureBottom</key>
	<string>activeScreenPosition</string>
	<key>appbarThroughValue</key>
	<string>retainedButtonSkewx</string>
	<key>blocAndPrototype</key>
	<string>functionalViewValidation</string>
	<key>collectionPatternRotation</key>
	<string>effectAndNumber</string>
	<key>customWidgetTop</key>
	<string>decorationAroundInterpreter</string>
	<key>sceneAroundLevel</key>
	<string>taskMementoInteraction</string>
</dict>
</plist>
