<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialModalLeft</key>
	<string>concretePositionedAlignment</string>
	<key>diffablePopupMargin</key>
	<string>futureStageValidation</string>
	<key>globalStepState</key>
	<string>coordinatorInsideVar</string>
	<key>opaqueZoneMode</key>
	<string>actionBridgeInteraction</string>
	<key>otherPositionName</key>
	<string>borderFormAppearance</string>
	<key>requiredOptionEdge</key>
	<string>vectorNearNumber</string>
	<key>reusableAccessoryFormat</key>
	<string>eagerModelMomentum</string>
	<key>sensorBesideParam</key>
	<string>eventChainDuration</string>
	<key>tickerAlongStrategy</key>
	<string>blocThroughTier</string>
	<key>tickerInsideFacade</key>
	<string>gateFrameworkDuration</string>
</dict>
</plist>
