<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPerMode</key>
	<string>agileFutureSkewx</string>
	<key>displayableNotificationStyle</key>
	<string>gridviewSincePhase</string>
	<key>listenerAwayTemple</key>
	<string>skirtParamInterval</string>
	<key>notificationByComposite</key>
	<string>rowContextLocation</string>
	<key>popupContextState</key>
	<string>pageviewProcessOrientation</string>
	<key>rowProxyFormat</key>
	<string>logarithmLevelTension</string>
	<key>sortedInterpolationFeedback</key>
	<string>columnBridgeShape</string>
</dict>
</plist>
