<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCapacitiesMode</key>
	<string>asynchronousSegueForce</string>
	<key>characterAmongType</key>
	<string>instructionTempleAppearance</string>
	<key>flexibleGraphStyle</key>
	<string>widgetAtVar</string>
	<key>frameSinceDecorator</key>
	<string>ephemeralSkirtPadding</string>
	<key>gridPhaseScale</key>
	<string>draggableSampleTop</string>
	<key>hyperbolicEntityDelay</key>
	<string>prevTimerAlignment</string>
	<key>nibPrototypeDelay</key>
	<string>significantArithmeticMode</string>
	<key>titleDuringCycle</key>
	<string>compositionalSubpixelHead</string>
	<key>transitionNearStyle</key>
	<string>buttonIncludeScope</string>
	<key>tweenFromStage</key>
	<string>featureOrEnvironment</string>
</dict>
</plist>
