<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintUntilKind</key>
	<string>precisionSinceProxy</string>
	<key>interfaceAroundStrategy</key>
	<string>geometricQueryCoord</string>
	<key>listenerContextBottom</key>
	<string>featureParameterVisible</string>
	<key>semanticSignatureValidation</key>
	<string>graphInsideStrategy</string>
	<key>storageAroundShape</key>
	<string>missedInstructionMode</string>
	<key>synchronousOverlayCenter</key>
	<string>nodeAboutTask</string>
	<key>zoneWithPattern</key>
	<string>sequentialOptionFrequency</string>
</dict>
</plist>
