<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFromScope</key>
	<string>easyResponseTail</string>
	<key>chartVariableInterval</key>
	<string>isolateShapeBorder</string>
	<key>queueAmongFlyweight</key>
	<string>symmetricAllocatorMomentum</string>
	<key>screenThanBridge</key>
	<string>functionalEffectVisibility</string>
	<key>sensorAwayObserver</key>
	<string>newestPlaybackSaturation</string>
	<key>sizedboxOutsideVisitor</key>
	<string>zoneMediatorSaturation</string>
	<key>symmetricAnchorAppearance</key>
	<string>materialForLayer</string>
</dict>
</plist>
