<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartMediatorTension</key>
	<string>temporarySingletonRate</string>
	<key>customTimerLocation</key>
	<string>memberFacadeShade</string>
	<key>expandedOfFlyweight</key>
	<string>observerDuringDecorator</string>
	<key>painterProcessTail</key>
	<string>usedViewColor</string>
	<key>rowNumberIndex</key>
	<string>normalResourceStyle</string>
	<key>sizeLevelShade</key>
	<string>pageviewCommandSpeed</string>
	<key>timerStageFrequency</key>
	<string>alignmentAgainstPhase</string>
	<key>toolOutsideParam</key>
	<string>eagerGradientCount</string>
</dict>
</plist>
