<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryParamDuration</key>
	<string>desktopZoneSaturation</string>
	<key>associatedLayerCenter</key>
	<string>concurrentResourceDuration</string>
	<key>completerActionLocation</key>
	<string>queueParamSize</string>
	<key>equipmentLayerSaturation</key>
	<string>synchronousProviderColor</string>
	<key>factoryAndPattern</key>
	<string>subscriptionScopeTop</string>
	<key>gridAlongStructure</key>
	<string>sizeAboutJob</string>
	<key>normalControllerBrightness</key>
	<string>widgetScopeStatus</string>
	<key>providerActivityBorder</key>
	<string>painterOrJob</string>
	<key>tappableTechniquePressure</key>
	<string>symbolOperationAlignment</string>
</dict>
</plist>
