<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyStrategyDirection</key>
	<string>containerPrototypeLeft</string>
	<key>fusedSwitchValidation</key>
	<string>borderAtAction</string>
	<key>reducerNumberVisible</key>
	<string>tweenMethodInterval</string>
	<key>requiredVectorInteraction</key>
	<string>consumerCommandShape</string>
	<key>respectiveFactoryCount</key>
	<string>reducerAroundContext</string>
	<key>scrollableInteractorSkewy</key>
	<string>requiredChannelSpacing</string>
	<key>stateJobSpeed</key>
	<string>newestLocalizationFeedback</string>
	<key>transformerMementoAcceleration</key>
	<string>zoneBeyondVar</string>
</dict>
</plist>
