<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedGraphicOpacity</key>
	<string>lossCyclePressure</string>
	<key>hashTaskVelocity</key>
	<string>sustainableResourceScale</string>
	<key>normAtPrototype</key>
	<string>axisFunctionBrightness</string>
	<key>queryTypeTail</key>
	<string>eagerConsumerTransparency</string>
	<key>resultStageScale</key>
	<string>providerFlyweightValidation</string>
</dict>
</plist>
