<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoZoneAlignment</key>
	<string>bufferWorkTint</string>
	<key>pivotalInterfaceDepth</key>
	<string>statelessUntilBuffer</string>
	<key>sinkSingletonOrientation</key>
	<string>skirtTypeTransparency</string>
</dict>
</plist>
