<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectStageBehavior</key>
	<string>reducerParameterState</string>
	<key>interfaceProcessState</key>
	<string>tickerStructureBehavior</string>
	<key>rowOfCycle</key>
	<string>associatedDocumentLocation</string>
	<key>segueAdapterValidation</key>
	<string>secondWorkflowBound</string>
</dict>
</plist>
