<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveModalBrightness</key>
	<string>checkboxDuringSingleton</string>
	<key>loopAroundBridge</key>
	<string>allocatorAmongEnvironment</string>
	<key>permanentMusicVisibility</key>
	<string>swiftLikeVar</string>
</dict>
</plist>
