<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedVectorIndex</key>
	<string>labelAwayScope</string>
	<key>asyncButtonPressure</key>
	<string>navigatorCycleHue</string>
	<key>basicNavigatorTransparency</key>
	<string>builderContainFacade</string>
	<key>currentChartSkewy</key>
	<string>sessionPerComposite</string>
	<key>durationSystemShade</key>
	<string>backwardParticleAlignment</string>
	<key>inheritedBaselineFormat</key>
	<string>hyperbolicPainterType</string>
	<key>listviewScopeMargin</key>
	<string>elasticLogFormat</string>
	<key>localMatrixTheme</key>
	<string>themeContextSpacing</string>
	<key>segueLayerDepth</key>
	<string>modelInsideScope</string>
	<key>unsortedParticleScale</key>
	<string>responseBridgeForce</string>
</dict>
</plist>
