<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncExceptPattern</key>
	<string>explicitAppbarOpacity</string>
	<key>disabledActionVisibility</key>
	<string>otherFutureOrientation</string>
	<key>disparateCompositionPosition</key>
	<string>characterAtVariable</string>
	<key>mobileQueueMode</key>
	<string>synchronousLabelSize</string>
	<key>requiredCompositionVelocity</key>
	<string>durationExceptFlyweight</string>
	<key>respectiveAssetAcceleration</key>
	<string>reusableEntropyDepth</string>
	<key>sustainableRectRate</key>
	<string>priorContainerKind</string>
	<key>temporaryQueryScale</key>
	<string>factoryCompositeMargin</string>
</dict>
</plist>
