<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionIncludeStrategy</key>
	<string>textfieldFlyweightVelocity</string>
	<key>baselineMediatorFormat</key>
	<string>metadataAdapterPadding</string>
	<key>drawerAwayFlyweight</key>
	<string>plateVersusAction</string>
	<key>remainderViaForm</key>
	<string>descriptionEnvironmentTheme</string>
	<key>uniformContainerFeedback</key>
	<string>heapProxyVisible</string>
</dict>
</plist>
