<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestSinkForce</key>
	<string>pageviewLikeObserver</string>
	<key>sharedStatefulTop</key>
	<string>channelLikeTask</string>
	<key>textfieldContainContext</key>
	<string>custompaintAndSingleton</string>
</dict>
</plist>
