<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorFromScope</key>
	<string>gradientParamDepth</string>
	<key>brushAndState</key>
	<string>crudeActionOrigin</string>
	<key>concreteBaseState</key>
	<string>futureVersusSingleton</string>
	<key>localTopicFeedback</key>
	<string>columnVisitorHead</string>
	<key>mobileMenuDuration</key>
	<string>smallBinaryHue</string>
	<key>routeMethodFeedback</key>
	<string>backwardViewBottom</string>
	<key>storeDespitePhase</key>
	<string>controllerFlyweightFlags</string>
	<key>unactivatedTransformerLocation</key>
	<string>storeExceptProxy</string>
</dict>
</plist>
