<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventTierOrientation</key>
	<string>hardStoryboardInteraction</string>
	<key>exceptionVersusBuffer</key>
	<string>decorationInterpreterBorder</string>
	<key>skinWithWork</key>
	<string>nextHistogramScale</string>
	<key>specifierBufferVelocity</key>
	<string>cupertinoPopupEdge</string>
	<key>symmetricAnimationBrightness</key>
	<string>storeDuringPlatform</string>
	<key>variantCommandStatus</key>
	<string>customizedObserverShade</string>
</dict>
</plist>
