<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProcessMomentum</key>
	<string>storageTypeBehavior</string>
	<key>bulletSinceVar</key>
	<string>statefulGraphDistance</string>
	<key>completerAwayFacade</key>
	<string>builderChainTheme</string>
	<key>constManagerBorder</key>
	<string>framePerSystem</string>
	<key>constraintFlyweightMargin</key>
	<string>radiusAndDecorator</string>
	<key>ephemeralViewTension</key>
	<string>multiConvolutionSkewy</string>
	<key>mainScaffoldForce</key>
	<string>normPrototypeShape</string>
	<key>sineInterpreterSaturation</key>
	<string>rowPatternFeedback</string>
</dict>
</plist>
