<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumContextEdge</key>
	<string>customUnaryTheme</string>
	<key>publicRichtextMargin</key>
	<string>scrollableActivityInteraction</string>
	<key>robustClipperAppearance</key>
	<string>independentPopupCount</string>
	<key>similarBulletMargin</key>
	<string>utilMementoAlignment</string>
	<key>storeBridgeInterval</key>
	<string>durationDespiteCommand</string>
	<key>titleViaLevel</key>
	<string>notificationShapeType</string>
</dict>
</plist>
