<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerEnvironmentDuration</key>
	<string>unactivatedStreamDepth</string>
	<key>iterativeSizeStatus</key>
	<string>stateEnvironmentName</string>
	<key>otherDurationAppearance</key>
	<string>tangentOrStyle</string>
	<key>pivotalSeguePressure</key>
	<string>pinchableSliderVisibility</string>
	<key>visibleUsecaseTag</key>
	<string>mapForMode</string>
</dict>
</plist>
