<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandModeMode</key>
	<string>textfieldDuringVariable</string>
	<key>compositionInsideCycle</key>
	<string>apertureAsStructure</string>
	<key>firstGiftInterval</key>
	<string>mediocreMarginDelay</string>
	<key>interactiveHeroPadding</key>
	<string>groupAroundCommand</string>
	<key>lastAccessorySize</key>
	<string>standaloneSliderFlags</string>
	<key>sinkSingletonInteraction</key>
	<string>vectorSystemColor</string>
	<key>sizeFromJob</key>
	<string>gridviewIncludeTier</string>
	<key>sustainableMediaTransparency</key>
	<string>unactivatedSignatureBrightness</string>
</dict>
</plist>
