<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinePerVisitor</key>
	<string>rowKindFrequency</string>
	<key>characterKindTail</key>
	<string>requiredRectName</string>
	<key>concreteRequestMomentum</key>
	<string>transformerPlatformLeft</string>
	<key>decorationByInterpreter</key>
	<string>subtleMediaStyle</string>
	<key>delicateHandlerVisible</key>
	<string>providerBeyondKind</string>
	<key>explicitBufferLocation</key>
	<string>eventOperationVelocity</string>
	<key>exponentEnvironmentCount</key>
	<string>significantHeroSaturation</string>
	<key>immediateBehaviorTail</key>
	<string>desktopBatchDelay</string>
</dict>
</plist>
