<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactiveAwaitBottom</key>
	<string>stateExceptMethod</string>
	<key>intermediateSingletonDelay</key>
	<string>primaryLabelBorder</string>
	<key>liteDimensionShape</key>
	<string>cupertinoObserverTheme</string>
	<key>liteIconShape</key>
	<string>delicateGridRight</string>
	<key>providerMethodCoord</key>
	<string>hardVariantSpacing</string>
	<key>resolverKindSpeed</key>
	<string>rowForTemple</string>
	<key>taskFormMode</key>
	<string>subscriptionCycleStyle</string>
</dict>
</plist>
