<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorOrNumber</key>
	<string>resolverScopeValidation</string>
	<key>featureWithoutStrategy</key>
	<string>transitionAgainstStage</string>
	<key>inheritedCaptionBrightness</key>
	<string>localizationByCycle</string>
	<key>pinchableRouteSkewy</key>
	<string>concreteInteractorScale</string>
	<key>rectFacadeRight</key>
	<string>tappableBinaryScale</string>
	<key>requiredMetadataAppearance</key>
	<string>hashFormVelocity</string>
	<key>resizableBlocSpeed</key>
	<string>substantialExponentStyle</string>
	<key>scrollableBaseRight</key>
	<string>interpolationAmongType</string>
	<key>statelessRoleFormat</key>
	<string>exceptionOperationAcceleration</string>
</dict>
</plist>
